<page-router-outlet></page-router-outlet>

<!--<ActionBar class="actionBar__root" flat="true">-->
    <!--<FlexboxLayout class="actionBar__flexbox">-->
        <!--&lt;!&ndash; settings wheel &ndash;&gt;-->
        <!--<Button class="fal ab-icon" text="&#xf2bd;" width="33"></Button>-->
        <!--&lt;!&ndash; hidden &ndash;&gt;-->
        <!--<Button class="fal ab-icon hidden" text="&#xf013;" width="33"></Button>-->
        <!--&lt;!&ndash; chaikin logo &ndash;&gt;-->
        <!--<Label text="Idea Explorer" width="170"></Label>-->
        <!--&lt;!&ndash; hidden  &ndash;&gt;-->
        <!--<Button class="fal ab-icon hidden" text="&#xf303;" width="33"></Button>-->
        <!--&lt;!&ndash; alerts icon &ndash;&gt;-->
        <!--<Button class="fal ab-icon" text="&#xf303;" width="33"></Button>-->
    <!--</FlexboxLayout>-->
<!--</ActionBar>-->


<!--<StackLayout height="100%" class="explore__container" xmlns="http://schemas.nativescript.org/tns.xsd">-->
    <!--<ScrollView orientation="vertical">-->

        <!--<StackLayout class="explore__body">-->

            <!--&lt;!&ndash; SCREENER &ndash;&gt;-->
            <!--<CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">-->
                <!--<StackLayout class="card-view__stack explore&#45;&#45;screener">-->

                    <!--<GridLayout rows="75,auto" columns="*,50" class="explore__card-header">-->
                        <!--<Label row="0" col="0" class="explore-title" text="Screen"></Label>-->
                        <!--<Button row="0" col="1" class="fal card-action" text="&#xf065;"></Button>-->
                        <!--<Button row="0" col="1" class="fal card-action minus" text="&#xf068;"></Button>-->
                        <!--<StackLayout row="1" col="0" colSpan="2" class="button__container" orientation="horizontal">-->
                            <!--<Button class="name" text="Choose a starting universe"  horizontalAlignment="left" verticalAlignment="center" width="80%"></Button>-->
                            <!--<Button horizontalAlignment="right" verticalAlignment="center" class="fal action-icon" text="&#xf054;" width="20%"></Button>-->
                            <!--&lt;!&ndash; 	                     	<dd:DropDown items="{{ items }}" selectedIndex="{{ selectedIndex }}"-->
                                                                     <!--opened="dropDownOpened" closed="dropDownClosed"-->
                                                                     <!--selectedIndexChanged="dropDownSelectedIndexChanged"-->
                                                                     <!--row="0" colSpan="2" ></dd:DropDown>-->
                                                        <!--<Label text="Selected Index:" row="1" col="0" fontSize="18" verticalAlignment="bottom"></Label>-->
                                                        <!--<TextField text="{{ selectedIndex }}" row="1" col="1" ></TextField> &ndash;&gt;-->
                        <!--</StackLayout>-->
                    <!--</GridLayout>-->

                    <!--<GridLayout rows="auto" columns="50,*" class="explore__card-body">-->
                        <!--<Label row="0" col="0" class="fal explore-icon" text="&#xf1de;" horizontalAlignment="left"></Label>-->
                        <!--<Label row="0" col="1" class="body-copy" text="Donec luctus lacinia nulla, eu tincidunt enim facilisis imperdiet. Aliquam nibh odio, porta sed." textWrap="true"></Label>-->
                    <!--</GridLayout>-->
                <!--</StackLayout>-->
            <!--</CardView>-->


            <!--&lt;!&ndash; DISCOVER &ndash;&gt;-->
            <!--<CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">-->
                <!--<StackLayout class="card-view__stack explore&#45;&#45;discover">-->

                    <!--<GridLayout rows="75,auto" columns="*,50" class="explore__card-header">-->
                        <!--<Label row="0" col="0" class="explore-title" text="Discover"></Label>-->
                        <!--<Button row="0" col="1" class="fal card-action" text="&#xf065;"></Button>-->
                        <!--<Button row="0" col="1" class="fal card-action minus" text="&#xf068;"></Button>-->
                        <!--<StackLayout row="1" col="0" colSpan="2" class="input__container">-->
                            <!--<Button class="name" text="Find similar stocks" horizontalAlignment="left" verticalAlignment="center" width="100%" (tap)="navToDiscover()"></Button>-->
                            <!--&lt;!&ndash;<TextField hint="Enter a stock to discover" autocorrect="false" (textChange)="onTextChange($event)" (returnPress)="onReturn($event)" class="input input-border"horizontalAlignment="center" verticalAlignment="center"></TextField>&ndash;&gt;-->
                        <!--</StackLayout>-->
                    <!--</GridLayout>-->

                    <!--<GridLayout rows="auto" columns="50,*" class="explore__card-body">-->
                        <!--<Label row="0" col="0" class="fal explore-icon" text="&#xf5d2;" horizontalAlignment="left"></Label>-->
                        <!--<Label row="0" col="1" class="body-copy" text="Donec luctus lacinia nulla, eu tincidunt enim facilisis imperdiet. Aliquam nibh odio, porta sed." textWrap="true"></Label>-->
                    <!--</GridLayout>-->
                <!--</StackLayout>-->
            <!--</CardView>-->

            <!--&lt;!&ndash; IDEAS &ndash;&gt;-->
            <!--<CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">-->
                <!--<StackLayout class="card-view__stack explore&#45;&#45;ideas">-->

                    <!--<GridLayout rows="75,auto" columns="*,50" class="explore__card-header">-->
                        <!--<Label row="0" col="0" class="explore-title" text="Idea Lists"></Label>-->
                        <!--<Button row="0" col="1" class="fal card-action" text="&#xf065;"></Button>-->
                        <!--<Button row="0" col="1" class="fal card-action minus" text="&#xf068;"></Button>-->
                        <!--<StackLayout row="1" col="0" colSpan="2" class="button__container" orientation="horizontal">-->
                            <!--<Button class="name" text="Show me a random list"  horizontalAlignment="left" verticalAlignment="center" width="80%"></Button>-->
                            <!--<Button horizontalAlignment="right" verticalAlignment="center" class="fal action-icon" text="&#xf054;" width="20%"></Button>-->
                        <!--</StackLayout>-->
                    <!--</GridLayout>-->

                    <!--<GridLayout rows="auto" columns="50,*" class="explore__card-body">-->
                        <!--<Label row="0" col="0" class="fal explore-icon" text="&#xf670;" horizontalAlignment="left"></Label>-->
                        <!--<Label row="0" col="1" class="body-copy" text="Classic bulls & bears, buy & sell signals, Industry groups and sectos." textWrap="true"></Label>-->
                    <!--</GridLayout>-->

                    <!--<StackLayout orientation="vertical" class="explore__card-lst">-->
                        <!--<GridLayout rows="60" columns="*,40" class="lst__item">-->
                            <!--<Label row="0" col="0" class="lst-name" text="Chaikin Hot Lists" horizontalAlignment="left"></Label>-->
                            <!--<Button row="0" col="1" class="fal action-icon" text="&#xf054;"></Button>-->
                        <!--</GridLayout>-->

                        <!--<GridLayout rows="60" columns="*,40" class="lst__item">-->
                            <!--<Label row="0" col="0" class="lst-name" text="Idea Lists" horizontalAlignment="left"></Label>-->
                            <!--<Button row="0" col="1" class="fal action-icon" text="&#xf054;"></Button>-->
                        <!--</GridLayout>-->
                    <!--</StackLayout>-->
                <!--</StackLayout>-->
            <!--</CardView>-->

            <!--&lt;!&ndash; EARNINGS &ndash;&gt;-->
            <!--<CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">-->
                <!--<StackLayout class="card-view__stack explore&#45;&#45;earnings">-->

                    <!--<GridLayout rows="75,auto" columns="*,50" class="explore__card-header">-->
                        <!--<Label row="0" col="0" class="explore-title" text="Earnings"></Label>-->
                        <!--<Button row="0" col="1" class="fal card-action" text="&#xf065;"></Button>-->
                        <!--<Button row="0" col="1" class="fal card-action minus" text="&#xf068;"></Button>-->
                        <!--<CardView row="1" col="0" colSpan="2" class="earnings-week__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1">-->
                            <!--<GridLayout rows="auto" columns="*,*,*,*,*" class="week">-->

                                <!--<StackLayout row="0" col="0" class="day selected-day" orientation="vertical">-->
                                    <!--<Label class="date" text="5/15" horizontalAlignment="center"></Label>-->
                                    <!--<Button class="reporting" text="23" horizontalAlignment="center"></Button>-->
                                    <!--<Label class="weekday" text="MON" horizontalAlignment="center"></Label>-->
                                <!--</StackLayout>-->
                                <!--<StackLayout row="0" col="1" class="day" orientation="vertical">-->
                                    <!--<Label class="date" text="5/16" horizontalAlignment="center"></Label>-->
                                    <!--<Button class="reporting" text="8" horizontalAlignment="center"></Button>-->
                                    <!--<Label class="weekday" text="TUE" horizontalAlignment="center"></Label>-->
                                <!--</StackLayout>-->
                                <!--<StackLayout row="0" col="2" class="day" orientation="vertical">-->
                                    <!--<Label class="date" text="5/17" horizontalAlignment="center"></Label>-->
                                    <!--<Button class="reporting" text="19" horizontalAlignment="center"></Button>-->
                                    <!--<Label class="weekday" text="WED" horizontalAlignment="center"></Label>-->
                                <!--</StackLayout>-->
                                <!--<StackLayout row="0" col="3" class="day" orientation="vertical">-->
                                    <!--<Label class="date" text="5/18" horizontalAlignment="center"></Label>-->
                                    <!--<Button class="reporting" text="40" horizontalAlignment="center"></Button>-->
                                    <!--<Label class="weekday" text="THU" horizontalAlignment="center"></Label>-->
                                <!--</StackLayout>-->
                                <!--<StackLayout row="0" col="4" class="day" orientation="vertical">-->
                                    <!--<Label class="date" text="5/19" horizontalAlignment="center"></Label>-->
                                    <!--<Button class="reporting" text="14" horizontalAlignment="center"></Button>-->
                                    <!--<Label class="weekday" text="FRI" horizontalAlignment="center"></Label>-->
                                <!--</StackLayout>-->
                            <!--</GridLayout>-->
                        <!--</CardView>-->
                    <!--</GridLayout>-->

                    <!--<GridLayout rows="auto" columns="50,*" class="explore__card-body">-->
                        <!--<Label row="0" col="0" class="fal explore-icon" text="&#xf51e;" horizontalAlignment="left"></Label>-->
                        <!--<Label row="0" col="1" class="body-copy" text="Aliquam nibh odio, porta sed convallis eu, feugiat vel nulla." textWrap="true"></Label>-->
                    <!--</GridLayout>-->

                    <!--<StackLayout orientation="vertical" class="explore__card-lst">-->
                        <!--<GridLayout rows="60" columns="*,40" class="lst__item">-->
                            <!--<Label row="0" col="0" class="lst-name" text="Earnings Calendar" horizontalAlignment="left"></Label>-->
                            <!--<Button row="0" col="1" class="fal action-icon" text="&#xf054;"></Button>-->
                        <!--</GridLayout>-->
                    <!--</StackLayout>-->
                <!--</StackLayout>-->
            <!--</CardView>-->
        <!--</StackLayout>-->
    <!--</ScrollView>-->
<!--</StackLayout>-->
