// Explore / Idea Route Sass Sheet
@import '../_variables.scss';

/************************   EXPLORE   ************************/



.explore__container {
  background: $background-app;

  .explore__page {

    /*********  card-view__stack  **********/

    .explore--screener {
      .explore__card-header {
        background: {
          image: url('res://bg__explore--screener.png');
          size: cover;
          repeat: no-repeat;
          position: center;
        }
        .label {
          text-align: left; 
          padding: 5 15 10; 
          color: white; 
          font: {
            size:14;
            weight:600;
          } 
        }
        .rule {
          border-top-width:2;
          border-top-color: rgba(255,255,255,1);
          margin:0 15 5;
        }
        .criteria__container {
          margin:0 15 15;
          color:$deep-slate;
          height:45;
          border-radius:8;
          background-image: linear-gradient(180deg, #Fefefe 50%, #E7E7E7 100%);
          text-align: center;

          .criteria {
            font-size:22;
            font-weight:400;
            width:100%;
          }
        }
      }
      .explore-icon {
        color: $screener-blue;
      }
      .explore__card-body {
        padding:10;

        .screener-choice {
          background-color:$screener-blue--dark;
          border-radius:10;
          padding:5;
          margin:5 0 15;

          .label {
            color:white;
            padding:5 10 10;
            font-size:16;
            font-weight:400;
            text-align: left;
          }
          .action {
            color:white;
            font-size:18;
            padding:5 0 10;
          }
          .criteria__container {
            color:$deep-slate;
            border-radius:6;
            background-image: linear-gradient(180deg, #F8f8f8 30%, #E7E7E7 100%);
            text-align: center;
            height:45;
            margin:0;

            .criteria-dropdown {
              font-size:22;
              font-weight:400;
              width:100%;
              height:45;
            }
            .sub-label {
              background-color: white; 
              font-size: 18; 
              padding: 5; 
              color: black; 
              width: 100%; 
              text-align: center;
              border-right-width:1;
              border-right-color:#dddddd;
            }
          }
        }
        .btn--screen {
          margin:10 0 0;
          color:white;
          border-radius:8;
          background-image: $ca-green-gradient;
          text-align: center;
          font-size:20;
          height:45;
        }
        .main-label {
          text-align: left; 
          margin: 5 5 10; 
          color: $subheader-font; 
          font: {
            size:10;
            weight:800;
          } 
          text-transform: uppercase;
          letter-spacing:0.075;
        }
      }
    }

    .explore--discover {
      .explore__card-header {
        background: {
          image: url('res://bg__explore--discovery.png');
          size: cover;
          repeat: no-repeat;
          position: left center;
        }
      }
      .explore-icon {
        color: $discovery-purple;
      }
    }

    .explore--ideas {
      .explore__card-header {
        background: {
          image: url('res://bg__explore--ideas.png');
          size: cover;
          repeat: no-repeat;
          position: left center;
        }
      }
      .explore-icon {
        color: #DB3D2C;
      }
    }
    
    .explore--earnings {
      .explore__card-header {
        background: {
          image: url('res://bg__explore--earnings.png');
          size: cover;
          repeat: no-repeat;
          position: left center;
        }
      }
      .explore-icon {
        color: #009054;
      }
    }


    /********** IDEAS EXPLORER **********/


    .explore__card-header {
      background-color: #666666;
      border: {
        radius: 10;
        width:1.5;
        color:white;
      }

      .explore-title {
        color: white;
        font: {
          size:42;
          weight:200;
        }
        padding: 0 15;
        letter-spacing:0.03;
      }
      .card-action {
        color:white;
        font: {
          size:28;
        }

        &.minus {
          font: {
            size:20;
          }
        }
      }
      .input__container {
        padding:5 15 15;
        font: {
          weight: 300;
          size:20;
        }

        .input {
          width:100%;
          color:$deep-slate;
          padding:10 15;
          border-radius:8;
          background-color: rgba(255,255,255,0.95);
          text-align:left;
          placeholder-color: $slate;

          &.input-border {
            border: {
              width:1.5;
              color:white;
              radius: 10;
            }
          }
        }
      }
      .icon--search {
        font: {
          size:24;
        }
        color:$link-vary2;
        padding:5 0 15;
      }
      .button__container {
        margin:0 15 20;
        color:$slate;
        padding:5 17;
        border-radius:8;
        background-image: linear-gradient(180deg, #FFFFFF 50%, #E7E7E7 100%);

        .name {
          font: {
            weight: 300;
            size:20;
          }
          text-align:left;
        }
        .action-icon {
          text-align:right;
          font-size:22;
          color:$link-vary2;
        }
      }
    }
    .explore__card-body {
      padding:10 15 15;

      .explore-icon {
        font-size: 30;
      }

      .body-copy {
        font: {
          size:12;
          weight:400;
        }
        line-height:2.3;
        color:$main-font;
      }
    }
    .explore__card-lst {
      .lst__item {
        padding:0 15;
        border-top-width:1;
        border-top-color:$border-main--vary2;

        .lst-name {
          font: {
            size:24;
            weight:300;
          }
          color:$main-font;
        }
        .action-icon {
          text-align:right;
          font-size:22;
          color:$link-vary2;
        }
      }
    }
    .results__container {
      width:100%;

      .no-results-txt {
        font: {
          size:18;
          weight:400;
        }
        color:$main-font;
        padding:15;
      }

      .list-group--thin {
        .list-item {
          padding:3 0 1;
        }
      }
    }
    .chosen-result__container {
      .result-factors {
        padding:10 15;
        .factor {
          font: {
            size:12;
            weight:400;
          }
          color:$discovery-purple--dark;
        }
      }
    }
  }
}



.earnings-week__container {
  margin:0 10 5;

  .week {
    .day {
      width:100%;

      .date {
        color:white;
        font: {
          weight:600;
          size:14;
        }
        margin:3 0 8;
      }
      .reporting {
        color:$main-font;
        font: {
          weight:800;
          size:18;
        }
        background-color:white;
        border-bottom-width:3;
        border-bottom-color:$border-main--vary2;
        border-right-color:$border-main--vary2;
        border-right-width:1.5;
        border-radius:8;
        padding:10 0;
        margin:5 0;
        width:100%;

        &.selected-day {
          color:$link-vary2;
          border-bottom-color:$link-vary2;
          background-color: $lightest-blue;
          border-right-width:0;
        }
      }
      .weekday {
        color:white;
        font: {
          weight:600;
          size:16;
        }
        margin:8 0;
      }
      &.selected-day {
        .reporting {
          color:$link-vary2;
          border-bottom-color:$link-vary2;
          background-color: $lightest-blue;
          border-right-width:0;
        }
        .weekday {
          font: {
            weight:900;
          }
        }
      }
    }
  }
}
















