<ActionBar class="actionBar__root" flat="true">
    <Label style="text-align: center; horizontal-alignment: center;" [text]="list.name"></Label>
</ActionBar>

<StackLayout class="list-group__container">
    <GridLayout columns="*,*" rows="50" class="col-header" verticalAlignment="center">
        <GridLayout col="0" rows="auto" class="col-sort" columns="auto" horizontalAlignment="left">
            <Button row="0" col="0" class="select" text="NAME"></Button>
        </GridLayout>
        <GridLayout col="1" rows="auto" class="col-sort" columns="auto" horizontalAlignment="left">
            <Button row="0" col="0" class="select" text="POWERBAR "></Button>
        </GridLayout>
    </GridLayout>
    <!-- MY STOCKS LIST -->
    <StackLayout class="list-group" swipeActions="true" pullToRefresh="false" height="100%" *ngIf="ready">
        <RadListView [items]="list.items" class="list-group" pullToRefresh="false" height="100%">
            <ng-template let-item="item" let-i="index" tkListItemTemplate>
                <GridLayout rows="*" columns="5*,4*" class="list-item">
                    <GridLayout col="0" rows="30,auto" columns="60,*">
                        <SVGImage row="0" col="0" rowSpan="2" class="pgr-rating" [src]="pgrRatingETF(item.pgr, item.raw)" (tap)="goToETFDetail(item.symbol)"></SVGImage>
                        <Label row="0" col="1" [text]="item.ticker" horizontalAlignment="left" class="ticker" (tap)="goToETFDetail(item)"></Label>
                        <Label row="1" col="1" colSpan-="2" [text]="item.name" horizontalAlignment="left" class="company" (tap)="goToETFDetail(item)"></Label>
                    </GridLayout>

                    <GridLayout rows="*" columns="auto, 30, auto" row="0" col="1" class="powerbar--list-item" verticalAlignment="center">
                        <Label col="0" (tap)="goToListDetail(item)" [width]="setBullWidth(item)" class="powerbar powerbar--green"></Label>
                        <Label col="1" (tap)="goToListDetail(item)" class="powerbar powerbar--yellow"></Label>
                        <Label col="2" (tap)="goToListDetail(item)" [width]="setBearWidth(item)" class="powerbar powerbar--red"></Label>
                        <Label col="0" [text]="item.bull" (tap)="goToListDetail(item)" class="powerbar-txt"></Label>
                        <Label col="1" [text]="item.neut" (tap)="goToListDetail(item)" class="powerbar-txt"></Label>
                        <Label col="2" [text]="item.bear" (tap)="goToListDetail(item)" class="powerbar-txt"></Label>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
    </StackLayout>
</StackLayout>
