/********** LIST DIRECTORY **********/

@import '../_variables.scss';

.lst-lst__container {
  background: $background-main;
  color:$white;
  padding-top:1;
  max-height: 100%;
  height: 100%;

  .lst-lst__body {
    height: 100%;
    max-height: 100%;

    .lst-item {
      border-top-width:1;
      border-top-color:$border-invert;
      border-bottom-width:1;
      border-bottom-color:$border-main;
      background: $background-main;

      .lst-icon {
        font-size: 22;
        color:$link-vary1;

        &.lst-icon--submenu {
          font-size: 18;
          color:$link-vary1;
        }
        &.lst-icon--chevron {
          color:$white;
        }
      }
      .lst-txt-lg {
        font-size: 28;
        font-weight: 200;
        color:$white;
        text-align:left;
        padding:7 0 2;
      }
      .lst-txt-md {
        font-size: 22;
        font-weight: 200;
        color:$white;
        text-align:left;
        padding:10 0;
      }
      .lst-txt-sm {
        font-size: 12;
        font-weight: 300;
        color:$link-vary1;
        text-align:left;
        padding:0;
        margin:0 0 5;
      }
      &.lst-item--locked {
        border-top-width:0;
        border-bottom-width:0;
        background: rgba(255,255,255,0.03);

        .lst-icon, .lst-icon--chevron, .lst-txt-lg, .lst-txt-sm  {
          color:$main-font--invert;
          opacity:0.5;
        }
      }
    }
  }
}


