<ActionBar class="actionBar__root" flat="true" style="visibility: visible">
    <GridLayout rows="*" columns="35,*,35" class="actionBar__flexbox">
        <Button row="0" col="0" class="fal ab-icon" text="&#xf2bd;" [nsRouterLink]="['/settings']" pageTransition="slideRight"></Button>
        <Label row="0" col="1" text="List Directory"></Label>
    </GridLayout>
</ActionBar>

<StackLayout height="100%" class="lst-lst__container">
    <ScrollView orientation="vertical">
        <StackLayout class="lst-lst__body">

            <!-- add 'lst-item--locked' to class 'lst-item' -->
            <!-- swap this: &#xf054; -- to this: &#xf30d; -- for the lock icon -->

            <GridLayout columns="60,*,50" rows="auto,auto" class="lst-item">
                <Button col="0" row="0" rowSpan="2" text="&#xf005;" class="fal lst-icon"                    (tap)="navigateTo('Starred')"></Button>
                <Button col="1" row="0" text="Starred" class="lst-txt-lg"                                   (tap)="navigateTo('Starred')"></Button>
                <Button col="1" row="1" text="Stocks, ETFs & Industries you've starred" class="lst-txt-sm"  (tap)="navigateTo('Starred')"></Button>
                <Button col="2" row="0" rowSpan="2" text="&#xf054;" class="fal lst-icon lst-icon--chevron"  (tap)="navigateTo('Starred')"></Button>
            </GridLayout>

            <GridLayout columns="60,*,50" rows="auto,auto" class="lst-item" *ngIf="user.type !== 'free'">
                <Button col="0" row="0" rowSpan="2" text="&#xf46d;" class="fal lst-icon"                    (tap)="navigateToSubmenu('My Lists')"></Button>
                <Button col="1" row="0" text="My Lists" class="lst-txt-lg"                                  (tap)="navigateToSubmenu('My Lists')"></Button>
                <Button col="1" row="1" text="Your lists from Chaikin Analytics Web" class="lst-txt-sm"     (tap)="navigateToSubmenu('My Lists')"></Button>
                <Button col="2" row="0" rowSpan="2" text="&#xf054;" class="fal lst-icon lst-icon--chevron"  (tap)="navigateToSubmenu('My Lists')"></Button>
            </GridLayout>

            <GridLayout columns="60,*,50" rows="auto,auto" class="lst-item">
                <Button col="0" row="0" rowSpan="2" text="&#xf1fe;" class="fal lst-icon"                    (tap)="navToPowBar('Major Indices')"></Button>
                <Button col="1" row="0" text="Major Indices" class="lst-txt-lg"                             (tap)="navToPowBar('Major Indices')"></Button>
                <Button col="1" row="1" text="S&P, Dow Industrial, Nasdaq, Russell..." class="lst-txt-sm"   (tap)="navToPowBar('Major Indices')"></Button>
                <Button col="2" row="0" rowSpan="2" text="&#xf054;" class="fal lst-icon lst-icon--chevron"  (tap)="navToPowBar('Major Indices')"></Button>
            </GridLayout>

            <GridLayout columns="60,*,50" rows="auto,auto" class="lst-item">
                <Button col="0" row="0" rowSpan="2" text="&#xf200;" class="fal lst-icon"                    (tap)="navSPDRtoPowBar('SPDR Sectors')"></Button>
                <Button col="1" row="0" text="SPDR Sectors" class="lst-txt-lg"                              (tap)="navSPDRtoPowBar('SPDR Sectors')"></Button>
                <Button col="1" row="1" text="Technology, Healthcare, Energy..." class="lst-txt-sm"         (tap)="navSPDRtoPowBar('SPDR Sectors')"></Button>
                <Button col="2" row="0" rowSpan="2" text="&#xf054;" class="fal lst-icon lst-icon--chevron"  (tap)="navSPDRtoPowBar('SPDR Sectors')"></Button>
            </GridLayout>
            <!--<GridLayout columns="60,*,50" rows="auto,auto" class="lst-item">-->
                <!--<Button col="0" row="0" rowSpan="2" text="&#xf0e8;" class="fal lst-icon"></Button>-->
                <!--<Button col="1" row="0" text="SPDR Subsectors" class="lst-txt-lg"></Button>-->
                <!--<Button col="1" row="1" text="Bank ETFs, Insurance ETFs, Biotech ETFs..." class="lst-txt-sm"></Button>-->
                <!--<Button col="2" row="0" rowSpan="2" text="&#xf054;" class="fal lst-icon lst-icon&#45;&#45;chevron"></Button>-->
            <!--</GridLayout>-->
            <GridLayout columns="60,*,50" rows="auto,auto" class="lst-item">
                <Button col="0" row="0" rowSpan="2" text="&#xf3b3;" class="fal lst-icon"                    (tap)="navigateToSubmenu('Industries')"></Button>
                <Button col="1" row="0" text="Industries" class="lst-txt-lg"                                (tap)="navigateToSubmenu('Industries')"></Button>
                <Button col="1" row="1" text="Agriculture, Banks, Coal, Finance..." class="lst-txt-sm"      (tap)="navigateToSubmenu('Industries')"></Button>
                <Button col="2" row="0" rowSpan="2" text="&#xf054;" class="fal lst-icon lst-icon--chevron"  (tap)="navigateToSubmenu('Industries')"></Button>
            </GridLayout>

            <GridLayout columns="60,*,50" rows="auto,auto" class="lst-item">
                <Button col="0" row="0" rowSpan="2" text="&#xf19c;" class="fal lst-icon"                    (tap)="navigateToSubmenu('US Equity ETFs')"></Button>
                <Button col="1" row="0" text="US Equity ETFs" class="lst-txt-lg"                            (tap)="navigateToSubmenu('US Equity ETFs')"></Button>
                <Button col="1" row="1" text="Grouped into categories, sector & style" class="lst-txt-sm"   (tap)="navigateToSubmenu('US Equity ETFs')"></Button>
                <Button col="2" row="0" rowSpan="2" text="&#xf054;" class="fal lst-icon lst-icon--chevron"  (tap)="navigateToSubmenu('US Equity ETFs')"></Button>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>
