<StackLayout class="mainPage--login">
    <GridLayout rows="3*,2*,auto" height="100%">
        <Image row="0" src="res://LOGO__Login--SEE" class="login-logo"></Image>
        <GridLayout row="1" columns="*, auto, auto" rows="40,40,40,40" class="loginForm">
            <TextField row="0" #emailField colSpan="3" keyboardType="email" hint="Email" [(ngModel)]="input.email" class="loginInput"></TextField>
            <TextField row="1" #passwordField  colSpan="3" secure="true" class="loginInput" hint="Password" [(ngModel)]="input.password" (returnPress)="submitLogin(input)"></TextField>
            <Button row="2" colSpan="3" class="signinBtn" verticalAlignmnet="center" text="Sign In" (tap)="submitLogin(input)"></Button>
            <Button row="3" text="Register New User" class="new-user" verticalAlignmnet="center" (tap)="registerPrompt()" col="0"></Button>
            <CheckBox row="3" col="1" #CB1 checked="false" class="rememberLoginCheck"   verticalAlignmnet="center" [(ngModel)]="checkTest" boxType="square" (checkedChange)="checkedChange(CB1)"></CheckBox>
            <Button row="3" text="Remember Me" class="remember-me" (tap)="rememberMe()" col="2"  verticalAlignmnet="center"></Button>
        </GridLayout>
        <StackLayout row="2" verticalAlignment="bottom">
            <Label textWrap="true" verticalAlignment="bottom" class="legal"
                   text="Chaikin Analytics, LLC, and its parent Chaikin Holdings, LLC (the 'Company') are not registered as a securities broker dealer or investment advisor with either the U.S. Securities and Exchange Commission or with any state securities regulatory authority. The Company is not responsible for trades executed by users of their reports, analytics, web sites or mobile apps based on the information included herein. The information presented in the Company's reports, analytics, etc. does not represent a recommendation to buy or sell stocks or any financial instrument nor is it intended as an endorsement of any security or investment. The information is generic by nature and is not personalized to the specific financial situation of any individual."></Label>
        </StackLayout>
    </GridLayout>
</StackLayout>

