/********** MARKET COMPONENT **********/
@import '../_variables.scss';


/********** Market Welcome Message **********/

.mkt-msg__container {
  background: {
    color:white;
  }
}
.mkt-msg-today {
  background-image: $mkt-msg__container--vary6;
  color: $white;

  .mkt-icon {
    font-size: 14;
  }
  .mkt-status {
    font: {
      size:12;
      weight:500;
    }
  }
  .mkt-notice {
    font: {
      size: 12;
      weight: 400;
    }
  }
  .mkt-blurb {
    background-color: $white;
    width: 100%;
    color: $main-font;
    padding:15 20;
    margin-top:10;
    z-index:2;
    font-size:22;
    border-radius:15;
    line-height:2.5;
  }
  .blurb-icon {
    font-size: 100;
    margin-top:-55;
    margin-left:25;
  }
  .mkt-blurb-author {
    font: {
      size:14;
      weight:600;
    }
    margin-left:5;
  }
  .mkt-blurb-source{
    font: {
      size:14;
      weight:300;
    }
  }
  .mkt-date-large {
    font: {
      size: 28;
      weight: 300;
    }
    margin-left:5;
  }
}
.mkt-msg-today--top {
  padding:0 10 0 0;
}
.mkt-msg-today--bottom {
  padding:15;
}

.mkt-video__container {
  background-color: white;
  margin:5 0 2;
  border-radius:10;

  .mkt-video {
    border-radius:10;
    margin-top:-5;
    margin-bottom:-5;
  }
}



/********** Industry Focus **********/

.industry-focus {
  padding: 10 0;

  .industry-name {
    margin:0 0 0 15;
    color: $main-font;
    font: {
      size: 26;
      weight: 600;
    }
  }
  .ETF-name {
    color: $slate;
    font: {
      size: 13;
      weight: 400;
    }
    margin-bottom:10;
    margin-top:4;
    margin-left:15;
  }
  .icon--star {
    margin-bottom:10;
    margin-right:15;
  }
  .powerbar__container {
    background-color: $slate;
    border-width:1.5;
    border-color:$deep-slate;
    border-radius:25%;
    padding:3 0;
    margin:5 10 15;
  }
  .para {
    padding:5 15;
  }
}




/********** NEWS Headlines **********/


.headlines__container {
  background-color: $white;

  .list-item {
    padding:7 13 0;

    .pgr-arc-small {
      width: 30;
      height: 15;
    }
    .ticker {
      font: {
        weight: 800;
        size: 20;
      }
      color: $main-font;
      margin-left:5;
    }
    .company {
      font: {
        weight: 300;
        size: 18;
      }
      color: $slate;
    }
  }
  .scroll-menu {
    border-bottom-width: 1;
    border-bottom-color: $border-main--vary2;

    .inner-card {
      margin:0 6 10 14;
      width:300;
      
      .news-item {
        border: {
          width:0;
          radius:0;
          color:$light-grey;
        }
        border-left-width:4;
        border-left-color:$light-grey;
        background-color:white;
        padding: 0 5;

        .headline {
          background-color:$white;
          font: {
            weight: 600;
            size: 13;
          }
          line-height: 2;
          color: $bodycopy-grey;
          padding:0;
          border-radius:0;
          height:64;

          .arrow--read-more {
            color:$link-vary2;
          }
        }
        .news-source {
          font: {
            weight: 400;
            size: 11;
            style: italic;
          }
          color: $link-vary2;
          padding:0;
        }
        .news-date {
          font: {
            weight: 400;
            size: 11;
          }
          color: $mid-slate;
          padding:0;
        }
      }
    }
  }
}



























