<ActionBar class="actionBar__root"  flat="true">
    <GridLayout rows="*" columns="35,*,35" class="actionBar__flexbox">
        <Button row="0" col="0" class="fal ab-icon" text="&#xf2bd;" width="33" [nsRouterLink]="['/settings']" pageTransition="slideRight"></Button>
        <Image row="0" col="1" class="logo" height="25" width="170" src="res://Root-Head__Logo" (tap)="scrollToTop()" horizontalAlignment="center" verticalAlignment="middle"></Image>
        <Button row="0" col="2" class="fal ab-icon" text="&#xf01e;" (tap)="refresh()" width="33"></Button>
    </GridLayout>
</ActionBar>

<GridLayout class="main__container" rows="*" height="100%">
    <ScrollView row="0" orientation="vertical" #MarketScroll (scroll)="onScroll($event)">
        <StackLayout>
            <CardView class="card-view__container" radius="10" elevation="5" shadowOpacity="0.15" shadowRadius="1" margin="5 0 10">
                <StackLayout class="card-view__stack mkt-msg__container">
                    <GridLayout class="mkt-msg-today mkt-msg-today--top" columns="30,auto,auto,auto" rows="44">
                        <Label col="0" row="0" class="fas mkt-icon" text="&#xf77f;" horizontalAlignment="center" verticalAlignment="middle"></Label>
                        <Label col="1" row="0" class="mkt-status" [text]="getMarketStatus()" verticalAlignment="middle"></Label>
                        <Label col="2" row="0" class="mkt-notice" text=" Prices as of " verticalAlignment="middle" *ngIf="marketStatus"></Label>
                        <Label col="3" row="0" class="mkt-notice" [text]="date | date:'short'" horizontalAlignment="right" verticalAlignment="middle" *ngIf="marketStatus"></Label>
                        <!--<Button *ngIf="showMorningInsights" col="2" row="0" class="fal mkt-icon" text="&#xf00d;" horizontalAlignment="right"></Button>-->
                    </GridLayout>
                    <!-- VIDEO PLAYER -->
                    <!--<StackLayout class="mkt-video__container" *ngIf="morningInsights">-->
                        <!--&lt;!&ndash;<VideoPlayer class="mkt-video" [src]="getVideoUrl" height="206"></VideoPlayer>&ndash;&gt;-->
                        <!--<YoutubePlayer apiKey="AIzaSyAOoEyaR6nJdemik6ULiPQt0y2vZYgjJ_0" [src]="morningInsight.url" autoplay="true" backgroundColor="gray" height="210" width="100%"></YoutubePlayer>-->
                    <!--</StackLayout>-->
                </StackLayout>
            </CardView>

            <!--MAJOR INDICES -->
            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 10">
                <StackLayout class="card-view__stack">
                    <!-- CARD VIEW HEADER -->
                    <GridLayout rows="auto, auto" columns="50,*,40" class="card-view__header">
                        <Button col="0" row="0" rowSpan="2" class="far card-icon" style="text-align: center" text="&#xf1fe;"></Button>
                        <Label col="1" row="0" class="card-title" text="MAJOR INDICES"></Label>
                        <Label col="1" row="1" class="card-subtitle" text="Top U.S. Indices"></Label>
                        <Button col="3" row="0" rowSpan="2" horizontalAlignment="center" verticalAlignment="middle" class="fal card-action" text="&#xf065;"></Button>
                        <Button col="3" row="0" rowSpan="2" horizontalAlignment="center" verticalAlignment="center" class="fal card-action minus" [text]="show.index ? '&#xf068;' : '&#xf067;'" (tap)="toggle('index')"></Button>
                    </GridLayout>

                    <StackLayout *ngIf="show.index == true">
                        <GridLayout columns="74,7*,132,*" rows="*" class="col-header" verticalAlignment="center" (tap)="majorIndicesSort('pgr')">
                            <GridLayout col="0"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="center">
                                <Button row="0" col="0" class="select" text="RATING " (tap)="majorIndicesSort('pgr')"></Button>
                                <Label row="0" col="1" class="fas" *ngIf="index.carat == 'pgr' && index.toggle" text="&#xf077;" horizontalAlignment="left"></Label>
                                <Label row="0" col="1" class="fas" *ngIf="index.carat == 'pgr' && !index.toggle" text="&#xf078;" horizontalAlignment="left"></Label>
                            </GridLayout>
                            <GridLayout col="1" rows="*"  columns="auto,auto">
                                <GridLayout col="0" rows="*" columns="auto,auto" class="col-sort" horizontalAlignment="left" (tap)="majorIndicesSort('symbol')">
                                    <Button row="0" col="0" class="select" text="TICKER " (tap)="majorIndicesSort('symbol')"></Button>
                                    <Label row="0" col="1" class="fas" *ngIf="index.carat == 'symbol' && index.toggle" text="&#xf077; " horizontalAlignment="left"></Label>
                                    <Label row="0" col="1" class="fas" *ngIf="index.carat == 'symbol' && !index.toggle" text="&#xf078; " horizontalAlignment="left"></Label>
                                </GridLayout>
                                <GridLayout col="1"  rows="*" columns="auto,auto" class="col-sort" horizontalAlignment="left" (tap)="majorIndicesSort('name')">
                                    <Button row="0" col="0" class="select" text=" |  INDEX " (tap)="majorIndicesSort('name')"></Button>
                                    <Label row="0" col="1" class="fas" *ngIf="index.carat == 'name' && index.toggle" text="&#xf077;" horizontalAlignment="left"></Label>
                                    <Label row="0" col="1" class="fas" *ngIf="index.carat == 'name' && !index.toggle" text="&#xf078;" horizontalAlignment="left"></Label>
                                </GridLayout>
                            </GridLayout>
                            <GridLayout col="2" rows="*" columns="auto,auto">
                                <GridLayout col="0" rows="*" columns="auto,auto" class="col-sort" horizontalAlignment="left" (tap)="majorIndicesSort('last')">
                                    <Button row="0" col="0" class="select" text="PRICE " (tap)="majorIndicesSort('last')"></Button>
                                    <Label row="0" col="1" class="fas" *ngIf="index.carat == 'last' && index.toggle" text="&#xf077;" horizontalAlignment="left"></Label>
                                    <Label row="0" col="1" class="fas" *ngIf="index.carat == 'last' && !index.toggle" text="&#xf078;" horizontalAlignment="left"></Label>
                                </GridLayout>
                                <GridLayout col="1" rows="*" columns="auto,auto" class="col-sort" horizontalAlignment="left" (tap)="majorIndicesSort('change')">
                                    <Button row="0" col="0" class="select" text=" |  CHANGE " (tap)="majorIndicesSort('change')"></Button>
                                    <Label row="0" col="1" class="fas" *ngIf="index.carat == 'change' && index.toggle" text="&#xf077;" horizontalAlignment="left"></Label>
                                    <Label row="0" col="1" class="fas" *ngIf="index.carat == 'change' && !index.toggle" text="&#xf078;" horizontalAlignment="left"></Label>
                                </GridLayout>
                            </GridLayout>
                        </GridLayout>

                        <!-- INDICE LIST -->
                        <StackLayout *ngFor="let item of index" class="list-group">
                            <GridLayout rows="30,auto" columns="74,7*,72,60,*" class="list-item">
                                <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgrRatingETF(item.pgr, item.raw)" (tap)="goToEtfDetail(item.symbol)"></SVGImage>
                                <Button row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol" (tap)="goToEtfDetail(item.symbol)"></Button>
                                <Label row="1" col="1" horizontalAlignment="left" class="company" [text]="item.name" (tap)="goToEtfDetail(item.symbol)"></Label>
                                <Label row="0" col="2" colSpan="2" horizontalAlignment="left" class="main-data" [text]="itemLastFormatter(item.last)" [ngClass]="healthColorFormatter(item.change)"></Label>
                                <Label row="1" col="2" horizontalAlignment="left" class="sub-data" [text]="itemChangeFormatter(item.change)" [ngClass]="healthColorFormatter(item.change)"></Label>
                                <Label row="1" col="3" horizontalAlignment="left" class="sub-data" style="font-style: italic" [text]="itemPercentFormatter(item.percent)" [ngClass]="healthColorFormatter(item.percent)"></Label>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>

            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" *ngIf="shouldIShowAds()">
                <Image [src]="getAdSrc()" (tap)="goToAds()" width="300" height="250"></Image>
            </CardView>

            <!-- SECTOR TRACKER -->
            <CardView class="card-view__container" elevation="5" radius="10"  shadowOpacity="0.15" shadowRadius="1" margin="5 0 10">
                <StackLayout class="card-view__stack">

                    <!-- CARD HEADER -->
                    <GridLayout rows="auto, auto" columns="50,*,40" class="card-view__header">
                        <Button col="0" row="0" rowSpan="2" class="far card-icon" text="&#xf200;"></Button>
                        <Label col="1" row="0" class="card-title" text="SECTOR TRACKER"></Label>
                        <Label col="1" row="1" class="card-subtitle" text="U.S. ETFs"></Label>
                        <Button col="2" row="0" rowSpan="2" horizontalAlignment="center" verticalAlignment="middle" class="fal card-action" text="&#xf065;"></Button>
                        <Button col="2" row="0" rowSpan="2" horizontalAlignment="center" verticalAlignment="middle" class="fal card-action minus" [text]="show.sector ? '&#xf068;' : '&#xf067;'" (tap)="toggle('sector')"></Button>
                    </GridLayout>

                    <StackLayout *ngIf="show.sector == true">
                        <!-- TIME RANGE SELECT -->
                        <GridLayout columns="*,*,*,*,*,*,*" rows="36" class="selection-bar">
                            <Button col="0" row="0" text="1D" (tap)="sectorTrackerDateChange('1D')" [ngClass]="sectorOptions.date_range == '1D' ? 'indSelected' : 'mkt-sector-btn'"></Button>
                            <Button col="1" row="0" text="5D" (tap)="sectorTrackerDateChange('5D')" [ngClass]="sectorOptions.date_range == '5D' ? 'indSelected' : 'mkt-sector-btn'"></Button>
                            <Button col="2" row="0" text="1M" (tap)="sectorTrackerDateChange('1M')" [ngClass]="sectorOptions.date_range == '1M' ? 'indSelected' : 'mkt-sector-btn'"></Button>
                            <Button col="3" row="0" text="3M" (tap)="sectorTrackerDateChange('3M')" [ngClass]="sectorOptions.date_range == '3M' ? 'indSelected' : 'mkt-sector-btn'"></Button>
                            <Button col="4" row="0" text="6M" (tap)="sectorTrackerDateChange('6M')" [ngClass]="sectorOptions.date_range == '6M' ? 'indSelected' : 'mkt-sector-btn'"></Button>
                            <Button col="5" row="0" text="YTD" (tap)="sectorTrackerDateChange('YTD')" [ngClass]="sectorOptions.date_range == 'YTD' ? 'indSelected' : 'mkt-sector-btn'"></Button>
                            <Button col="6" row="0" text="1Y" (tap)="sectorTrackerDateChange('1Y')" [ngClass]="sectorOptions.date_range == '1Y' ? 'indSelected' : 'mkt-sector-btn'"></Button>
                        </GridLayout>

                        <!-- COL HEADER -->
                        <GridLayout columns="74, 130, *" rows="*" class="col-header" verticalAlignment="center">
                            <GridLayout col="0" class="col-sort" rows="*" columns="auto,auto" horizontalAlignment="center">
                                <Button col="0" class="select" text="RATING " (tap)="sectorTrackerSort('pgr')"></Button>
                                <Label col="1" class="fas" *ngIf="sectorOptions.carat == 'pgr' && sectorOptions.toggle" text="&#xf077;" horizontalAlignment="left"></Label>
                                <Label col="1" class="fas" *ngIf="sectorOptions.carat == 'pgr' && !sectorOptions.toggle" text="&#xf078;" horizontalAlignment="left"></Label>
                            </GridLayout>
                            <GridLayout col="1" class="col-sort" rows="*" columns="auto,auto"  horizontalAlignment="left">
                                <Button col="0" class="select" text="SECTOR NAME " (tap)="sectorTrackerSort('symbol')"></Button>
                                <Label col="1" class="fas" *ngIf="sectorOptions.carat == 'symbol' && sectorOptions.toggle" text="&#xf077;" horizontalAlignment="left"></Label>
                                <Label col="1" class="fas" *ngIf="sectorOptions.carat == 'symbol' && !sectorOptions.toggle" text="&#xf078;" horizontalAlignment="left"></Label>
                            </GridLayout>
                            <GridLayout col="2" class="col-sort" rows="*" columns="auto,auto" horizontalAlignment="left">
                                <Button col="0" class="select" text="% CHANGE " (tap)="sectorTrackerSort(sectorOptions.date_range)"></Button>
                                <Label col="1" class="fas" *ngIf="sectorOptions.carat == 'percent' && sectorOptions.toggle" text="&#xf077;" horizontalAlignment="left"></Label>
                                <Label col="1" class="fas" *ngIf="sectorOptions.carat == 'percent' && !sectorOptions.toggle" text="&#xf078;" horizontalAlignment="left"></Label>
                            </GridLayout>
                        </GridLayout>

                        <!-- LIST GROUP -->
                        <StackLayout class="list-group" *ngFor="let item of sectorTracker">
                            <GridLayout rows="30,auto" columns="74,60,70,*" class="list-item" [ngClass]="setDataColorBackgroundLight(item, sectorOptions.date_range)">
                                <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgrRatingETF(item.pgr, item.raw_pgr)" (tap)="goToEtfDetail(item.symbol)"></SVGImage>
                                <Button row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol" (tap)="goToEtfDetail(item.symbol)"></Button>
                                <Label row="0" col="2" horizontalAlignment="left" text="ETF" class="badge--ETF"></Label>
                                <Label row="1" col="1" colSpan="2" horizontalAlignment="left" class="company" [text]="item.ind_name" (tap)="goToEtfDetail(item.symbol)"></Label>
                                <Label row="0" col="3" horizontalAlignment="left" class="main-data" [text]="sectorTrackerDisplayData(item, sectorOptions.date_range)" [ngClass]="setDataColor(item, sectorOptions.date_range)"></Label>
                                <Label row="1" col="3" horizontalAlignment="left" text="" class="change-bar" [ngClass]="setDataColorBackground(item, sectorOptions.date_range)" [width]="findWidth(item, sectorOptions.dayMin, sectorOptions.dayMax, sectorOptions.date_range)"></Label>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>

            <!-- TRENDING STOCKS -->
            <CardView class="card-view__container" elevation="5" radius="10"  shadowOpacity="0.15" shadowRadius="1" margin="5 0 10">
                <StackLayout class="card-view__stack">
                    <GridLayout rows="auto, auto" columns="50,*,40" class="card-view__header">
                        <Button col="0" row="0" rowSpan="2" class="far card-icon" text="&#xf201;"></Button>
                        <Label col="1" row="0" class="card-title" text="YESTERDAY'S MOVERS"></Label>
                        <Label col="1" row="1" class="card-subtitle" text="From the S&P 500"></Label>
                        <Button col="2" row="0" rowSpan="2" class="fal card-action" text="&#xf065;"></Button>
                        <Button col="2" row="0" rowSpan="2" class="fal card-action minus" [text]="show.trending ? '&#xf068;' : '&#xf067;'" (tap)="toggle('trending')"></Button>
                    </GridLayout>
                    <StackLayout *ngIf="show.trending == true">
                        <GridLayout row="auto" columns="*, 40" class="list-header">
                            <Label  col="0" text="ADVANCING" class="sub-head" verticalAlignment="middle"></Label>
                        </GridLayout>
                        <StackLayout *ngFor="let item of gainStocks" class="list-group">
                            <GridLayout rows="30,auto" columns="74,130,*" class="list-item advancing">
                                <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgrRatingStockNeut(item.pgr, item.neutral_status)" (tap)="goToStockDetail(item.symbol)"></SVGImage>
                                <Label row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol" (tap)="goToStockDetail(item.symbol)"></Label>
                                <Label row="1" col="1" colSpan="2" horizontalAlignment="left" class="company" [text]="item.company" (tap)="goToStockDetail(item.symbol)"></Label>
                                <Label row="0" col="2" horizontalAlignment="left" class="main-data" [text]="item.percent + '%'" [ngClass]="setTrendingColors(item.percent)"></Label>
                                <Label row="1" col="2" horizontalAlignment="left" text="" class="change-bar" [ngClass]="setTrendingBackground(item.percent)" [width]="findWidthTrending(item.percent, trendingOptions.gain_max)"></Label>
                            </GridLayout>
                        </StackLayout>
                        <GridLayout row="auto" columns="*, 40" class="list-header">
                            <Label  col="0" text="DECLINING" class="sub-head" verticalAlignment="middle"></Label>
                        </GridLayout>
                        <StackLayout *ngFor="let item of loseStocks" class="list-group">
                            <GridLayout rows="30,auto" columns="74,130,*" class="list-item declining">
                                <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgrRatingStockNeut(item.pgr, item.neutral_status)" (tap)="goToStockDetail(item.symbol)"></SVGImage>
                                <Label row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol" (tap)="goToStockDetail(item.symbol)"></Label>
                                <Label row="1" col="1" colSpan="2" horizontalAlignment="left" class="company" [text]="item.company" (tap)="goToStockDetail(item.symbol)"></Label>
                                <Label row="0" col="2" horizontalAlignment="left" class="main-data" [text]="item.percent + '%'" [ngClass]="setTrendingColors(item.percent)"></Label>
                                <Label row="1" col="2" horizontalAlignment="left" text="" class="change-bar" [ngClass]="setTrendingBackground(item.percent)" [width]="findWidthLose(item.percent, trendingOptions.lose_min)"></Label>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>

            <!-- INDUSTRY SPOTLIGHT -->
            <CardView class="card-view__container" elevation="5" radius="10"  shadowOpacity="0.15" shadowRadius="1" margin="5 0 10">
                <StackLayout class="card-view__stack">
                    <GridLayout rows="auto, auto" columns="50,*,40" class="card-view__header">
                        <Button col="0" row="0" rowSpan="2" class="far card-icon" text="&#xf3b3;"></Button>
                        <Label col="1" row="0" class="card-title" text="INDUSTRY SPOTLIGHT"></Label>
                        <Label col="1" row="1" class="card-subtitle" text="SPDR Subsectors"></Label>
                        <Button col="2" row="0" rowSpan="2" class="fal card-action" text="&#xf065;"></Button>
                        <Button col="2" row="0" rowSpan="2" horizontalAlignment="center" verticalAlignment="middle" class="fal card-action minus" [text]="show.industry ? '&#xf068;' : '&#xf067;'" (tap)="toggle('industry')"></Button>
                    </GridLayout>
                    <StackLayout *ngIf="show.industry == true">
                        <GridLayout columns="*, 40" rows="auto,auto,auto,auto,auto" class="industry-focus">

                            <Label row="0" col="0" [text]="getIndustryFocusName" class="industry-name" verticalAlignment="middle" (tap)="goToEtfDetail(industryFocus.ticker)"></Label>

                            <Label row="1" col="0" [text]="industryFocus.ticker" class="ETF-name" verticalAlignment="center" (tap)="goToEtfDetail(industryFocus.ticker)"></Label>

                            <Button row="0" col="1" rowSpan="2" class="fal icon--star" text="&#xf005;" [ngClass]="starred()" (tap)="industryStar()" horizontalAlignment="right"></Button>

                            <StackLayout row="2" col="0" colSpan="2" (loaded)="getSize($event)">

                                <GridLayout *ngIf="config.bullsRatio" rows="auto" [columns]="industryCols()" class="powerbar__container" (tap)="takeMeToPowerBar(industryFocus.ticker)">
                                    <Label row="0" col="0" class="powerbar powerbar--green" width="100%" verticalAlignment="middle" horizontalAlignment="center"></Label>
                                    <Label row="0" col="0" [text]="getIndGreen" class="powerbar-txt" verticalAlignment="middle" horizontalAlignment="center"></Label>
                                    <Label row="0" col="1" class="powerbar powerbar--yellow" width="30" verticalAlignment="middle" horizontalAlignment="center"></Label>
                                    <Label row="0" col="1" [text]="getIndYellow" class="powerbar-txt" verticalAlignment="middle" horizontalAlignment="center"></Label>
                                    <Label row="0" col="2" class="powerbar powerbar--red" width="100%" verticalAlignment="middle" horizontalAlignment="center"></Label>
                                    <Label row="0" col="2" [text]="getIndRed" class="powerbar-txt"  minWidth="20%" verticalAlignment="middle" horizontalAlignment="center"></Label>
                                </GridLayout>
                            </StackLayout>


                            <Label row="3" col="0" colSpan="2" class="para" [text]="getIndFocSumm1" textWrap="true"></Label>
                            <Label row="4" col="0" colSpan="2" class="para" [text]="getIndFocSumm2" textWrap="true"></Label>

                        </GridLayout>
                        <GridLayout row="auto" columns="*, 40" class="list-header">
                            <Label  col="0" text="EXAMPLE STOCKS" class="sub-head" verticalAlignment="middle"></Label>
                        </GridLayout>
                        <StackLayout *ngFor="let item of industryFocus.items" class="list-group">
                            <GridLayout rows="30,auto" columns="74,130,*,*,30" class="list-item">
                                <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgrRatingStockNeut(item.pgr_rating, item.neutral_status)" (tap)="goToStockDetail(item.symbol)"></SVGImage>
                                <Label row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol" (tap)="goToStockDetail(item.symbol)"></Label>
                                <Label row="1" col="1" horizontalAlignment="left" class="company" [text]="item.company" (tap)="goToStockDetail(item.symbol)"></Label>
                                <Label row="0" col="2" colSpan="2" horizontalAlignment="left" class="main-data" [text]="'$' + item['last_price']" [ngClass]="healthColorFormatter(item.change)"></Label>
                                <Label row="1" col="2" horizontalAlignment="left" class="sub-data" [text]="itemChangeFormatter(item.change)" [ngClass]="healthColorFormatter(item.change)"></Label>
                                <Label row="1" col="3" horizontalAlignment="left" class="sub-data" style="font-style: italic" colSpan="2" [text]="itemPercentFormatterNoSign(item['change_percent'])" [ngClass]="healthColorFormatter(item.change)"></Label>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>

            <!-- NEWS HEADLINES -->
            <CardView class="card-view__container" elevation="5" radius="10"  shadowOpacity="0" shadowRadius="1" margin="5 0 10">
                <StackLayout class="card-view__stack">
                    <GridLayout rows="auto, auto" columns="50,*,40" class="card-view__header">
                        <Button col="0" row="0" rowSpan="2" class="far card-icon" text="&#xf1ea;"></Button>
                        <Label col="1" row="0" class="card-title" text="TOP HEADLINES"></Label>
                        <Label col="1" row="1" class="card-subtitle" [text]="date | date: 'longDate' "></Label>
                        <Button col="2" row="0" rowSpan="2" class="fal card-action" text="&#xf065;"></Button>
                        <Button col="2" row="0" rowSpan="2" horizontalAlignment="center" verticalAlignment="middle" class="fal card-action minus" [text]="show.headlines ? '&#xf068;' : '&#xf067;'" (tap)="toggle('headlines')"></Button>
                    </GridLayout>
                    <StackLayout *ngIf="show.headlines == true">
                        <GridLayout row="auto" columns="*, 40" class="list-header">
                            <Label  col="0" text="TOP STORIES" class="sub-head"></Label>
                        </GridLayout>
                        <!-- HEADLINES CONTAINER -->
                        <StackLayout height="auto" class="headlines__container">
                            <!-- Stock 1 -->
                            <GridLayout rows="auto" columns="35, 95, *, 30" class="list-item">
                                <SVGImage col="0" class="pgr-arc-small" [src]="pgrRatingNoTxtStockNeut(headlines[0].pgr, headlines[0].neutral)" (tap)="goToStockDetail(headlines[0].ticker)"></SVGImage>
                                <Label col="1" [text]="headlines[0].ticker" class="ticker" (tap)="goToStockDetail(headlines[0].ticker)"></Label>
                                <Label col="2" [text]="headlines[0].name" class="company"(tap)="goToStockDetail(headlines[0].ticker)"></Label>
                                <Button col="3" text="&#xf005;" [ngClass]="headlineStarred(0)" (tap)="headlineStar(0)"  class="fal icon--star" horizontalAlignment="right"></Button>
                            </GridLayout>
                            <StackLayout orientation="horizontal" class="scroll-menu" height="112">
                                <ScrollView orientation="horizontal">
                                    <RadListView [items]="getHeadlineOne()" width="500" orientation="horizontal" class="">
                                        <ListViewLinearLayout scrollDirection="Horizontal" tkListViewLayout></ListViewLinearLayout>
                                        <StackLayout orientation="horizontal">
                                            <ng-template let-item="item" tkListItemTemplate>
                                                <CardView class="inner-card" elevation="5" radius="6" shadowOpacity="0" shadowRadius="1">
                                                    <GridLayout rows="60,20" columns="5*,3*" class="news-item">
                                                        <Label row="0" col="0" colSpan="2" class="headline" (tap)="openBrowser(item.url)" [text]="item.title + '&nbsp;&#x2192;' " textWrap="true" verticalAlignment="top"></Label>
                                                        <Label row="1" col="0"  class="news-source" [text]="item.source"></Label>
                                                        <Label row="1" col="1" class="news-date" [text]="item.date" horizontalAlignment="right"></Label>
                                                    </GridLayout>
                                                </CardView>
                                            </ng-template>
                                        </StackLayout>
                                    </RadListView>
                                </ScrollView>
                            </StackLayout>
                            <!-- Stock 2 -->
                            <GridLayout rows="auto" columns="35, 95, *, 30" class="list-item">
                                <SVGImage col="0" class="pgr-arc-small" [src]="pgrRatingNoTxtStockNeut(headlines[1].pgr, headlines[1].neutral)" (tap)="goToStockDetail(headlines[1].ticker)"></SVGImage>
                                <Label col="1" [text]="headlines[1].ticker" class="ticker" (tap)="goToStockDetail(headlines[1].ticker)"></Label>
                                <Label col="2" [text]="headlines[1].name" class="company" (tap)="goToStockDetail(headlines[1].ticker)"></Label>
                                <Button col="3" text="&#xf005;" [ngClass]="headlineStarred(1)" (tap)="headlineStar(1)" class="fal icon--star" horizontalAlignment="right"></Button>
                            </GridLayout>
                            <StackLayout orientation="horizontal" class="scroll-menu" height="112">
                                <ScrollView orientation="horizontal">
                                    <RadListView [items]="getHeadlineTwo()" width="500" orientation="horizontal" class="">
                                        <ListViewLinearLayout scrollDirection="Horizontal" tkListViewLayout></ListViewLinearLayout>
                                        <StackLayout orientation="horizontal">
                                            <ng-template let-item="item" tkListItemTemplate>
                                                <CardView class="inner-card" elevation="5" radius="6" shadowOpacity="0" shadowRadius="1">
                                                    <GridLayout rows="60,20" columns="5*,3*" class="news-item">
                                                        <Label row="0" col="0" colSpan="2" class="headline" (tap)="openBrowser(item.url)"  [text]="item.title + '&nbsp;&#x2192;' " textWrap="true" verticalAlignment="top"></Label>
                                                        <Label row="1" col="0"  class="news-source" [text]="item.source"></Label>
                                                        <Label row="1" col="1" class="news-date" [text]="item.date" horizontalAlignment="right"></Label>
                                                    </GridLayout>
                                                </CardView>
                                            </ng-template>
                                        </StackLayout>
                                    </RadListView>
                                </ScrollView>
                            </StackLayout>
                            <!-- Stock 3 -->
                            <GridLayout rows="auto" columns="35, 95, *, 30" class="list-item">
                                <SVGImage col="0" class="pgr-arc-small" [src]="pgrRatingNoTxtStockNeut(headlines[2].pgr, headlines[2].neutral)" (tap)="goToStockDetail(headlines[2].ticker)"></SVGImage>
                                <Label col="1" [text]="headlines[2].ticker" class="ticker" (tap)="goToStockDetail(headlines[2].ticker)"></Label>
                                <Label col="2" [text]="headlines[2].name" class="company" (tap)="goToStockDetail(headlines[2].ticker)"></Label>
                                <Button col="3" text="&#xf005;" [ngClass]="headlineStarred(2)" (tap)="headlineStar(2)"  class="fal icon--star" horizontalAlignment="right"></Button>
                            </GridLayout>
                            <StackLayout orientation="horizontal" class="scroll-menu" height="112">
                                <ScrollView orientation="horizontal">
                                    <RadListView [items]="getHeadlineThree()" width="500" orientation="horizontal" class="">
                                        <ListViewLinearLayout scrollDirection="Horizontal" tkListViewLayout></ListViewLinearLayout>
                                        <StackLayout orientation="horizontal">
                                            <ng-template let-item="item" tkListItemTemplate>
                                                <CardView class="inner-card" elevation="5" radius="6" shadowOpacity="0" shadowRadius="1">
                                                    <GridLayout rows="60,20" columns="5*,3*" class="news-item">
                                                        <Label row="0" col="0" colSpan="2" class="headline" (tap)="openBrowser(item.url)"  [text]="item.title + '&nbsp;&#x2192;' " textWrap="true" verticalAlignment="top"></Label>
                                                        <Label row="1" col="0"  class="news-source" [text]="item.source"></Label>
                                                        <Label row="1" col="1" class="news-date" [text]="item.date" horizontalAlignment="right"></Label>
                                                    </GridLayout>
                                                </CardView>
                                            </ng-template>
                                        </StackLayout>
                                    </RadListView>
                                </ScrollView>
                            </StackLayout>
                            <!-- Stock 4 -->
                            <GridLayout rows="auto" columns="35, 95, *, 30" class="list-item">
                                <SVGImage col="0" class="pgr-arc-small" [src]="pgrRatingNoTxtStockNeut(headlines[3].pgr, headlines[3].neutral)" (tap)="goToStockDetail(headlines[3].ticker)"></SVGImage>
                                <Label col="1" [text]="headlines[3].ticker" class="ticker" (tap)="goToStockDetail(headlines[3].ticker)"></Label>
                                <Label col="2" [text]="headlines[3].name" class="company" (tap)="goToStockDetail(headlines[3].ticker)"></Label>
                                <Button col="3" text="&#xf005;" [ngClass]="headlineStarred(3)" (tap)="headlineStar(3)"  class="fal icon--star" horizontalAlignment="right"></Button>
                            </GridLayout>
                            <StackLayout orientation="horizontal" class="scroll-menu" height="112">
                                <ScrollView orientation="horizontal">
                                    <RadListView [items]="getHeadlineFour()" width="500" orientation="horizontal" class="">
                                        <ListViewLinearLayout scrollDirection="Horizontal" tkListViewLayout></ListViewLinearLayout>
                                        <StackLayout orientation="horizontal">
                                            <ng-template let-item="item" tkListItemTemplate>
                                                <CardView class="inner-card" elevation="5" radius="6" shadowOpacity="0" shadowRadius="1">
                                                    <GridLayout rows="60,20" columns="5*,3*" class="news-item">
                                                        <Label row="0" col="0" colSpan="2" class="headline" (tap)="openBrowser(item.url)"  [text]="item.title + '&nbsp;&#x2192;' " textWrap="true" verticalAlignment="top"></Label>
                                                        <Label row="1" col="0"  class="news-source" [text]="item.source"></Label>
                                                        <Label row="1" col="1" class="news-date" [text]="item.date" horizontalAlignment="right"></Label>
                                                    </GridLayout>
                                                </CardView>
                                            </ng-template>
                                        </StackLayout>
                                    </RadListView>
                                </ScrollView>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>

            <!-- EARNINGS UPDATE -->
            <CardView class="card-view__container" elevation="5" radius="10"  shadowOpacity="0.15" shadowRadius="1" margin="5 0 10">
                <StackLayout class="card-view__stack">

                    <!-- CARD VIEW HEADER -->
                    <GridLayout rows="auto, auto" columns="50,*,40" class="card-view__header">
                        <Button col="0" row="0" rowSpan="2" class="far card-icon" text="&#xf51e;"></Button>
                        <Label col="1" row="0" class="card-title" text="EARNINGS CALENDAR"></Label>
                        <Label col="1" row="1" class="card-subtitle" text="Reporting from the Russell 3000"></Label>
                        <Button col="2" row="0" rowSpan="2" class="fal card-action" text="&#xf065;"></Button>
                        <Button col="2" row="0" rowSpan="2" class="fal card-action minus" [text]="show.earnings ? '&#xf068;' : '&#xf067;'" (tap)="toggle('earnings')"></Button>
                    </GridLayout>

                    <StackLayout *ngIf="show.earnings == true">
                        <!-- LIST HEADER -->
                        <GridLayout rows="*" columns="*, 40" class="list-header">
                            <Label  col="0" row="0" [text]="getEarningsRecentDay()" class="sub-head"></Label>
                        </GridLayout>

                        <StackLayout col="0" row="1" *ngIf="earningsRecent.data == null" class="list-header-tertiary">
                            <Label text="No reporting data for this day." class="tertiary-head" ></Label>
                        </StackLayout>

                        <StackLayout class="list-group list-group--Earnings" *ngIf="earningsRecent.data !== null">
                            <GridLayout rows="30,auto" columns="80,110,*,40" class="list-item" *ngFor="let item of earningsRecent.data">
                                <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgrRatingStockNeut(item.pgr_rating, item.neutral_status)" (tap)="goToStockDetail(item.symbol)"></SVGImage>
                                <Button row="0" col="1" horizontalAlignment="left" class="ticker" (tap)="goToStockDetail(item.symbol)"  [text]="item.symbol"></Button>
                                <Label row="1" col="1" horizontalAlignment="left" class="company" [text]="item.company" (tap)="goToStockDetail(item.symbol)"></Label>
                                <Label row="0" col="2" class="main-data" >
                                    <FormattedString>
                                        <Span [text]="'Q' + item.revision_quarter + ': ' " class=""></Span>
                                        <Span [text]="' $' + item.actual_eps " class="bold"></Span>
                                    </FormattedString>
                                </Label>
                                <Label row="1" col="2" class="sub-data" [text]="getEarningsBeatAmount(item)" [ngClass]="getEarningsClass(item)"></Label>
                                <Label row="0" col="3" class="fal icon--cal" text="&#xf333;" [ngClass]="getEarningsClass(item)"></Label>
                            </GridLayout>
                        </StackLayout>

                        <GridLayout rows="auto" columns="*, 40" class="list-header">
                            <Label  col="0" row="0" [text]="getEarningsUpDay()" class="sub-head" verticalAlignment="middle" style="margin-top:5;"></Label>
                        </GridLayout>

                        <StackLayout class="list-header-tertiary" *ngIf="earningsUp.length == 0">
                            <Label text="" class="" verticalAlignment="middle"></Label>
                        </StackLayout>

                        <StackLayout class="list-header-tertiary" *ngIf="earningsUp.length > 0">
                            <Label text="Before Market" class="tertiary-head" verticalAlignment="middle"></Label>
                        </StackLayout>

                        <StackLayout *ngFor="let item of earningsUp" class="list-group list-group--thin">
                            <GridLayout rows="30" columns="66,80,*,60" class="list-item">
                                <SVGImage col="0" row="0" class="pgr-arc-small" [src]="pgrRatingNoText(item.pgr, item.raw_pgr)"></SVGImage>
                                <Button row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol" (tap)="goToStockDetail(item.symbol)"></Button>
                                <Label row="0" col="2" horizontalAlignment="left" class="company" [text]="item.name"></Label>
                                <Label row="0" col="3" class="fal icon--before-open" text="&#xf766;" horizontalAlignment="center"></Label>
                            </GridLayout>
                        </StackLayout>

                        <StackLayout class="list-header-tertiary" *ngIf="earningsUpAfter.length > 0">
                            <Label text="After Market" class="tertiary-head" verticalAlignment="middle"></Label>
                        </StackLayout>

                        <StackLayout class="list-header-tertiary" *ngIf="earningsUpAfter.length == 0">
                            <Label text="" class="" verticalAlignment="middle"></Label>
                        </StackLayout>

                        <StackLayout *ngFor="let item of earningsUpAfter" class="list-group list-group--thin">
                            <GridLayout rows="30" columns="66,80,*,60" class="list-item">
                                <SVGImage col="0" row="0" class="pgr-arc-small" [src]="pgrRatingNoText(item.pgr, item.raw_pgr)" (tap)="goToStockDetail(item.symbol)"></SVGImage>
                                <Button row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol" (tap)="goToStockDetail(item.symbol)"></Button>
                                <Label row="0" col="2" horizontalAlignment="left" class="company" [text]="item.name" (tap)="goToStockDetail(item.symbol)"></Label>
                                <Label row="0" col="3" class="fal icon--after-close" text="&#xf755;" horizontalAlignment="center" (tap)="goToStockDetail(item.symbol)"></Label>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ScrollView>
</GridLayout>

