<StackLayout>
    <TabView style="tab-background-color: #242C38; selected-tab-text-color: white">
        <page-router-outlet *tabItem="{title: 'Home', iconSource: 'res://TRAY__Icon--Home__Active' }" name="marketTab"></page-router-outlet>
        <page-router-outlet *tabItem="{title: 'Lists', iconSource: 'res://TRAY__Icon--List__Active' }" name="listTab"></page-router-outlet>
        <page-router-outlet *tabItem="{title: 'Search', iconSource: 'res://TRAY__Icon--Search__Active' }" name="searchTab"></page-router-outlet>
        <!--<page-router-outlet *tabItem="{title: 'Ideas', iconSource: 'res://TRAY__Icon&#45;&#45;Idea__Active' }" name="exploreTab"></page-router-outlet>-->
        <page-router-outlet *tabItem="{title: 'Insights', iconSource: 'res://TRAY__Icon--Insight__Active' }" name="insightTab"></page-router-outlet>
    </TabView>
</StackLayout>

