<StackLayout class="item-detail__container" orientation="vertical">

    <GridLayout columns="50,50,*,50,50" rows="38" width="96%" class="actionBar__item-detail" *ngIf="loaded.perms">
        <Button row="0" col="0" class="fal card-action" text="&#xf05a;" horizontalAlignment="center" verticalAlignment="center" (tap)="showMoreInformation()"></Button>
        <Button row="0" col="2" class="fal item-detail__close-txt" text="CLOSE" horizontalAlignment="center" verticalAlignment="top" (tap)="close()"></Button>
        <Button row="0" col="2" class="fal item-detail__close" text="&#xf078;" horizontalAlignment="center" verticalAlignment="bottom" (tap)="close()"></Button>
        <Button row="0" col="3" class="fal card-action" text="&#xf005;" [ngClass]="starred()" (tap)="Star()" horizontalAlignment="center" verticalAlignment="center"></Button>
        <Button row="0" col="4" class="fal card-action" text="&#xf46c;" [ngClass]="onMyList()" (tap)="addToUser()" horizontalAlignment="center" verticalAlignment="center" *ngIf="user.perms && user.perms.premium"></Button>
    </GridLayout>

    <StackLayout row="0" col="0" class="item-detail__card" *ngIf="loaded.data">
        <!-- STATIC TOP -->
        <GridLayout columns="*" rows="auto, auto">

            <!-- STOCK SYMBOL & NAME -->
            <GridLayout columns="80, 120, 30, 3*, 3*, 20" rows="36,18" class="detail__header" col="0" row="0">
                <SVGImage row="0" col="0" rowSpan="2" class="pgr-rating--large" [src]="pgrRating(stock.details.PGR, stock.details['raw_PGR'])" verticalAlignment="center" horizontalAlignment="left"></SVGImage>
                <Label row="0" col="1" class="ticker" [text]="stockSymbol"></Label>
                <Label row="0" col="2" horizontalAlignment="left" text="&#xf071;" class="fal icon--warning no-warning"></Label>
                <Label row="1" col="1" colSpan="2" class="company" verticalAlignment="center" [text]="stockName"></Label>
                <Label row="0" col="3" colSpan="2" class="main-data" [text]="lastPrice" [ngClass]="statusColors(stock.details.Change)" horizontalAlignment="left" verticalAlignment="center"></Label>
                <Label row="1" col="3" class="sub-data" [text]="lastChange" [ngClass]="statusColors(stock.details.Change)" horizontalAlignment="left"></Label>
                <Label row="1" col="4" class="sub-data" colSpan="2" [text]="lastPercentage" [ngClass]="statusColors(stock.details.Change)" horizontalAlignment="left"></Label>
                <Label row="0" col="5" horizontalAlignment="center" class="fal icon--alert no-alert" text="&#xf0f3;"></Label>
            </GridLayout>

            <!-- CARD TOGGLE -->
            <GridLayout columns="*,*,*" rows="36" class="detail__toggle" col="0" row="1">
                <Button row="0" col="0" class="toggle-btn" [ngClass]="menu == 'chart' ? 'active' : null" text="CHART" (tap)="menu = 'chart'"></Button>
                <Button row="0" col="1" class="toggle-btn" [ngClass]="menu == 'rating' ? 'active' : null" text="RATING" (tap)="menu = 'rating'"></Button>
                <Button row="0" col="2" class="toggle-btn" [ngClass]="menu == 'details' ? 'active' : null" text="DETAILS" (tap)="menu = 'details'"></Button>
            </GridLayout>
        </GridLayout>

        <!-- ROUTER START --> <!-- TOGGLE 1 CHART-->
        <GridLayout columns="*" rows="auto, auto, auto, auto, *, auto" class="" id="toggle--chart" *ngIf="menu == 'chart'">
            <!-- PGR RATING -->
            <GridLayout columns="4*,*,*,*,*" rows="54" class="detail__PGR-bar" col="0" row="0" *ngIf="loaded.rating">
                <StackLayout row="0" col="0" style="padding-left:11;">
                    <GridLayout columns="auto,*" rows="18,36">
                        <Label row="0" col="0" colSpan="2" class="pgr-label" text="POWER GAUGE RATING:" verticalAlignment="bottom"></Label>
                        <SVGImage row="1" col="0" class="pgr-arc-small" [src]="pgrNoTxt(stock.details.PGR, stock.details.raw_PGR)"></SVGImage>
                        <Label row="1" col="1" [text]="pgrRatingWord(stock.details.PGR, stock.details.raw_PGR)" class="pgr-rating-txt"></Label>
                    </GridLayout>
                </StackLayout>
                <Button row="0" col="1" rowSpan="2" class="fal pgr-btn" [ngClass]="getChartBGColor(stock.context.financialContextSum.status)" text="&#xf19c;" verticalAlignment="center"  (tap)="tapToRatings('rating', 'financials')"></Button>
                <Button row="0" col="2" rowSpan="2" class="fal pgr-btn" [ngClass]="getChartBGColor(stock.context.earningsContextSum.status)" text="&#xf51e;" verticalAlignment="center" (tap)="tapToRatings('rating', 'earnings')"></Button>
                <Button row="0" col="3" rowSpan="2" class="fal pgr-btn" [ngClass]="getChartBGColor(stock.context.technicals.status)" text="&#xf201;" verticalAlignment="center" (tap)="tapToRatings('rating', 'technicals')"></Button>
                <Button row="0" col="4" rowSpan="2" class="fal pgr-btn" [ngClass]="getChartBGColor(stock.context.experts.status)" text="&#xf0c0;" verticalAlignment="center" (tap)="tapToRatings('rating', 'experts')"></Button>
            </GridLayout>

             <!--MKT CAP & INDUSTRY-->
            <GridLayout columns="auto, * ,auto,auto,auto" rows="36" class="detail-data" col="0" row="1">
                <Label row="0" col="0" class="fal detail-icon" text="&#xf3b3;" verticalAlignment="center"></Label>
                <Label row="0" col="1" class="data" [text]="getIndustry" verticalAlignment="center" style="border-right-width: 1; border-right-color: #f2f2f2; margin-right:10;"></Label>
                <Label row="0" col="2" class="fal detail-icon" text="&#xf81d;" verticalAlignment="center"></Label>
                <Label row="0" col="4" class="data" [text]="getMktCap" fontWeight="bold" verticalAlignment="center"></Label>
            </GridLayout>

            <!-- EARNINGS -->
            <GridLayout columns="auto, auto, *, *, auto" rows="36" class="detail-data earnings-data" col="0" row="2">
                <Label row="0" col="0" class="fal detail-icon orange" text="&#xf783;" verticalAlignment="center"></Label>
                <Label row="0" col="1" class="label" text="Reports: " verticalAlignment="center"></Label>
                <Label row="0" col="2" [ngClass]="stock.earnings.next_report_date ? 'data bolder' : 'bolder'" [text]="getNextReport" verticalAlignment="center"></Label>
                <Label row="0" col="3" class="label" [text]="getEarningsQuarter" verticalAlignment="center" horizontalAlignment="right"></Label>
                <Label row="0" col="4" class="data bolder" [text]="getCurrentRevision" verticalAlignment="center" horizontalAlignment="right" text></Label>
            </GridLayout>

            <!-- DURATION CONTAINER -->
            <GridLayout class="time-duration__container" col="0" row="3" rows="36, 36">

                <!-- DURATION STATEMENT -->
                <Label class="duration-statement" textWrap="true" row="0" *ngIf="!!timespanPerChange">
                    <FormattedString>
                        <Span class="bolder" [text]="stock.symbol"></Span>
                        <Span text=" is"></Span>
                        <Span class="bold" [ngClass]="statusColors(timespanPerChange)" [text]="timespanPerChange > 0 ? ' up ' : ' down '"></Span>
                        <Span class="bold" [text]="getGraphTimeChangeText" [ngClass]="statusColors(timespanPerChange)"></Span>
                        <Span text=" over the last:"></Span>
                    </FormattedString>
                </Label>

                <!-- TIME RANGE SELECT -->
                <GridLayout columns="*,*,*,*" rows="36" class="selection-bar--chart" row="1">
                    <Button col="0" row="0" class="option" [ngClass]="chart.current == '1M' ? 'active' : null" text="1M" (tap)="toggleChartTime('1M')"></Button>
                    <Button col="1" row="0" class="option" [ngClass]="chart.current == '3M' ? 'active' : null" text="3M" (tap)="toggleChartTime('3M')"></Button>
                    <Button col="2" row="0" class="option" [ngClass]="chart.current == '6M' ? 'active' : null" text="6M" (tap)="toggleChartTime('6M')"></Button>
                    <Button col="3" row="0" class="option" [ngClass]="chart.current == '1Y' ? 'active' : null" text="1Y" (tap)="toggleChartTime('1Y')"></Button>
                </GridLayout>
            </GridLayout>

            <!-- GRAPH -->
            <StackLayout class="detail__chart" col="0" row="4">
                <ActivityIndicator [busy]="!loaded.chart" *ngIf="!loaded.chart" width="100" height="100" class="activity-indicator" backgroundColor="rgba(0,0,0,0.8)" borderRadius="10" color="white" style="margin-top: 60"></ActivityIndicator>

                <RadCartesianChart tkExampleTitle tkToggleNavButton height="100%" class="chart__container">
                    <DateTimeContinuousAxis tkCartesianHorizontalAxis
                        labelLayoutMode="inside"
                        verticalLocation="Bottom"
                        labelFitMode="Rotate"
                        labelRotationAngle="0"
                        labelSize="10"
                        labelMargin="5"
                        plotMode="OnTicks"
                        [dateFormat]="getDateFormat"
                        [majorStepUnit]="getMajorStep"
                        [minimum]="minDate"
                        [maxiumum]="maxDate"
                        [majorStep]="getMajorStepCount">
                    </DateTimeContinuousAxis>
                    <LinearAxis tkCartesianVerticalAxis
                        [minimum]="getPriceMin"
                        [maximum]="getPriceMax"
                        [majorStep]="getMajorStepLinear"
                        lineHidden="false"
                        hidden="false"
                        lineColor="#f8f8f8"
                        [labelFormat]="getLabelFormatLinear"
                        strokeWidth="1"
                        labelMargin="1"
                        lastLabelVisibility="hidden"
                        labelLayoutMode="Inside"
                        horizontalLocation="Right"
                        labelSize="9"
                        showLabels="true">
                    </LinearAxis>
                    <AreaSeries tkCartesianSeries
                        seriesName="price"
                        [items]="mainChart"
                        categoryProperty="date"
                        valueProperty="price"
                        showLabels="false"
                        selectionMode="Series">
                    </AreaSeries>
                    <LineSeries tkCartesianSeries
                        seriesName="dema"
                        [items]="mainChart"
                        categoryProperty="date"
                        valueProperty="dema"
                        showLabels="false">
                    </LineSeries>
                    <RadCartesianChartGrid tkCartesianGrid
                        horizontalLinesVisible="false"
                        verticalLinesVisible="false"
                        horizontalStripLinesVisible="true"
                        verticalStripLinesVisible="false"
                        horizontalStrokeColor="#dddddd"
                        verticalStrokeColor="#dddddd"
                        horizontalStrokeWidth="0"
                        verticalStrokeWidth="0"
                        ChartAxisHorizontalLocation="right"
                        ChartAxisLabelVisibility="visible"
                        verticalStripLineColor="#ffffff, #f8f8f8"
                        horizontalStripLineColor="#ffffff, #f8f8f8">
                    </RadCartesianChartGrid>
                    <Palette tkCartesianPalette seriesName="price">
                        <PaletteEntry tkCartesianPaletteEntry
                            fillColor="rgba(0,135,218,0.2)"
                            strokeColor="#0087DA"
                            strokeWidth="1">
                        </PaletteEntry>
                    </Palette>
                    <Palette tkCartesianPalette seriesName="dema">
                        <PaletteEntry tkCartesianPaletteEntry
                            strokeColor="orange"
                            strokeWidth="1">
                        </PaletteEntry>
                    </Palette>
                </RadCartesianChart>
            </StackLayout>

            <!-- NEWS -->
            <StackLayout class="detail__news" col="0" row="5" >
                <GridLayout rows="20,auto" columns="auto,auto" class="list-header" >
                    <Label  col="0" row="0" text="TOP STORIES " class="sub-head"></Label>
                    <Label  col="1" row="0" text="by Xignite" class="sub-head" style="font-style: italic; font-weight: 200;"></Label>
                    <Label col="0" row="1" class="sub-head" text="There are no news for this company today." *ngIf="!show.detailHeadlines"></Label>
                </GridLayout>

                <StackLayout height="auto" class="headlines__container" *ngIf="show.detailHeadlines">

                    <!-- Scroll Box -->
                    <StackLayout orientation="horizontal" class="scroll-menu" height="80">
                        <ScrollView orientation="horizontal">
                            <RadListView [items]="getHeadlines" width="100%" orientation="horizontal">
                                <ListViewLinearLayout scrollDirection="Horizontal" tkListViewLayout></ListViewLinearLayout>
                                <!-- inner scrolling headlines object -->
                                <StackLayout orientation="horizontal">
                                    <ng-template let-item="item" tkListItemTemplate>
                                        <CardView class="inner-card" elevation="5" radius="6" shadowOpacity="0" shadowRadius="1">
                                            <GridLayout rows="45,18" columns="5*,3*" class="news-item">
                                                <Label row="0" col="0" colSpan="2" class="headline" (tap)="openBrowser(item.url)" [text]="item.title + '&nbsp;&#x2192;' " textWrap="true" verticalAlignment="top"></Label>
                                                <Label row="1" col="0"  class="news-source" [text]="item.source"></Label>
                                                <Label row="1" col="1" class="news-date" [text]="item.date" horizontalAlignment="right"></Label>
                                            </GridLayout>
                                        </CardView>
                                    </ng-template>
                                </StackLayout>
                            </RadListView>
                        </ScrollView>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </GridLayout>

        <!-- TOGGLE 2 -- RATING -->
        <GridLayout columns="*" rows="auto, *" class="" id="toggle--rating" *ngIf="menu == 'rating'">

            <StackLayout class="pgr-statement overall-statement" *ngIf="error.noRating">
                <StackLayout class="pgr-statement--body">
                    <Label text="There is no rating information for this stock yet."></Label>
                </StackLayout>
            </StackLayout>

            <!-- PGR FACTORS TOGGLE-->
            <GridLayout columns="*" rows="72" class="detail__PGR-toggle" col="0" row="0" *ngIf="loaded.rating && !error.noRating">
                <GridLayout columns="10*,9*,9*,9*,9*" rows="auto">
                    <GridLayout columns="*" rows="48, 24" row="0" col="0" class="toggle-pgr--overall" [ngClass]="subMenu == 'overall' ? 'pgr-active' : ''">
                        <Button row="0" col="0" class="fal toggle-pgr" (tap)="subMenu = 'overall'"></Button>
                        <SVGImage row="0" col="0" class="pgr-arc--overall" (tap)="tapToSubMenu('overall')" [src]="pgrNoTxt(stock.details.PGR, stock.details.raw_PGR)" verticalAlignment="center"></SVGImage>
                        <Label row="1" col="0" class="toggle-label" text="OVERALL" horizontalAlignment="center"></Label>
                    </GridLayout>
                    <GridLayout columns="*" rows="48, 24" row="0" col="1" [ngClass]="[getRatingBGColor(stock.context.financialContextSum.status), subMenu == 'financials' ? 'pgr-active': '']">
                        <Button row="0" col="0" class="fal toggle-pgr" [ngClass]="getRatingBGColor(stock.context.financialContextSum.status)"  text="&#xf19c;" (tap)="tapToSubMenu('financials')"></Button>
                        <Label row="1" col="0" class="toggle-label" text="FINANCIALS" horizontalAlignment="center"></Label>
                    </GridLayout>
                    <GridLayout columns="*" rows="48, 24"  row="0" col="2"  [ngClass]="[getRatingBGColor(stock.context.earningsContextSum.status), subMenu == 'earnings' ? 'pgr-active' : '']">
                        <Button row="0" col="0" class="fal toggle-pgr" [ngClass]="getRatingBGColor(stock.context.earningsContextSum.status)"  text="&#xf51e;" (tap)="tapToSubMenu('earnings')"></Button>
                        <Label row="1" col="0" class="toggle-label" text="EARNINGS" horizontalAlignment="center"></Label>
                    </GridLayout>
                    <GridLayout columns="*" rows="48, 24" row="0" col="3" [ngClass]="[getRatingBGColor(stock.context.technicals.status), subMenu == 'technicals' ? 'pgr-active' : '']">
                        <Button row="0" col="0" class="fal toggle-pgr" [ngClass]="getRatingBGColor(stock.context.technicals.status)" text="&#xf201;" (tap)="tapToSubMenu('technicals')"></Button>
                        <Label row="1" col="0" class="toggle-label" text="TECHNICALS" horizontalAlignment="center"></Label>
                    </GridLayout>
                    <GridLayout columns="*" rows="48, 24" row="0" col="4" [ngClass]="[getRatingBGColor(stock.context.experts.status), subMenu == 'experts' ? 'pgr-active' : '']">
                        <Button row="0" col="0" class="fal toggle-pgr" [ngClass]="getRatingBGColor(stock.context.experts.status)" text="&#xf0c0;" (tap)="tapToSubMenu('experts')"></Button>
                        <Label row="1" col="0" class="toggle-label" text="EXPERTS" horizontalAlignment="center"></Label>
                    </GridLayout>
                </GridLayout>
            </GridLayout>

            <!-- OVERALL RATING -->
            <GridLayout columns="*" rows="auto, auto, *" class="pgr-statement overall-statement" col="0" row="1" *ngIf="subMenu == 'overall' && !error.noRating">

                <!-- Title -->
                <Label row="0" col="0" class="pgr-statement--title" textWrap="true">
                    <FormattedString>
                        <Span class="boldest" [text]="stockSymbol"></Span>
                        <Span text=" is rated "></Span>
                        <Span class="bolder" [text]="pgrRatingWord(stock.details.PGR, stock.details['raw_PGR'])" [ngClass]="statusColorPGR(stock.details.PGR)"></Span>
                        <Span text=" overall."></Span>
                    </FormattedString>
                </Label>

                <!-- Sliders -->
                <StackLayout class="pgr-sliders" row="1"  col="0">
                    <StackLayout class="sliders__container sliders__container--overall">
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="FINANCIALS"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.pgr.fin" class="slider-gradient" [ngClass]="getGradient(stock.pgr.fin)"></Label>
                            <Label [col]="stock.pgr.fin" row="0" class="slider-dot" [ngClass]="getDotColor(stock.pgr.fin)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider" style="background-color: #ffffff;">
                            <Label col="0" row="0" class="slider-label" text="EARNINGS"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.pgr.earn" class="slider-gradient" [ngClass]="getGradient(stock.pgr.earn)"></Label>
                            <Label [col]="stock.pgr.earn" row="0" class="slider-dot" [ngClass]="getDotColor(stock.pgr.earn)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="TECHNICALS"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.pgr.tech" class="slider-gradient" [ngClass]="getGradient(stock.pgr.tech)"></Label>
                            <Label [col]="stock.pgr.tech" row="0" class="slider-dot" [ngClass]="getDotColor(stock.pgr.tech)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider" style="background-color: #ffffff;">
                            <Label col="0" row="0" class="slider-label" text="EXPERTS"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.pgr.exp" class="slider-gradient" [ngClass]="getGradient(stock.pgr.exp)"></Label>
                            <Label [col]="stock.pgr.exp" row="0" class="slider-dot" [ngClass]="getDotColor(stock.pgr.exp)" horizontalAlign="right" ></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

                <!-- Statement -->
                <StackLayout row="2" col="0" class="pgr-statement--body">
                    <GridLayout rows="auto" columns="*, 40" class="pgr-statement--header">
                        <Label  col="0" text="Power Gauge Rating Overview" class="sub-head" verticalAlignment="center"></Label>
                    </GridLayout>
                    <Label textWrap="true" class="body-copy">
                        <FormattedString effectiveMarginTop="10">
                            <Span [text]="stock.context.pgrContextSum[0]"></Span>
                        </FormattedString>
                    </Label>
                    <Label textWrap="true" class="body-copy">
                        <FormattedString>
                            <Span [text]="stock.context.pgrContextSum[1]"></Span>
                        </FormattedString>
                    </Label>
                </StackLayout>
            </GridLayout>

            <!-- FINANCIAL RATING -->
            <GridLayout columns="*" rows="auto, auto, *" class="pgr-statement" col="0" row="1" *ngIf="subMenu == 'financials'">
                <StackLayout row="0" col="0" *ngIf="loaded.rating">
                    <Label class="pgr-statement--title" textWrap="true">
                        <FormattedString>
                            <Span class="" text="Financials are "></Span>
                            <Span class="bolder" [text]="stock.context.financialContextSum.status"></Span>
                        </FormattedString>
                    </Label>
                </StackLayout>

                <!-- SLIDERS -->
                <StackLayout row="1" col="0" class="pgr-sliders">
                    <StackLayout class="sliders__container">
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="LT DEBT TO EQUITY"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.debt_equity_ratio_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.debt_equity_ratio_rate)"></Label>
                            <Label [col]="stock.context.pgrData.debt_equity_ratio_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.debt_equity_ratio_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider" style="background-color: #ffffff;">
                            <Label col="0" row="0" class="slider-label" text="PRICE TO BOOK"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.price_to_book_value_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.price_to_book_value_rate)"></Label>
                            <Label [col]="stock.context.pgrData.price_to_book_value_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.price_to_book_value_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="RETURN ON EQUITY"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.return_on_investment_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.return_on_investment_rate)"></Label>
                            <Label [col]="stock.context.pgrData.return_on_investment_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.return_on_investment_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider" style="background-color: #ffffff;">
                            <Label col="0" row="0" class="slider-label" text="PRICE TO SALES"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.price_to_sales_ratio_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.price_to_sales_ratio_rate)"></Label>
                            <Label [col]="stock.context.pgrData.price_to_sales_ratio_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.price_to_sales_ratio_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="FREE CASH FLOW"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.business_value_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.business_value_rate)"></Label>
                            <Label [col]="stock.context.pgrData.business_value_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.business_value_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

                <StackLayout row="2" col="0" class="pgr-statement--body">
                    <GridLayout rows="auto" columns="*, 40" class="pgr-statement--header">
                        <Label  col="0" text="Financial Rating Overview" class="sub-head" verticalAlignment="center"></Label>
                    </GridLayout>
                    <Label class="body-copy" textWrap="true" [text]="detailFormatter(stock.context.financialContextSum.generalSentence)"></Label>
                    <Label class="body-copy" textWrap="true" [text]="detailFormatter(stock.context.financialContextSum.explanatorySentence)"></Label>
                </StackLayout>
            </GridLayout>

            <!-- EARNINGS RATING -->
            <GridLayout columns="*" rows="auto, auto, *" class="pgr-statement" col="0" row="1" *ngIf="subMenu == 'earnings'">
                <StackLayout col="0" row="0" *ngIf="loaded.rating">
                    <Label class="pgr-statement--title" textWrap="true">
                        <FormattedString>
                            <Span class="" text="Earnings are "></Span>
                            <Span class="bolder" [text]="stock.context.earningsContextSum.status"></Span>
                        </FormattedString>
                    </Label>
                </StackLayout>

                <!-- SLIDERS -->
                <StackLayout row="1" col="0" class="pgr-sliders">
                    <StackLayout class="sliders__container">
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="EARNINGS GROWTH"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.earnings_stability_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.earnings_stability_rate)"></Label>
                            <Label [col]="stock.context.pgrData.earnings_stability_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.earnings_stability_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" row="0" col="1" class="slider" style="background-color: #ffffff;">
                            <Label col="0" row="0" class="slider-label" text="EARNINGS SURPRISE"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.eps_surprise_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.eps_surprise_rate)"></Label>
                            <Label [col]="stock.context.pgrData.eps_surprise_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.eps_surprise_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" row="0" col="1" class="slider">
                            <Label col="0" row="0" class="slider-label" text="EARNINGS TREND"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.earnings_trend_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.earnings_trend_rate)"></Label>
                            <Label [col]="stock.context.pgrData.earnings_trend_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.earnings_trend_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" row="0" col="1" class="slider" style="background-color: #ffffff;">
                            <Label col="0" row="0" class="slider-label" text="PROJECTED P/E"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.projected_pe_ratio_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.projected_pe_ratio_rate)"></Label>
                            <Label [col]="stock.context.pgrData.projected_pe_ratio_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.projected_pe_ratio_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" row="0" col="1" class="slider">
                            <Label col="0" row="0" class="slider-label" text="EARNINGS CONSISTENCY"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.earnings_consistency_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.earnings_consistency_rate)"></Label>
                            <Label [col]="stock.context.pgrData.earnings_consistency_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.earnings_consistency_rate)"  horizontalAlign="right" ></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

                <StackLayout row="2" col="0" class="pgr-statement--body">
                    <GridLayout rows="auto" columns="*, 40" class="pgr-statement--header">
                        <Label  col="0" text="Earnings Rating Overview" class="sub-head" verticalAlignment="center"></Label>
                    </GridLayout>
                    <Label class="body-copy" textWrap="true" [text]="detailFormatter(stock.context.earningsContextSum.generalSentence)"></Label>
                    <Label class="body-copy" textWrap="true" [text]="detailFormatter(stock.context.earningsContextSum.explanatorySentence)"></Label>
                </StackLayout>
            </GridLayout>

            <!-- TECHNICALS RATING -->
            <GridLayout columns="*" rows="auto, auto, *" class="pgr-statement" col="0" row="1" *ngIf="subMenu == 'technicals'">
                <StackLayout row="0" col="0">
                    <Label class="pgr-statement--title" textWrap="true">
                        <FormattedString>
                            <Span class="" text="Technicals are "></Span>
                            <Span class="bolder" [text]="stock.context.technicals.status"></Span>
                        </FormattedString>
                    </Label>
                </StackLayout>

                <!-- SLIDERS -->
                <StackLayout row="1" col="0" class="pgr-sliders">

                    <StackLayout class="sliders__container">
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="RELATIVE STRENGTH"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.relative_strength_vs_market_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.relative_strength_vs_market_rate)"></Label>
                            <Label [col]="stock.context.pgrData.relative_strength_vs_market_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.relative_strength_vs_market_rate)"  horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider" style="background-color: #ffffff;">
                            <Label col="0" row="0" class="slider-label" text="CHAIKIN MONEY FLOW"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.chaikin_volume_accumulation_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.chaikin_volume_accumulation_rate)"></Label>
                            <Label [col]="stock.context.pgrData.chaikin_volume_accumulation_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.chaikin_volume_accumulation_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="PRICE STRENGTH"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.price_trend_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.price_trend_rate)"></Label>
                            <Label [col]="stock.context.pgrData.price_trend_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.price_trend_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider" style="background-color: #ffffff;">
                            <Label col="0" row="0" class="slider-label" text="PRICE TREND ROC"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.price_trend_roc_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.price_trend_roc_rate)"></Label>
                            <Label [col]="stock.context.pgrData.price_trend_roc_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.price_trend_roc_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="VOLUME TREND"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.volume_trend_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.volume_trend_rate)"></Label>
                            <Label [col]="stock.context.pgrData.volume_trend_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.volume_trend_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

                <StackLayout row="2" col="0" class="pgr-statement--body" textWrap="true">
                    <GridLayout rows="auto" columns="*, 40" class="pgr-statement--header">
                        <Label  col="0" text="Technical Rating Overview" class="sub-head" verticalAlignment="center"></Label>
                    </GridLayout>
                     <StackLayout textWrap="true">
                        <Label class="body-copy" textWrap="true" [text]="detailFormatter(stock.context.technicals.generalSentence)"></Label>
                        <Label class="body-copy" textWrap="true" [text]="detailFormatter(stock.context.technicals.explanatorySentence)"></Label>
                    </StackLayout>
                </StackLayout>
            </GridLayout>

            <!-- EXPERTS RATING -->
            <GridLayout columns="*" rows="auto,auto,*" class="pgr-statement" col="0" row="1" *ngIf="subMenu == 'experts'">
                <StackLayout row="0" col="0">
                    <Label row="0" col="0" class="pgr-statement--title" textWrap="true">
                        <FormattedString>
                            <Span class="" text="Experts are "></Span>
                            <Span class="bolder" [text]="stock.context.experts.status"></Span>
                        </FormattedString>
                    </Label>
                </StackLayout>

                <!-- SLIDERS -->
                <StackLayout row="1" col="0" class="pgr-sliders" *ngIf="loaded.rating">
                    <StackLayout class="sliders__container">
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="ESTIMATE TREND"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.earning_estimates_revision_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.earning_estimates_revision_rate)"></Label>
                            <Label [col]="stock.context.pgrData.earning_estimates_revision_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.earning_estimates_revision_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider" style="background-color: #ffffff;">
                            <Label col="0" row="0" class="slider-label" text="SHORT INTEREST"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.short_interest_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.short_interest_rate)"></Label>
                            <Label [col]="stock.context.pgrData.short_interest_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.short_interest_rate)" horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="INSIDER ACTIVITY"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.insider_activity_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.insider_activity_rate)"></Label>
                            <Label [col]="stock.context.pgrData.insider_activity_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.insider_activity_rate)"horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider" style="background-color: #ffffff;">
                            <Label col="0" row="0" class="slider-label" text="ANALYST RATING TREND"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.analyst_options_rate" class="slider-gradient" [ngClass]="getGradient(stock.context.pgrData.analyst_options_rate)"></Label>
                            <Label [col]="stock.context.pgrData.analyst_options_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.analyst_options_rate)"horizontalAlign="right" ></Label>
                        </GridLayout>
                        <GridLayout rows="20" columns="4*,*,*,*,*,*" class="slider">
                            <Label col="0" row="0" class="slider-label" text="INDUSTRY REL STRENGTH"></Label>
                            <Label col="1" row="0" colspan="5" class="slider-background"></Label>
                            <Label col="1" row="0" [colspan]="stock.context.pgrData.relative_strength_vs_industry_rate" class="slider-gradient"[ngClass]="getGradient(stock.context.pgrData.relative_strength_vs_industry_rate)"></Label>
                            <Label [col]="stock.context.pgrData.relative_strength_vs_industry_rate" row="0" class="slider-dot" [ngClass]="getDotColor(stock.context.pgrData.relative_strength_vs_industry_rate)"horizontalAlign="right" ></Label>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>

                <StackLayout row="2" col="0" class="pgr-statement--body" textWrap="true">
                    <GridLayout rows="auto" columns="*, 40" class="pgr-statement--header">
                        <Label  col="0" text="Expert Rating Overview" class="sub-head" verticalAlignment="center"></Label>
                    </GridLayout>
                    <Label class="body-copy" textWrap="true" [text]="detailFormatter(stock.context.experts.generalSentence)"></Label>
                    <Label class="body-copy" textWrap="true" [text]="detailFormatter(stock.context.experts.explanatorySentence)"></Label>
                </StackLayout>
            </GridLayout>
        <!-- ROUTER END -->
        </GridLayout>

        <!-- TOGGLE -- DETAILS -->
        <GridLayout columns="*" rows="auto, auto, *" class="" id="toggle--details" *ngIf="menu == 'details'">
            <!-- PGR RATING -->
            <GridLayout columns="4*,*,*,*,*" rows="54" class="detail__PGR-bar" col="0" row="0" *ngIf="loaded.rating">
                <StackLayout row="0" col="0" style="padding-left:11;">
                    <GridLayout columns="auto,*" rows="18,36">
                        <Label row="0" col="0" colSpan="2" class="pgr-label" text="POWER GAUGE RATING:" verticalAlignment="bottom"></Label>
                        <SVGImage row="1" col="0" class="pgr-arc-small" [src]="pgrNoTxt(stock.details.PGR, stock.details.raw_PGR)"></SVGImage>
                        <Label row="1" col="1" [text]="pgrRatingWord(stock.details.PGR, stock.details.raw_PGR)" class="pgr-rating-txt"></Label>
                    </GridLayout>
                </StackLayout>
                <Button row="0" col="1" rowSpan="2" class="fal pgr-btn" [ngClass]="getChartBGColor(stock.context.financialContextSum.status)" text="&#xf19c;" verticalAlignment="center" (tap)="menu = 'rating'; subMenu = 'financials'"></Button>
                <Button row="0" col="2" rowSpan="2" class="fal pgr-btn" [ngClass]="getChartBGColor(stock.context.earningsContextSum.status)" text="&#xf51e;" verticalAlignment="center" (tap)="menu = 'rating'; subMenu = 'earnings'"></Button>
                <Button row="0" col="3" rowSpan="2" class="fal pgr-btn" [ngClass]="getChartBGColor(stock.context.technicals.status)" text="&#xf201;" verticalAlignment="center" (tap)="menu = 'rating'; subMenu = 'technicals'"></Button>
                <Button row="0" col="4" rowSpan="2" class="fal pgr-btn" [ngClass]="getChartBGColor(stock.context.experts.status)" text="&#xf0c0;" verticalAlignment="center" (tap)="menu = 'rating'; subMenu = 'experts'"></Button>
            </GridLayout>

            <!-- TECHNICALS STATS -->
            <GridLayout columns="*,*" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto" class="technicals__container" col="0" row="1" verticalAlignment="center">
                <Label col="0" row="0" class="detail-data striped" text="Industry"></Label>
                <Label col="1" row="0" class="detail-data striped data" [text]="stock.details.industry_name"></Label>
                <Label col="0" row="1" class="detail-data" text="Market Cap"></Label>
                <Label col="1" row="1" class="detail-data data" [text]="getMktCap"></Label>
                <Label col="0" row="2" class="detail-data striped" text="52wk Range"></Label>
                <Label col="1" row="2" class="detail-data striped data" [text]="detail52WkFormatter(stock.fundamentals['52 Wk Lo'], stock.fundamentals['52 Wk Hi'])"></Label>
                <Label col="0" row="3" class="detail-data" text="Div Yield"></Label>
                <Label col="1" row="3" class="detail-data data" [text]="stock.fundamentals.Yield + '%'"></Label>
                <Label col="0" row="4" class="detail-data striped" text="52wk Performance"></Label>
                <Label col="1" row="4" class="detail-data striped data" [text]="detail52WkPerfFormatter(stock.fundamentals['52 Wk Performance (%)'])"></Label>
                <Label col="0" row="5" class="detail-data" text="P/E Ratio"></Label>
                <Label col="1" row="5" class="detail-data  data" [text]="fixedTwo(stock.fundamentals['P/E'])"></Label>
                <Label col="0" row="6" class="detail-data striped" text="Price to Sales"></Label>
                <Label col="1" row="6" class="detail-data striped data" [text]="fixedTwo(stock.fundamentals['Price/Sales'])"></Label>
                <Label col="0" row="7" class="detail-data" text="Revenue"></Label>
                <Label col="1" row="7" class="detail-data data" [text]="revenueFormatter(stock.fundamentals.Revenue)"></Label>
                <Label col="0" row="8" class="detail-data striped" text="Beta"></Label>
                <Label col="1" row="8" class="detail-data striped data" [text]="fixedTwo(stock.fundamentals.beta)"></Label>
            </GridLayout>
        </GridLayout>
    </StackLayout>
</StackLayout>
