/********** STOCK AND ETF DETAIL CARD **********/


.starredActive {
  color: #ffdf00;
  font-weight: 800;
}


.item-detail__container {
  background-color:black;
  padding: {
    top:1;
    bottom:1;
  }

  .actionBar__item-detail {
    // background-color: $black;
    color:$white;
    margin-bottom:5;

    .card-action {
      font-size:22;
    }
    .item-detail__close {
      color:white;
      font-size:18;
      font-weight:600;
      margin-bottom:-6;
    }
    .item-detail__close-txt {
      color:white;
      font-size:12;
      font-weight:600;
      margin-top:3;
      letter-spacing:0.05;
    }
  }

  .item-detail__card {
    background-color: white;
    color: $main-font;
    border-radius: 10;

    .detail__header {
      margin-bottom: 5;

      .pgr-rating--large {
        width: 80;
        height: 44;
        margin-top:5;
      }
      .ticker {
        font: {
          weight: 800;
          size: 28;
        }
        color: $main-font;
      }
      .company {
        font: {
          weight: 400;
          size: 14;
        }
        color: $main-font;
      }
      .main-data {
        font: {
          weight: 700;
          size: 24;
        }
      }
      .sub-data {
        font: {
          weight: 400;
          size: 14;
        }
      }
      .badge--ETF {
        background-color: $data-grey;
        color: $white;
        padding:0 2;
        border-radius: 2;
        margin: 5;
        font: {
          size: 8;
          weight: 800;
        }
        height: 10;

        &.no-ETF {
          visibility:hidden;
        }
      }
      .icon--alert {
        font-size: 18;
        color: $link-vary2;

        &.no-alert {
          visibility:hidden;
        }
      }
      .icon--warning {
        font-size: 13;
        color:$data-red--vary1;

        &.no-warning {
          visibility:hidden;
        }
      }
    }
    .detail__toggle {
      background-color:$background-invert--vary1;

      .toggle-btn {
        color:$main-font--vary1;
        font-size:12;
        font-weight:400;
        border-top-width:3;
        border-top-color:$border-toggle--inactive;
      }
      .active {
        font-weight:700;
        border-top-color:$link-vary2;
        background-color:$white;
        color:$link-vary2;
      }
    }
    .detail__PGR-bar {
      background-color:$background-main;

      .pgr-label {
        font: {
          size: 9;
          style:italic;
          weight:400;
        }
        color:$white;
      }
      .pgr-rating-txt {
        font-size: 22;
        color:$white;
        font-weight:700;
      }
      .pgr-arc-small {
        width:34;
        height:18;
        margin: {
          right:4;
          bottom:1;
        }
      }
      .pgr-btn {
        width:40;
        height:40;
        border: {
          width:1.25;
          color: white;
          radius:8;
        }
        color: white;
        text-align:center;
        font-size:22;
      }
      .detail__PGR-powerbar {
        padding-right:8;

        .powerbar {
          margin: 8 0 0;
          border-radius: 25%;
          border-color:$white;
          border-width: 1.25;
          
          &.powerbar--yellow {
            margin-left:6;
            margin-right:6;
          }
        }
        .powerbar-txt {
          margin-top:8;

          &.powerbar-txt--yellow {
            font-size:9;
          }
        }
      }
      &.detail__PGR-bar--LARGE {
        padding:0 8;

        .detail__PGR-powerbar {
          padding-right:0;
        }
        .powerbar-breakdown__container {
          .powerbar-breakdown-copy {
            color:white;
            font-size:12;
            line-height:2;
            font-weight:400;
            text-align:center;
            padding:12 8 13;
          }
        }
      }
    }
    .detail__PGR-toggle {
      background-color:$background-main;

      .toggle-pgr--overall {
        border-right-color: $mid-slate;
        border-right-width: 1.5;
        padding:0 5;
        margin-right:5;

        .pgr-arc--overall {
          width: 40;
          height:20;
          margin-top:3;
        }
      }

      .toggle-label {
        font: {
          size: 10;
          weight:400;
        }
        color:$white;
      }

      .bullish--gradient__rating-tab {
        .toggle-pgr {
          background-image: $ca-green-gradient;
        }
      }
      .bearish--gradient__rating-tab {
        .toggle-pgr {
          background-image: $ca-red-gradient;
        }
      }
      .neutral--gradient__rating-tab {
        .toggle-pgr {
          background-image: $ca-yellow-gradient;
        }
      }
      .toggle-pgr {
        height:42;
        margin:5 5 0;
        border: {
          width:1.25;
          color: #ffffff;
          radius:8;
        }
        color: #ffffff;
        text-align:center;
        font-size:22;
      }

      .pgr-active {

        .toggle-pgr {
          background:#ffffff;
        
          &.fal {
            font-weight:900;
          }
        }        
        .toggle-label {
          font-weight:800;
        }
        .bullish--gradient__rating-tab {
          color: $ca-green;
          background:#ffffff;
        }
        .neutral--gradient__rating-tab {
          color: $ca-yellow;
          background:#ffffff;
        }
        .bearish--gradient__rating-tab {
          color: $ca-red;
          background:#ffffff;
        }
      }
    }
    .detail-data {
      font-size: 12;
      padding: 0 10;
      border-bottom-width: 1;
      border-bottom-color: $border-main--vary2;

      .data {
        margin-right:5;
      }
      .label {
        font-style: italic;
      }
      .detail-icon {
        color:$link-vary2;
        font-size: 15;
        margin-right:6;

        &.grey {
          color:$mid-slate;
        }

        &.orange {
          color:$icon-orange;
        }
      }
      &.earnings-data {
        background-color: $lightest-yellow;
        border-bottom-color: #FFF5D5;
      }
    }
    .time-duration__container {
      .duration-statement {
        padding: 5;
        font: {
          size:15;
          weight: 400;
        }
        color:$main-font;
        line-height:3;
        text-align: center;
      }
    }
    .detail__chart {
      border-bottom-width: 0;
      border-bottom-color: #f4f4f4;

      .chart__container {
        padding:8 0 5;
        margin-left:0;
        margin-right:0;
      }
    }
    .detail__news {
      .list-header {
        padding:5 10 5 15;
        border-bottom-width:0;
        border-bottom-color:white;
      }
      .headlines__container {

        .news-item {
          border: {
            width:0;
            radius:0;
            color:$light-grey;
          }
          border-left-width:4;
          border-left-color:$light-grey;
          background-color:white;
          padding: 0 5;

          .headline {
            background-color:$white;
            font: {
              weight: 600;
              size: 13;
            }
            line-height: 2;
            color: $bodycopy-grey;
            padding:0;
            border-radius:0;
            height:64;

            .arrow--read-more {
              color:$link-vary2;
            }
          }
          .news-source {
            font: {
              weight: 400;
              size: 11;
              style: italic;
            }
            color: $link-vary2;
            padding:0;
          }
          .news-date {
            font: {
              weight: 400;
              size: 11;
            }
            color: $mid-slate;
            padding:0;
          }
        }
      }
    }
    .pgr-statement {
      color: $main-font;

      .pgr-statement--title {
        font: {
          weight: 300;
          size:24;
        }
        padding:15;
      }
      .pgr-statement--body {
        margin-top:10;

        .pgr-statement--header {
          background-color:white;
          padding:15 15 8;
          border-bottom-width:1;
          border-bottom-color:$border-main--vary1;

          .sub-head {
            color:$subheader-font;
            font: {
              weight:600;
              size:$font-size--h4;
            }
            letter-spacing:.05;
            text-transform:uppercase;
          }
        }
        .body-copy {
          margin:10 15 3;
          line-height:3;
          font: {
            weight: 400;
            size:14;
          }
        }
      }
      &.overall-statement {
        .pgr-statement--title {
          font: {
            size:23;
          }
        }
      }
    }
    .technicals__container {
      margin-top: 20;
      .detail-data {
        width:100%;
        font-size: 12;
        padding: 2 10;
        border-bottom-width: 1;
        border-bottom-color: $border-main--vary2;
        height:30;
        border-right-width: 1;
        border-right-color: $border-main--vary2;

        &.data {
          color:$slate;
          font-weight:600;
        }
        &.label {
          font {
            style: italic;
            weight:300;
          }
        }
        &.striped {
          background-color:#f4f4f4;
        }
      }
    }
    .detail__holdings {
      .list-header {
        padding:10 15 5;
        border-bottom-color:#f4f4f4;
      }
      .top-holdings__container {
        padding: 5 0;

        .top-holding {
          padding:0 10;

          .pgr-arc-small {
            height:14;
            width:28;
            margin-right:4;
          }
          .ticker {
            font: {
              weight: 800;
              size: 16;
            }
            color: $main-font;
          }
          .percent-holding {
            font: {
              weight: 400;
              size: 14;
            }
            color: $main-font;
            font-style:italic;
          }
        }
      }
    }
  }
}


.headlines__container {
  background-color: $white;

  .list-item {
    padding:5 10 0;

    .pgr-arc-small {
      width: 30;
      height: 15;
    }
    .ticker {
      font: {
        weight: 800;
        size: 20;
      }
      color: $main-font;
      margin-left:5;
    }
    .company {
      font: {
        weight: 300;
        size: 18;
      }
      color: $slate;
    }
  }
  .scroll-menu {
    border-bottom-width: 1;
    border-bottom-color: $border-main--vary2;

    .inner-card {
      margin:4 5 8 12;
      width:300;

      .news-item {
        border-width:1.5;
        border-radius:6;
        border-color:white;
        padding: 2;
        height:80;
        background-color:$slate;

        .headline {
          background-color:$white;
          font: {
            weight: 500;
            size: 12;
          }
          line-height: 1.25;
          color: $slate;
          padding:5;
          height:100%;
          border-radius:4;
        }
        .news-source {
          font: {
            weight: 400;
            size: 10;
            style: normal;
          }
          color: $link-vary1;
          padding:1 10;
        }
        .news-date {
          font: {
            weight: 400;
            size: 10;
          }
          color: $white;
          padding:1 10;
        }
      }
    }
  }
}




.company-info__container {
    background-color: white;
    color: $main-font;
    border-radius: 10 10 0 0;

  .company-logo__container {

  }

  .company-info__header {
    background-color:$deep-slate;
    padding:0 15;
    color:white;

    .co-name {
      font-size:22;
    }
    .icon--link {
      font-size:12;
      color:$link-vary1;
      text-align:left;
    }
    .co-url {
      font-size:14;
      color:$link-vary1;
      text-align:left;
      margin-bottom:5;
    }
    .co-flag {
      width:28;
      height:28;
    }
    .co-country {
      text-transform:uppercase;
      font-size:9;
      font-weight:400;
      text-align:center;
    }
  }
  .company-info__subheader {
      background-color:$background-invert;
      color:$main-font;
      padding:0 15;

    .co-industry {
      font: {
        size:14;
        weight:600;
      }
      text-align:left;
    }
    .industry-label {
      font: {
        size:13;
        weight:300;
      }
      text-align:right;
    }
    .industry-strength {
      font: {
        size:14;
        weight:800;
      }
      text-align:right;
      text-transform: uppercase;
    }
  }
  .company-info__bio {
    padding:15;
    color: $main-font;

    .co-bio {
      font: {
        size:13;
        weight:400;
      }
      line-height:2.25;
    }
  }
}












