<ActionBar style="background: #142448; color: white;">
    <NavigationButton visibility="hidden"></NavigationButton>
    <GridLayout columns="40, 70, 70, auto">
        <Image col="0" row="0" height="30" width="30" src="res://mobile-arc--512.png" style="border-radius: 10%;"></Image>
        <Label col="1" class="marketTickerSymbol" (tap)="switchMarketTicker()" [text]="marketTickerSymbol"></Label>
        <Label col="1" class="marketTickerSymbol" colSpan="1" (tap)="switchMarketTicker()" [text]="marketTickerSymbol"></Label>
        <Label col="2" class="marketTickerLast" colSpan="1" (tap)="switchMarketTicker()" [text]="marketTickerLast"></Label>
        <Label col="3" text="LOGOUT" (tap)="logout()" style="text-align: right; font-weight: 300; padding: 5; margin: 0 0 0 80; font-size: 11;"></Label>
    </GridLayout>
</ActionBar>

<!-- BODY -->
<StackLayout class="page">

    <!-- HEADER -->
    <GridLayout columns="*,2*,2*,auto" style="background-color: #142448; color: white; height: 35">
        <Label col="0" style="font-weight: 500; font-size: 13; padding: 5; margin: 0 0 0 10" text="&#xf0f3;" (tap)="showAlerts()" class="far" [ngClass]="search.alertsOpen ? 'selectedCircle' : null"></Label>
        <Label col="0" style="font-weight: 500; font-size: 13; padding: 5; margin: 0 0 0 30" *ngIf="items['alertedComps']" [text]="items['alertedComps'].length"></Label>
        <Label col="1" text="MY WATCHLIST" style="horizontal-align: left; vertical-align: center; padding: 5; font-weight: 400; font-size: 12;"></Label>
        <TextField  style="color: white; font-weight: 400; font-size: 12; horizontal-align: right; vertical-align: center; background-color: rgba(20, 36, 72, 0.1); placeholder-color: white; padding: 5;" col="2" hint="SYMBOL SEARCH" autocorrect="false" (textChange)="onTextChange($event)" (returnPress)="onReturn($event)"></TextField>
        <Button row="0" col="3" class="far" style="font-weight: 500; font-size: 13; padding: 5; margin-right: 10;" (tap)="showSearchInput()" text="&#xf002;"></Button>
    </GridLayout>

    <!-- SEARCH LIST -->
    <ListView [items]="search.list" *ngIf="search.list" height="auto">
        <ng-template let-item="item" let-i="index">
            <GridLayout columns="70, *, 50, 50" (tap)="onTap(item.Symbol)">
                <!-- TICKER -->
                <Label row="0" col="0" horizontalAlignment="left" class="searchItemName" [text]="item.Symbol" (tap)="onSearchTap(item.Symbol)"></Label>
                <!-- COMPANY NAME -->
                <Label row="0" col="1" horizontalAlignment="left" class="searchItemCompName" [text]="item.CompanyName" (tap)="onSearchTap(item.Symbol)"></Label>

                <Button row="0" col="2" text="&#xf00e;" (tap)="onSearchTap(item.Symbol)" class="far redInv" style="border-radius: 25%; margin: 7; padding: 7; width: 40;"></Button>
                <!-- ADD BTN -->
                <Button row="0" col="3" text="&#xf067;" (tap)="onAddTap(item.Symbol)" class="far greenInv" style="border-radius: 25%; margin: 7; padding: 7; width: 40;"></Button>
            </GridLayout>
        </ng-template>
    </ListView>

    <!-- ALERTS -->
    <RadListView [items]="alertlist" *ngIf="search.alertsOpen" height="200" class="list-group" id="alertslist3">
        <ng-template let-item="item">
            <GridLayout rows="*,*" columns="50, auto, auto, auto" height="60" padding="5" class="listborder" (tap)="tapAlert(item)">
                <!--<SVGImage col="0" row="0" class="pgrRating" src="res://ico__PGR-S--LG__None--light.svg"></SVGImage>-->
                <Label row="0" col="0" class="alertlistcontent" [text]="item.ticker" style="font-size: 15; font-weight: 500; padding:5;"></Label>
                <!-- STATUS -->
                <SVGImage row="0" col="1" rowSpan="2" [src]="pgrRatingSimple(item.value)" class="pgrRating"></SVGImage>
                <Label row="0" col="2" colSpan="2" class="alertlistcontent" [text]="item.text" style="font-size: 15; font-weight: 400; padding:5;" horizontalAlignment="right" marginRight="5"></Label>
                <Label row="1" col="2" class="alertlistcontent" *ngIf="item.target" [text]="'Est. ' + item.target" style="font-size: 18; font-weight: 400; padding: 5"></Label>
                <Label row="1" col="3" class="alertlistcontent" *ngIf="item.actual" [text]="'Act. ' + item.actual" style="font-size: 18; font-weight: 400; padding: 5"></Label>
            </GridLayout>
        </ng-template>
        <ng-template tkListViewHeader>
            <Label text="ALERTS" style="color: whitesmoke; font-weight: 400; font-size: 13; padding: 5 5 5 10; background-color: #142448"></Label>
        </ng-template>
    </RadListView>

    <!-- SORT BTNS -->
    <GridLayout rows="auto" colSpan="5" columns="*,2*,2*" height="25" style="background-color: #142448; margin: 0; padding: 0;">
        <Button row="0" col="0" text="RATING" (tap)="sortByRating()" verticalAlignment="middle" class="sortBtn"></Button>
        <Button row="0" col="1" text="COMPANY" (tap)="sortByCompany()" class="sortBtn"></Button>
        <Button row="0" col="2" text="PRICE" (tap)="sortByPrice()" class="sortBtn"></Button>
    </GridLayout>

    <StackLayout *ngIf="user.error">
        <Label text="Oops... something broke..."></Label>
        <Label [text]="user.error"></Label>
    </StackLayout>

    <!-- MY STOCKS LIST -->
    <RadListView [items]="stocklist" class="list-group" style="height:100%;" swipeActions="true" pullToRefresh="false" id="listview" (itemSwipeProgressStarted)="onSwipeCellStarted($event)" (itemSwiping)="onItemSwiping($event)">

        <ng-template let-item="item" let-i="index">
            <GridLayout rows="auto,auto" columns="*,2*,*,*" class="listborder" (tap)="onTap(item)">
                <SVGImage col="0" row="0" rowSpan="2" class="pgrRating" [src]="pgrRating(item['PGR'], item['raw_PGR'])"></SVGImage>
                <Label row="0" col="1" horizontalAlignment="left" class="itemName" [text]="item.symbol"></Label>
                <Label row="1" col="1" horizontalAlignment="left" class="itemCompName" [text]="item.name"></Label>
                <Label row="0" col="2" colSpan="2" horizontalAlignment="left" class="itemPrice" [text]="'$' + (item['Last']).toFixed(2)" [ngClass]="itemchange == 0 ? 'black' : (itemchange > 0 ? 'green' : 'red')"></Label>
                <Label row="0" col="3" style="color: #c00000; margin: 0; padding: 3%; font-size: 15; font-weight: 500; horizontal-align: center;" class="far" text="&#xf071;" *ngIf="checkAlerts(item.symbol)"></Label>
                <Label row="1" col="2" horizontalAlignment="left" class="itemChange" [text]="itemchange > 0 ? ('+' + itemchange.toFixed(2)) : (itemchange.toFixed(2))"
                       [ngClass]="itemchange == 0 ? 'black' : (item.change > 0 ? 'green' : 'red')"></Label>
                <Label row="1" col="3" horizontalAlignment="left" class="itemPriceChange" [text]="item.change > 0 ? ('(' + item['Percentage '].toFixed(2) + '%)') : ( '(' + item['Percentage '].toFixed(2) + '%)')"
                       [ngClass]="item.change == 0 ? 'black' : (item.change > 0 ? 'green' : 'red')"></Label>
            </GridLayout>
        </ng-template>

        <!--<GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="gridSwipeLayout">-->
            <!--<StackLayout id="delete-view" col="2" class="" (tap)="onRightSwipeClick()">-->
                <!--<Label row="0" col="2" text="&#xf1f8;" class="fa" verticalAlignment="center" style="font-size: 22; font-weight: 500; margin: 10; padding: 15; border-width:2; border-color:whitesmoke; border-style:solid; border-radius: 30%;" horizontalAlignment="center"></Label>-->
            <!--</StackLayout>-->
        <!--</GridLayout>-->
    </RadListView>
</StackLayout>
