<ActionBar class="actionBar__root" flat="true">
    <Label [text]="getListName()" horizontalAlignment="center" *ngIf="items.ready"></Label>
</ActionBar>

<StackLayout class="list-group__container">
    <GridLayout columns="*" rows="45" class="lst-action-bar">
        <StackLayout col="0" verticalAlignment="center">
            <GridLayout [columns]="getColumns()" rows="26" verticalAlignment="center" class="powerbar__container" *ngIf="items.ready">
                <Button col="0" class="powerbar powerbar--green" style="width:auto;"></Button>
                <Button col="1" class="powerbar powerbar--yellow" style="width:auto;"></Button>
                <Button col="2" class="powerbar powerbar--red" style="width:auto;"></Button>
                <Button col="0" class="powerbar-txt" [text]="items.powerbar[2]"></Button>
                <Button col="1" class="powerbar-txt powerbar-txt--yellow" [text]="items.powerbar[1]"></Button>
                <Button col="2" class="powerbar-txt" [text]="items.powerbar[0]"></Button>
            </GridLayout>
        </StackLayout>
    </GridLayout>

    <!-- COLUMN HEADER -->
    <GridLayout columns="80,auto,89,auto,*" rows="*" class="col-header" verticalAlignment="center">
        <GridLayout col="0"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="center">
            <Button row="0" col="0" class="select" text="RATING" (tap)="sort('PGR')"></Button>
            <Label row="0" col="1" class="fas" *ngIf="list.carat == 'sortPGR' && list.toggle" text="&#xf077; " horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="fas" *ngIf="list.carat == 'sortPGR' && !list.toggle" text="&#xf078; " horizontalAlignment="left"></Label>
        </GridLayout>
        <GridLayout col="1"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
            <Button row="0" col="0" class="select" text="TICKER" (tap)="sort('symbol')"></Button>
            <Label row="0" col="1" class="fas" *ngIf="list.carat == 'symbol' && list.toggle" text="&#xf077; " horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="fas" *ngIf="list.carat == 'symbol' && !list.toggle" text="&#xf078; " horizontalAlignment="left"></Label>
        </GridLayout>
        <GridLayout col="2"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
            <Button row="0" col="0" class="select" text=" |  COMPANY " (tap)="sort('name')"></Button>
            <Label row="0" col="1" class="fas" *ngIf="list.carat == 'name' && list.toggle" text="&#xf077; " horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="fas" *ngIf="list.carat == 'name' && !list.toggle" text="&#xf078; " horizontalAlignment="left"></Label>
        </GridLayout>
        <GridLayout col="3"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
            <Button row="0" col="0" class="select" text="PRICE" (tap)="sort('Last')"></Button>
            <Label row="0" col="1" class="fas" *ngIf="list.carat == 'Last' && list.toggle" text="&#xf077; " horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="fas" *ngIf="list.carat == 'Last' && !list.toggle" text="&#xf078; " horizontalAlignment="left"></Label>
        </GridLayout>
        <GridLayout col="4"  rows="*" class="col-sort sorted sorted-down" columns="auto,auto" horizontalAlignment="left">
            <Button row="0" col="0" class="select" text=" |  CHANGE " (tap)="sort('Percentage ')"></Button>
            <Label row="0" col="1" class="fas" *ngIf="list.carat == 'Percentage ' && list.toggle" text="&#xf077;" horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="fas" *ngIf="list.carat == 'Percentage ' && !list.toggle" text="&#xf078;" horizontalAlignment="left"></Label>
        </GridLayout>
    </GridLayout>
    <RadListView [items]="getList" class="list-group" height="100%">
        <ng-template let-item="item" let-i="index" tkListItemTemplate>
            <GridLayout rows="30,auto" columns="80,80,40,60,*,50" class="list-item" (tap)="navToDetails(item)">
                <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgrRating(item.pgr, item.raw, item.etf)"></SVGImage>
                <Label row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol"></Label>
                <Label row="1" col="1" colSpan="2" horizontalAlignment="left" class="company" [text]="item.name"></Label>
                <Label row="0" col="2" horizontalAlignment="left" text="ETF" class="badge--ETF no-ETF"></Label>
                <Label row="0" col="2" horizontalAlignment="left" text="&#xf071;" class="fal icon--warning no-warning"></Label>
                <Label row="0" col="3" colSpan="2" horizontalAlignment="left" class="main-data" [text]="itemLastFormatter(item.last)" [ngClass]="healthColorFormatter(item.change)"></Label>
                <Label row="1" col="3" horizontalAlignment="left" class="sub-data" [text]="itemChangeFormatter(item.change)" [ngClass]="healthColorFormatter(item.change)"></Label>
                <Label row="1" col="4" horizontalAlignment="left" class="sub-data" [text]="itemPercentFormatter(item.change)" [ngClass]="healthColorFormatter(item.change)"></Label>
                <Label row="0" col="5" rowSpan="2" horizontalAlignment="center" class="fal icon--alert no-alert" text="&#xf0f3;"></Label>
            </GridLayout>
        </ng-template>
    </RadListView>
</StackLayout>
