@import '../_variables.scss';

/********** LIST GROUP **********/

.list-group__container {

  .list-group {
    background-color:white;
  }
}

.lst-name__container {
  background-color: $background-main;
  padding:0 15 5;
  border-bottom-width:1;
  border-bottom-color:$border-main;

  .lst-name {
    font-size: 28;
    font-weight: 200;
    color:$white;
    text-align:left;
  }
  .lst-icon {
    color:$link-vary1;
    font-size:10;
    margin-right:0;
  }
}

.lst-action-bar {
  background-color: $deep-slate;
  border-top-width:1;
  border-top-color:$mid-slate;
}


.powerbar__container {
  .powerbar {
    margin: 0 3;
    border-radius: 25%;
    border-color:$white;
    border-width: 1.25;
  }
  .powerbar-txt--yellow {
    font-size:9;
  }
}


.list-icon {
  font-size: 22;
  color:$white;
}

.list-icon--alert {
  border: {
    radius: 20%;
    color:$white;
    width: 1.25;
  }
  // background: $gradient-bluepurple;
  font-size:15;

  &.active {
    background: $gradient-bluepurple;
  }
}
