<ActionBar class="actionBar__root" flat="true">
    <NavigationButton></NavigationButton>
    <Label text="Starred List" horizontalAlignment="center"></Label>
</ActionBar>

<StackLayout class="list-group__container">
    <GridLayout columns="*,*,200,*,*" rows="45" class="lst-action-bar">
        <Button col="0" class="fal list-icon" text="&#xf160;"></Button>
        <Button col="1" class="fal list-icon" text="&#xf0b0;"></Button>
        <StackLayout col="2" verticalAlignment="center">
            <GridLayout columns="*,32,*" rows="26" verticalAlignment="center" class="powerbar__container">
                <Button col="0" class="powerbar powerbar--green" style="width:auto;"></Button>
                <Button col="1" class="powerbar powerbar--yellow" style="width:auto;"></Button>
                <Button col="2" class="powerbar powerbar--red" style="width:auto;"></Button>
                <Button col="0" class="powerbar-txt" text="112"></Button>
                <Button col="1" class="powerbar-txt powerbar-txt--yellow" text="129"></Button>
                <Button col="2" class="powerbar-txt" text="101"></Button>
            </GridLayout>
        </StackLayout>
        <Button col="3" class="fas list-icon list-icon--alert" text="Del &#xf0f3;" height="26" width="26" (tap)="deleteStockList()"></Button>
        <Button col="4" class="fal list-icon" text="&#xf002;"></Button>
    </GridLayout>

    <!-- COLUMN HEADER -->
    <GridLayout columns="80,auto,*,auto,*,50" rows="*" class="col-header" verticalAlignment="center">
        <GridLayout col="0"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="center">
            <Button row="0" col="0" class="select" text="RATING " (tap)="sortByRating()"></Button>
            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
        </GridLayout>
        <GridLayout col="1"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
            <Button row="0" col="0" class="select" text="TICKER "></Button>
            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
        </GridLayout>
        <GridLayout col="2"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
            <Button row="0" col="0" class="select" text=" |  COMPANY " (tap)="sortByCompany()"></Button>
            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
        </GridLayout>
        <GridLayout col="3"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
            <Button row="0" col="0" class="select" text="PRICE " (tap)="sortByPrice()"></Button>
            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
        </GridLayout>
        <GridLayout col="4"  rows="*" class="col-sort sorted sorted-down" columns="auto,auto" horizontalAlignment="left">
            <Button row="0" col="0" class="select" text=" |  CHANGE "></Button>
            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
        </GridLayout>
        <GridLayout col="5"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="center">
            <Button row="0" col="0" class="select" text="ALERTS "></Button>
            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
        </GridLayout>
    </GridLayout>

    <!-- THIS IS THE STARRED LIST -->
    <RadListView [items]="getList" class="list-group" height="500">
        <ng-template let-item="item" let-i="index" tkListItemTemplate>
            <GridLayout rows="30,auto" columns="80,80,40,60,*,50" class="list-item" (tap)="onTap(item)">
                <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgrRating(item['PGR'], item['raw_PGR'])"></SVGImage>
                <Label row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol"></Label>
                <Label row="1" col="1" colSpan="2" horizontalAlignment="left" class="company" [text]="item.name"></Label>
                <Label row="0" col="2" horizontalAlignment="left" text="ETF" class="badge--ETF no-ETF"></Label>
                <Label row="0" col="2" horizontalAlignment="left" text="&#xf071;" class="fal icon--warning no-warning"></Label>
                <Label row="0" col="3" colSpan="2" horizontalAlignment="left" class="main-data" [text]="'$' + (item['Last']).toFixed(2)" [ngClass]="item.Change == 0 ? 'black' : (item.Change > 0 ? 'green' : 'red')"></Label>
                <Label row="1" col="3" horizontalAlignment="left" class="sub-data" [text]="item.Change > 0 ? ('+' + item.Change.toFixed(2)) : (item.Change.toFixed(2))"
                       [ngClass]="item.Change == 0 ? 'black' : (item.Change > 0 ? 'green' : 'red')"></Label>
                <Label row="1" col="4" horizontalAlignment="left" class="sub-data" [text]="item.Change > 0 ? ('(' + item['Percentage '].toFixed(2) + '%)') : ( '(' + item['Percentage '].toFixed(2) + '%)')"
                       [ngClass]="item.Change == 0 ? 'black' : (item.Change > 0 ? 'green' : 'red')"></Label>
                <Label row="0" col="5" rowSpan="2" horizontalAlignment="center" class="fal icon--alert no-alert" text="&#xf0f3;"></Label>
            </GridLayout>
        </ng-template>
    </RadListView>
</StackLayout>

<!--<GridLayout *tkListItemSwipeTemplate columns="auto, *, auto">-->
    <!--<StackLayout id="" col="0" style="background-color: red; color: white;" (tap)="leftSwipe(item)">-->
        <!--<Label [text]="'Remove '+ item.name + '?'" style="color: black;"></Label>-->
        <!--&lt;!&ndash;<Label text="&#xf005;" class="fal" verticalAlignment="center" horizontalAlignment="center"&ndash;&gt;-->
               <!--&lt;!&ndash;style="font-size: 18; font-weight: 500; margin: 10; padding: 15; border-width:2; border-color:whitesmoke; border-style:solid; border-radius: 50%; color: white;"></Label>&ndash;&gt;-->
    <!--</StackLayout>-->
    <!--<StackLayout id="delete-view" col="2" style="background-color: red; color: white;" (tap)="rightSwipe(item)">-->
        <!--<Label text="&#xf1f8;" class="fal" verticalAlignment="center" horizontalAlignment="center"-->
               <!--style="font-size: 18; font-weight: 500; margin: 10; padding: 15; border-width:2; border-color:whitesmoke; border-style:solid; border-radius: 50%; color: white;"></Label>-->
    <!--</StackLayout>-->
<!--</GridLayout>-->
<!--<GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="gridLayoutLayout">-->
    <!--<StackLayout id="mark-view" col="0" class="markViewStackLayout" (tap)="leftSwipe($event)">-->
        <!--<Label text="mark" class="swipeTemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>-->
    <!--</StackLayout>-->
    <!--<StackLayout id="delete-view" col="2" class="deleteViewStackLayout" (tap)="rightSwipe($event)">-->
        <!--<Label text="delete" class="swipeTemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>-->
    <!--</StackLayout>-->
<!--</GridLayout>-->

