<ActionBar class="" flat="true" style="visibility: collapse"></ActionBar>
<GridLayout columns="*, 50" rows="80, auto" class="onboard__container" (tap)="goToMarket()">

    <Button col="1" row="0" class="fal" style="color: white; text-align: right; vertical-align: top; font-size: 22; font-weight: 300;" text="&#xf410;" (tap)="goToMarket()"></Button>
    <Label col="0" row="0" colSpan="2" class="title" textWrap="true" text="Welcome to Explorer!"></Label>

    <StackLayout col="0" row="1" height="90%">
        <StackLayout class="onboard__item onboard__item--border">
            <Label class="subtitle" text="Inside you will..."></Label>
            <GridLayout rows="auto, auto" columns="40,*">
                <Label row="0" col="0" rowSpan="2" class="fal icon--check" text="&#xf058;" horizontalAlignment="left" verticalAlignment="top"></Label>
                <Label row="0" col="1" class="item-copy" text="Harness the power of our proprietary and proven Stock & ETF ratings!" textWrap="true" horizontalAlignment="left" verticalAlignment="top"></Label>
                <Image row="1" col="1" class="item-img" src="res://onboard__img--PGR-arcs" width="100%"></Image>
            </GridLayout>
        </StackLayout>

        <StackLayout class="onboard__item onboard__item--border">
            <GridLayout rows="auto, auto" columns="40,*">
                <Label row="0" col="0" rowSpan="2" class="fal icon--check" text="&#xf058;" horizontalAlignment="left" verticalAlignment="top"></Label>
                <Label row="0" col="1" class="item-copy" text="Quickly scan ETFs, industries, and the U.S. market for investment ideas." textWrap="true" horizontalAlignment="left" verticalAlignment="top"></Label>
                <Image row="1" col="1" class="item-img" src="res://onboard__img--PGR-bar" width="100%"></Image>
            </GridLayout>
        </StackLayout>

        <StackLayout class="onboard__item">
            <GridLayout rows="auto" columns="40,*">
                <Label row="0" col="0" class="fal icon--check" text="&#xf058;" horizontalAlignment="left" verticalAlignment="top"></Label>
                <Label row="0" col="1" class="item-copy" text="Gain access to advanced stock screening, done-for-you research, hot lists, and so much more!" textWrap="true" horizontalAlignment="left" verticalAlignment="top"></Label>
            </GridLayout>
        </StackLayout>

        <StackLayout class="btn--onboard" orientation="horizontal" verticalAlignment="bottom">
            <GridLayout rows="60" columns="*, 50" width="100%">
                <Button row="0" col="0" class="btn-copy" text="Enter Market View" horizontalAlignment="center" (tap)="goToMarket()"></Button>
                <Label row="0" col="1" class="fal" text="&#xf054;" horizontalAlignment="center"></Label>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</GridLayout>




