/************************   VARIABLES   ************************/


/********** Colors **********/


/* Black */
$black: #2b2b2b;
/* White */
$white: #ffffff;


$background-app: #212731;

/* Current: deep-slate */
$background-main: #212731;
/* Current: slate */
$background-main--vary1: #3C4655;
/* Current: light-grey */
$background-invert: #F2F2F2;
/* Current: lightest-grey */
$background-invert--vary1: #F8F8F8;

$background-invert--vary2: #CFD1D5;

$background-list-header: #EEEEEE;

$background-toggle--inactive: #EEEEEE;

$background-col-header: #f8f8f8;

/* Current: bodycopy-grey */
$main-font: #444444;
/* Current: light-grey */
$main-font--invert: #F2F2F2;
/* Current: light-slate */
$main-font--vary1: #777777;
/* Current: slate */
$subheader-font: #3C4655;



/* Current: bright-yellow */
$link-vary1: #F8E71C;
/* Current: bright-blue */
$link-vary2: #0087DA;
/* Current: light-slate */
$link-vary3: #B4B8BE;

$link-vary4: #cccccc;

/* Current: alpha-black--30 */
$border-main: rgba(0,0,0,0.3);
/* Current: alpha-black--15 */
$border-main--vary1: rgba(0,0,0,0.15);
/* Current: alpha-white--10 */
$border-invert: rgba(255,255,255,0.1);
/* Current: alpha-white--20 */
$border-invert--vary1: rgba(255,255,255,0.2);
/* Current: alpha-black--15 */
$border-main--vary2: #eeeeee;

$border-toggle--inactive: #f1f1f1;


/***** Palette *****/

$ca-green:#24A300;
$data-green:#009014;
$data-green--vary1:#3CC915;
$slider-green:#7ED321;
$slider-red:#FE510F;
$ca-red:#CC0000;
$data-red:#BB0000;
$data-red--vary1:#EC1717;
$ca-yellow:#F5A623;
$data-yellow:#FFD700;
$ca-grey:#444444;
$data-grey:#949494;

$light-green:#F4FFF0;
$light-red:#FFFCFC;

$deep-slate: #242C38;
$slate: #3C4655;
$mid-slate: #6C747F;
$light-slate: #B4B8BE;
$lightest-slate: #CFD1D5;
$light-grey: #F2F2F2;
$lightest-grey: #F8F8F8;

$bodycopy-grey:#444444;

$bright-yellow: #F8E71C;
$bright-blue: #0087DA;
$light-blue: #80C9FF;
$lightest-blue: #EBF7FF;
$lightest-yellow:#FFFEF6;
$icon-orange:#ff9911;

$discovery-purple: #531672;
$discovery-purple--dark: #291041;


$screener-blue: #124DAD;
$screener-blue--dark: #011E52;




/********** Borders **********/

$separator-top: '(border-top: 1 solid #{$border-main})';
$separator-bottom: '(border-bottom: 1 solid #{$border-invert})';


$border-radius--card-view__stack: 10;





$font-stack--FaPro: 'Font Awesome 5 Pro', SansSerif;


$font-size--h1: 36;
$font-size--h2: 24;
$font-size--h3: 14;
$font-size--h4: 12;
$font-size--para: 13;
$font-size--h5: 10;

$font-size--actionbar__label: 18;
$font-size--actionbar__icons: 22;
$font-size--card-head__title: 20;
$font-size--card-head__icon: 20;
$font-size--card-head__action: 20;
$font-weight--card-head__title: 300;
$font-size--col-head: 8;
$font-weight--col-head: 600;
$font-color--col-head: #3C4655;
//$font-size--card-head__icon: 18;
$font-size--data-big: 18;
$font-weight--data-ticker: 800;
$font-weight--data-big: 700;
$font-size--data-small: 11;





$mkt-msg__container: linear-gradient(to left, rgba(222,239,255,0.5) 0%, rgba(152,190,222,0.25) 100%);
$mkt-msg__container--vary1: linear-gradient(to right, rgba(0,94,120,0.7) 0%, rgba(62,43,143,0.9) 20%, rgba(125,227,187,0.7) 100%);
$mkt-msg__container--vary2: linear-gradient(90deg, rgba(21,153,87,0.7) 0%, rgba(21,87,153,0.7) 100%);
$mkt-msg__container--vary3: linear-gradient(90deg, rgba(19,78,94,0.85) 0%, rgba(113,178,128,0.8) 100%);
$mkt-msg__container--vary4: linear-gradient(90deg, rgba(230,92,0,0.8) 0%, rgba(249,212,35,0.8) 100%);
$mkt-msg__container--vary5: linear-gradient(90deg, rgba(148,199,85,0.7) 0%, rgba(96,163,91,0.7) 43%, rgba(24,206,218,0.7) 100%);
$mkt-msg__container--vary6: linear-gradient(90deg, rgba(86,171,47,1) 0%, rgba(168,224,99,1) 50%, rgba(0,178,190,1) 100%);



$gradient-btn--green: linear-gradient(180deg, #4EB000 0%, #007400 100%);

$gradient-bluepurple: linear-gradient(to left, rgba(97,8,165,1) 0%, rgba(0,165,235,1) 100%);

$ca-green-gradient: linear-gradient(180deg, #4EB000 8%, #007400 100%);

$ca-green-gradient--lightest: linear-gradient(to right, #ffffff, #F5FFF2);

$ca-yellow-gradient: linear-gradient(180deg, #FAD961 0%, #F76B1C 100%);

$ca-red-gradient: linear-gradient(180deg, #F5515F 0%, #9F041B 100%);

$ca-red-gradient--lightest: linear-gradient(to right, #ffffff, #FFF7F7);

$ca-background--dark1: linear-gradient(143deg, #111316, #2F3544);

$slider-background--verybullish: linear-gradient(to right, #e00000 0%, #ef5a00 25%, #ffbe00 50%, #61c600 75%, #24a300 100%);

$slider-background--bullish: linear-gradient(to right, #e00000 0%, #ef5a00 33%, #ffbe00 66%, #61c600 100%);

$slider-background--neutral: linear-gradient(to right, #e00000 0%, #ef5a00 50%, #ffbe00 100%);

$slider-background--bearish: linear-gradient(to right, #e00000 0%, #ef5a00 100%);

$slider-background--verybearish: linear-gradient(to right, #e00000 0%, #ef5a00 100%);
