<GridLayout>
    <page-router-outlet></page-router-outlet>
    <GridLayout *ngIf="loaderService.isLoading$ | async" backgroundColor="rgba(0,0,0,0.25)">
        <ActivityIndicator width="120" height="120" busy="true" class="activity-indicator" backgroundColor="rgba(0,0,0,0.8)" borderRadius="20" color="white"></ActivityIndicator>
    </GridLayout>
</GridLayout>
