@import '_variables.scss';
@import 'secondary.scss';
@import 'market/market.component.scss';
@import 'listgroup/listgroup.component.scss';
@import 'item/item-detail.component.scss';
@import 'list-list/list-list.component.scss';
@import 'insights/insights.scss';
@import 'explore/explore.component.scss';
@import 'search/search.scss';


/************************   MAIN SCSS   ************************/


.page {
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.form {
  margin-left: 10;
  margin-right: 10;
  flex-grow: 2;
  vertical-align: middle;
}

.input {
  margin-left: 0;
  margin-right: 0;
}

.main__container {
  background: $background-main;
}


.starredActive {
  color: yellow;
  font-weight: 800;
}


.mainPage {
  background: linear-gradient(to bottom, #111316, #2F3544);
}



/********** ACTION BAR **********/

.actionBar__root {
  background-color: #212731;
  color: $white;
  visibility:visible;

  .actionBar__flexbox {
    justify-content: space-between;
    width: 96%;

    .ab-icon {
      text-align:center;
      font-size: $font-size--actionbar__icons;
    }
    .hidden {
      opacity:0;
    }
    .visible {
      opacity:1;
    }
  }

  label {
    text-align: center;
    color: $white;
    font-size: $font-size--actionbar__label;
    font-weight:600;
  }
}




/********** CARD VIEW **********/

.card-view__container {

  .card-view__stack {
    background-color: $white;
    border: {
      width:0;
      radius:$border-radius--card-view__stack;
      color:$white;
    }
  }

  .card-view__header {
    background: $deep-slate;
    padding: 8 0;
    border: {
      width:1.5;
      color:white;
      radius:10;
    }

    .card-icon {
      color: $link-vary1;
      font-size: $font-size--card-head__icon;
    }

    .card-title {
      color: $white;
      letter-spacing: .05;
      font: {
        size: 15;
        weight:800;
      }
      margin-bottom:1;
    }

    .card-subtitle {
      color: $link-vary1;
      font: {
        size: 12;
        weight: 400;
      }
      letter-spacing: .1;
    }

    .card-action {
      color: $white;
      font-size: $font-size--card-head__action;

      &.minus {
        font-size: 14;
      }
    }
  }
}





/********** COLUMN HEADERS **********/

.col-header {
  background-color: $white;
  height: 22;
  border-bottom-width: 1;
  border-bottom-color: $background-invert;

  .col-sort {
    font: {
      size: $font-size--col-head;
      weight: $font-weight--col-head;
    }
    color: $mid-slate;

    .fas {
      color: $link-vary2;
    }
  }
}





/********** LIST HEADERS **********/

.list-header {
  background-color: white;
  padding:8 15 8;
  border-bottom-width:1.5;
  border-bottom-color:$border-main--vary1;

  .sub-head {
    color:$subheader-font;
    font: {
      weight:600;
      size:$font-size--h4;
    }
    letter-spacing:.05;
  }
  .sub-head--link {
    font: {
      weight:400;
      size:10;
    }
    color:$link-vary2;
  }
  .sub-head--icon {

  }
}




/********** LIST Tertiary HEADERS **********/


.list-header-tertiary {
  background-color:#f2f2f2;
  padding: 5 15;

  .tertiary-head {
    color:$main-font;
    font: {
      weight:800;
      size:$font-size--h5;
    }
    letter-spacing:.05;
  }
}




/********** SELECTION BAR **********/


.selection-bar {
  background-color: $white;

  .mkt-sector-btn {
    background-color:$background-invert--vary1;
    color:$main-font--vary1;
    text-align:center;
    font: {
      size:12;
      weight: 700;
    }
    border-bottom-width:3;
    border-bottom-color:$border-toggle--inactive;
  }
  .indSelected {
    background-color: $white;
    color: $link-vary2;
    font: {
      weight: 800;
      size:12;
    }
    border-bottom-color:$link-vary2;
    border-bottom-width:3;
  }
}


.selection-bar--chart {
  background-color: $white;

  .option {
    color:$main-font--vary1;
    text-align:center;
    font: {
      size:13;
      weight: 700;
    }
    padding-top:3;
    border-bottom-width:3;
    border-bottom-color:$border-toggle--inactive;
    background-color:$background-invert--vary1;

    &.active {
      background-color: $white;
      color: $link-vary2;
      font: {
        weight: 800;
      }
      border-bottom-color:$link-vary2;

      &.positive {
        // background:  linear-gradient(to top, #ffffff, #F5FFF2);
        color: $data-green;
        border-bottom-color:$data-green;
      }
      &.negative {
        // background: linear-gradient(to top, #ffffff 10%, #FFDFDF 100%);
        color: $data-red;
        border-bottom-color:$data-red;
      }
    }
  }
}





/********** LIST GROUP **********/


.list-group {
  .list-item {
    padding: 1 0 5;
    border-bottom-width:1;
    border-bottom-color:#F2f2f2;

    .pgr-rating {
      width: 54;
      height: 36;
      margin-top:6;
      // width: 48;
      // height: 32;
      // margin: 2;
      // padding: 2;
    }
    .pgr-arc--overall {
      width: 40;
      height:20;
      margin-top:3;
    }
    .pgr-arc-small {
      width:34;
      height:18;
      margin: {
        right:4;
        bottom:1;
      }
    }
    .ticker {
      font: {
        weight: 800;
        size: $font-size--data-big;
      }
      color: $main-font;
    }
    .company {
      font: {
        weight: 300;
        size: $font-size--data-small;
      }
      color: $main-font;
    }
    .factor {
      font: {
        weight: 400;
        size: 10;
      }
      color: $discovery-purple--dark;
    }
    .main-data {
      font: {
        weight: 600;
        size: $font-size--data-big;
      }
    }
    .sub-data {
      font: {
        weight: 400;
        size: $font-size--data-small;
      }
    }
    .badge--ETF {
      background-color: $data-grey;
      color: $white;
      padding:0 2;
      border-radius: 2;
      margin: 5;
      font: {
        size: 8;
        weight: 800;
      }
      height: 10;

      &.no-ETF {
        visibility:hidden;
      }
    }
    .icon--alert {
      font-size: 18;
      color: $link-vary2;

      &.no-alert {
        visibility:hidden;
      }
    }
    .icon--warning {
      font-size: 13;
      color:$data-red--vary1;

      &.no-warning {
        visibility:hidden;
      }
    }
    .change-bar {
      text-align: left;
      border-radius: 50%;
      height: 10;
      padding: 5;
      margin-right: 2;
    }
    &.advancing {
      background-image: $ca-green-gradient--lightest;
    }
    &.declining {
      background-image: $ca-red-gradient--lightest;
    }
    &.list-item--ETF {
      padding: 2 0 1;

      .list__powerbar-container {
        margin-right:6;
        margin-left:-2;

        .powerbar {
          height:18;
          margin: 0 3;
          border-radius: 25%;
          min-width:18;
        }
        .powerbar-txt {
          font-size:10;

          &.powerbar-txt--yellow {
            font-size:8;
          }
        }
      }
      .badge--ETF {
        margin: 0 5;
      }
      .sub-data {
        font: {
          weight: 600;
        }
        margin-top:4;
      }
    }
  }
  &.list-group--Earnings {
    .main-data {
      font: {
        weight: 300;
        size: $font-size--data-big;
      }
      color:$slate;
    }
    .sub-data {
      font: {
        weight: 800;
        size: $font-size--data-small;
      }
    }
    .icon--cal {
      font-size:20;
    }
  }
}

 

.list-group--thin {
  .list-item {
    padding:2 0 0;
    border-bottom-width:1;
    border-bottom-color:#F2f2f2;

    .pgr-rating {
      width: 30;
      height: 20;
    }
    .pgr-arc-small {
      width:30;
      height:15;
      margin: {
        bottom:1;
        left:5;
      }
    }
    .ticker {
      font: {
        weight: 800;
        size: 18;
      }
      color: $main-font;
    }
    .company {
      font: {
        weight: 300;
        size: 16;
      }
      color: $slate;
    }
    .type {
      font: {
        weight: 800;
        size: 12;
      }
      color: $mid-slate;
    }
    .industry {
      font: {
        weight: 600;
        size: 15;
      }
      color:$main-font;
      margin-left:10;
    }
    .list__powerbar-container {
      padding-right:10;

      .powerbar {
        margin: 0 3;
      }
      .powerbar-txt--yellow {
        font-size:9;
      }
    }
    .fal {
      font-size:22;
      family:$font-stack--FaPro, fa-light-300;
    }
    .icon {
      color: $link-vary2;
    }
    .icon--before-open {
      color: $ca-yellow;
    }
    .icon--after-close {
      color: $light-blue;
    }

    &.list-item--results {
      padding:0 5 0 15;
      background-color:white;

      .ticker {
        font: {
          weight: 800;
          size: 15;
        }
        color: $main-font;
      }
      .company {
        font: {
          weight: 300;
          size: 15;
        }
        color: $slate;
      }
      .type {
        font: {
          weight: 800;
          size: 10;
        }
        color: $mid-slate;
        text-align:center;
      }
    }
  }
}




.list__container {
  .card-view__header {
    padding: 5 0;

    .card-title {
      margin-bottom:0;
    }
  }
  &.list__container--discovery {
    .card-view__header {
      background:$discovery-purple--dark;
    }
  }
}




/********** POWER BAR **********/


.powerbar {
  height:30;
  margin: 10 0;
  border-radius: 25%;
  min-width:32;
}
.powerbar-txt {
  font-weight: 700;
  font-size: 10;
  text-align: center;
  color: $white;
}
.powerbar--green {
  background-image: $ca-green-gradient;
}
.powerbar--yellow {
  background-image: $ca-yellow-gradient;
  width: 34;
}
.powerbar--red {
  background-image: $ca-red-gradient;
}

.powerbar--list-item {
  height:30;
  margin: 0;
  padding-right:5;

  .powerbar {
    border-radius: 25%;
    border-width:2;
    border-color:white;
  }
  .powerbar--yellow {
    background-image: $ca-yellow-gradient;
    width: 38;
  }
}


/********** FACTOR SLIDERS **********/


.pgr-sliders {

  .sliders-header {
    background-color:white;
    padding:10 15 8;
    border-bottom-width:1;
    border-bottom-color:$border-main--vary1;

    .sub-head {
      color:$subheader-font;
      font: {
        weight:600;
        size:$font-size--h4;
      }
      letter-spacing:.05;
      text-transform:uppercase;
    }
  }

  .sliders__container {
    background-color: $background-invert--vary1;

    .slider {
      padding: 5 15;

      .slider-label {
        font: {
          size: 11;
          weight: 600;
        }
        vertical-align: center;
      }
      .slider-background {
        background-color: #dddddd;
        margin-right: 10;
        border: {
          radius: 25%;
          width:2;
          color:#ffffff;
        }
      }
      .slider-gradient {
        background-color: #eeeeee;
        margin-right:13;
        border: {
          radius: 25%;
          width:2;
          color:#ffffff;
        }
        &.gradient-verybullish {
          background: $slider-background--verybullish;
        }
        &.gradient-bullish {
          background: $slider-background--bullish;
        }
        &.gradient-neutral {
          background: $slider-background--neutral;
        }
        &.gradient-bearish {
          background: $slider-background--bearish;
        }
        &.gradient-verybearish {
          background: $slider-background--verybearish;
        }
      }
      .slider-dot {
        background-color: #eeeeee;
        border: {
          radius: 25%;
          width:2;
          color:#ffffff;
        }
        width: 20;
        height: 20;
        text-align: center;

        &.dot-verybullish {
          background-color: $ca-green;
        }
        &.dot-bullish {
          background-color: $slider-green;
        }
        &.dot-neutral {
          background-color: $ca-yellow;
        }
        &.dot-bearish {
          background-color: $slider-red;
        }
        &.dot-verybearish {
          background-color: $ca-red;
        }
      }
    }
  
    &.sliders__container--overall {
      .slider {
        padding: 5 15;

        .slider-label {
          font: {
            size: 13;
            weight: 700;
          }
        }
      }
    }
  }
}


