
* {
  font-family: SansSerif;
}

.para {
  color: $main-font;
  font-weight: 400;
  font-size: $font-size--para;
  margin: 5 0 6;
  line-height:2.85;
}

.italic {
  font-style:italic;
}
.bold {
  font-weight:600;
}
.bolder {
  font-weight:700;
}
.boldest {
  font-weight:800;
}

.btn--Xsmall {
  font-size:8;
}
.btn--small {
  font-size:10;
}
.btn--read-more {
  background-color:$link-vary2;
  padding: 5 15;
  border-radius:25%;
  color: $white;
  margin:10 0;
  font-weight: 600;
}

.fal {
  font: {
    family:$font-stack--FaPro, fa-light-300;
    weight: 300;
  }
  &.starred {
    font-weight: 900;
    color:$link-vary1;
  }
}
.far {
  font: {
    family:$font-stack--FaPro, fa-regular-400;
    weight: 400;
  }
}
.fas {
  font: {
    family:$font-stack--FaPro, fa-solid-900;
    weight: 900;
  }
}

.icon--star {
  color: $link-vary4;
  font-size: 20;
}

.icon--active {
  color: $link-vary1;
  font-weight:900;
}

.green {
  color: $ca-green;
}
.lightGreen {
  color: $light-green;
}
.yellow {
  color: $ca-yellow;
}
.orange {
  color: $ca-yellow;
}
.red {
  color: $ca-red;
}
.black {
  color: $black;
}
.white {
  color: $white;
}
.grey {
  color: $mid-slate;
}

.greenbg {
  background-color: $data-green--vary1;
}
.greenbglt {
  background: $ca-green-gradient--lightest;
}

.yellowbg {
  background-color: $ca-yellow;
}

.redbg {
  background-color: $data-red--vary1;
}
.redbglt {
  background: $ca-red-gradient--lightest;
}

.bullish--gradient {
  background-image: $ca-green-gradient;
}
.bearish--gradient {
  background-image: $ca-red-gradient;
}
.neutral--gradient {
  background-image: $ca-yellow-gradient;
}

/********** SETTINGS **********/

.settings__container {
  background-image: $ca-background--dark1;
  color:white;

  .settings__page {
    padding:5 2;

    .header {
      padding:5 13 7;
      border-bottom-width:1;
      border-bottom-color:$border-invert;

      .icon--logout {
        font-size:14;
        color: $link-vary1;
        padding: 10;
      }
      .logout {
        font-size:14;
        color: $link-vary1;
        text-transform: uppercase;
        weight:600;
      }
      .icon--close {
        font-size: 28;
      }
      .title {
        font: {
          weight:200;
          size:38;
        }
        letter-spacing:0.03;
      }
    }

    .options__container {
      border-top-width:1;
      border-top-color: rgba(255,255,255,0.5);
      margin-bottom:16;

      .options__item {
        margin-bottom: 3;
        background-color: rgba(255,255,255,0.05);

        .option-txt-lg {
          font: { 
            size:22;
            weight: 200;
          }
          margin-left:15;
          color:$white;
          text-align:left;
        }
        .lst-icon {
          font-size: 20;
          color:$link-vary1;
        }
        .lst-icon--chevron {
          color:$white;
        }
      }
      &.options__container--dropdown {

        .drawer-drop {
          border-top-width:1;
          border-top-color: rgba(0,0,0,0.6);
          background-color: rgba(0,0,0,0.3);
          width:100%;
          padding:5 10;
          margin-bottom:2;

          .drop-item {
            margin-left:10;
          }
          button {
            color:$link-vary1;
            font-size:20;
          }
          .button-label {
            color:$link-vary1;
            font-size:9;
          }
        }
      }
    }
  }
}

/********** LOGIN - ONBOARD - LOCK - INTAKE **********/

.onboard__container {
  padding:10 20;
  background-color: $background-main;

  
  .title {
    font: {
      weight:300;
      size:34;
    }
    color: $white;
    padding-bottom:10;
    border-bottom-width:1;
    border-bottom-color:$border-invert--vary1;
    margin-bottom:5;
  }
  .onboard__item {
    padding-top:15;

    .subtitle {
      font: {
        weight:800;
        size:18;
      }
      color: $link-vary1;
      margin-bottom:10;
    }
    .icon--check {
      color: #80C9FF;
      font-size:26;
      margin-top:3;
    }
    .item-copy {
      font: {
        weight:400;
        size:17;
      }
      color:$white;
      margin:0 0 10;
      line-height:1.25;

      .note {
        font-size:10;
        line-height:1.75;
      }
    }
    .item-img {
      margin: 5 0 15;
    }
    &.onboard__item--border {
      border-bottom-width:1;
      border-bottom-color:$border-invert--vary1;
    }
  }
  .btn--onboard {
    color:white;
    font: {
      size:22;
      weight:500;
    }
    padding: 5 10;
    background-image: $gradient-btn--green;
    border-radius:40%;
    margin: 30 5 20 5;
  }
}

.onboard__container {
  .unlock__page {
    .unlock-item {
      margin-bottom:5;

      .icon--check {
        color: #80C9FF;
        font-size:18;
        margin-top:0;
      }
      .item-copy {
        font: {
          weight:400;
          size:15;
        }
        color:$white;
        margin:0 0 10;
        line-height:1.2;

        .note {
          font-size:8;
        }
      }
    }
  }
}

.btn-login {
  border-radius: 3;
  background-color: #283e71;
  font-size: 16;
  width: 90%;
  font-family: 'Open Sans', 'OpenSans-Regular';
}

.btn-sign-up {
  border-radius: 3;
  background-color: #4d66a2;
  font-size: 16;
  width: 50%;
  margin-top: 50;
  font-family: 'Open Sans', 'OpenSans-Regular';
}

.input-login {
  border-radius: 5;
  width: 90%;
  color: black;
  font-size: 18;
  placeholder-color: #bbbbbb;
  margin: 10;
  font-family: 'Open Sans', 'OpenSans-Regular';
}

.mainPage--login {
  background: linear-gradient(to bottom, #111316, #2F3544);
  background-image: url('res://CApp__SPLASH--SEE');
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;

  .login-logo {
    margin: 10 15%;
  }
  .loginForm {
    padding: 2 5;
    text-align: center;
    vertical-align: center;
    horizontal-align: center;
    width: 90%;
    margin: 0;

    .loginInput {
      border-radius: 8%;
      font-size: 14;
      font-weight: 400;
      placeholder-color: rgb(50,50,50);
      color: $black;
      width: 100%;
      background-color: white;
    }
    .new-user {
      color: $link-vary1;
      font-weight: 400;
      font-size: 16;
      text-align: left;
    }
    .rememberLoginCheck {
      border-radius: 5%;
      color: white;
      font-weight: 600;
      font-size: 16;
      text-align: left;
    }
    .remember-me {
      color: white;
      font-weight: 400;
      font-size: 12;
      text-align: left;
    }
    .signinBtn {
      border-radius: 8%;
      background: $link-vary2;
      color: white;
      font-size: 16;
      font-weight: 400;
      margin: 5 0;
      height: 40;
      width: 100%;
    }
  }
  .legal {
    color: white;
    font-weight: 400;
    font-size: 9;
    text-align: left;
    width: 90%;
    padding: 5;
    margin-bottom:2;
  }
}

.searchItemName {
  padding: 2%;
  margin: 2%;
  font-weight: 600;
  font-size: 15;
  color: #101010;
}

.searchItemCompName {
  padding: 2%;
  margin: 5 0 5 0;
  font-size: 12;
  font-weight: 400;
  text-wrap: normal;
  color: #101010;
}

.btn-add-stock {
  padding: 0;
  margin: 25;
  color: #219903;
  border-style: solid;
  border-color: #219903;
  border-width: 1;
  border-radius: 50;
}

.icon {
  vertical-align: center;
  text-align: center;
  horizontal-align: center;
  font-family: "FontAwesome";
  font-size: 20;
}

.alertIcon {
  margin-top: 5;
  margin-left: 10%;
  vertical-align: center;
  font-family: "FontAwesome";
  font-size: 16;
  horizontal-alignment: center;
}

.swipeIcon {
  padding: 5;
  font-size: 26;
  color: white;
  margin-top: 25%;
  margin-right: 25;
  font-family: "FontAwesome";
}

.redIconBkg {
  background-color: #c00000;
  margin: 2;
  width: 50%;
}

.grayIconBkg {
  margin: 2;
  width: 50%;
}

.listHeader {
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  color: white;
  font-size: 18;
  font-weight: 500;
}

.searchText {
  margin: 1;
  padding: 3;
  color: black;
  text-align: center;
  font-size: 18;
  font-weight: 600;
  background-color: whitesmoke;
  border-radius: 25%;
}

.gridSwipeLayout {
  background-color: #c00000;
}

.selected {
  border-width: 1;
  border-style: solid;
  border-color: white;
  background-color: #00AC00;
  color: whitesmoke;
  border-radius: 15%;
}

.sel {
  background: linear-gradient(to right, #142448, #2D5382);
  color: white;
  border-radius: 20%;
  margin: 7%;
  padding: 7%;
}

.bottom-gradient {
  background: linear-gradient(to bottom, orangered, green, lightblue);
}

.left-gradient {
  background: linear-gradient(to left, orangered, green, lightblue);
}

.right-gradient {
  background: linear-gradient(to right, orangered, green, lightblue);
}

.degree-gradient {
  background: linear-gradient(45deg, orangered, green, lightblue);
}

.two-color-gradient {
  background: linear-gradient(-45deg, orangered, lightblue);
}

.background-image {
  background-image: linear-gradient(to bottom, orangered, green, lightblue);
}

.homeBtn {
  border-radius: 5%;
  background: linear-gradient(to right, #142448, #1C345B);
  color: white;
  font-size: 18;
  font-weight: 300;
  margin: 5%;
  padding: 10%;
  width: 70%;
  height: 20%;
}

.signinBtn {
  border-radius: 5%;
  background: linear-gradient(to right, rgb(60, 102, 187), rgb(70,120,220));
  color: white;
  font-size: 14;
  font-weight: 400;
  margin: 4;
  padding: 5;
  width: 100%;
}

.loginLabels {
  color: white;
  font-size: 11;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}

.homeInput {
  padding: 0;
  margin: 0;
}

.loginForm {
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: center;
  horizontal-align: center;
  width: 90%;
}

.loginInput {
  border-radius: 5%;
  margin: 5 0;
  font-size: 16;
  font-weight: 500;
  placeholder-color: rgb(70,120,220);
  color: rgb(70,120,220);
  width: 100%;
  height: 38;
  background-color: white;
}

.signinBtn {
  border-radius: 5%;
  color: white;
  background: linear-gradient(to right, rgb(60, 102, 187), rgb(70,120,220));
  height: 38;
  margin: 0;
  font-size: 16;
  font-weight: 500;
  width: 100%;
}

.rememberLoginCheck {
  border-radius: 5%;
  color: white;
  font-weight: 600;
  font-size: 16;
  vertical-align: center;
  text-align: right;
}

.rememberLoginCheckBtn {
  color: #219903;
  margin-top: 0;
  margin-bottom: 0;
}

.loginBtns {
  text-align: center;
  width: 90%;
  margin: 5;
}

.smallLogo {
  height: 200;
}

.regularSizeLogo {
  height: 400;
}

.form {
  border-width: 2;
  border-color: #142448;
  border-style: solid;
}

#loginCMF {
  margin: 5%;
  padding: 5%;
  width: 75%;
}

.input-field {
  padding: 0 28% 0 28%;
}

.remember {
  background: linear-gradient(to left, rgb(60, 102, 187), rgb(70,120,220));
  color: white;
}

.dont-remember {
  color: rgb(70,120,220);
  background-color: white;
}
