<ActionBar title="Competition Analysis"></ActionBar>

<StackLayout height="100%">
    <RadListView [items]="competitors" class="list-group" height="100%">
        <ng-template let-c="item">
            <StackLayout orientation="horizontal" class="list-group-item" height="100%">
                <GridLayout height="100%" width="30%" columns="*" rows="*,*,*,*,*,*,*,*,*">
                    <Label row="0" text="Symbol" class="competitionGridLabels"></Label>
                    <Label row="1" text="Raw PGR" class="competitionGridLabels"></Label>
                    <Label row="2" text="Rev (M)" class="competitionGridLabels"></Label>
                    <Label row="3" text="PEG"  class="competitionGridLabels"></Label>
                    <Label row="4" text="PE"  class="competitionGridLabels"></Label>
                    <Label row="5" text="Profit Margin"  class="competitionGridLabels"></Label>
                    <Label row="6" textWrap="true" text="Projected EPS growth" class="competitionGridLabels"></Label>
                    <Label row="7" textWrap="true" text="Historic EPS growth"  class="competitionGridLabels"></Label>
                    <Label row="8" textWrap="true" text="Corrected PGR"  class="competitionGridLabels"></Label>
                </GridLayout>

                <ScrollView orientation="horizontal">
                    <StackLayout class="list-group-item" orientation="horizontal" backgroundColor="#2D5382" height="100%">

                        <ng-container *ngFor="let c of competitors" scrollDirection="horizontal" orientation="vertical">
                            <GridLayout height="100%" width="75%" columns="*" rows="*,*,*,*,*,*,*,*,*">
                                <Label row="0" [text]="c['symbol']"  class="competitionGrid"></Label>
                                <Label row="1" [text]="c['raw_pgr_rate']"  class="competitionGrid"></Label>
                                <Label row="2" [text]="c['Revenue(M)']"  class="competitionGrid"></Label>
                                <Label row="3" [text]="c['PEG']"  class="competitionGrid"></Label>
                                <Label row="4" [text]="c['PE']"  class="competitionGrid"></Label>
                                <Label row="5" [text]="c['Profit Margin']"   class="competitionGrid"></Label>
                                <Label row="6" [text]="c['Projected EPS growth']"  class="competitionGrid"></Label>
                                <Label row="7" [text]="c['Historic EPS growth']"  class="competitionGrid"></Label>
                                <Label row="8" [text]="c['corrected_pgr_rate']"  class="competitionGrid"></Label>
                            </GridLayout>
                        </ng-container>
                    </StackLayout>
                </ScrollView>
            </StackLayout>
        </ng-template>
    </RadListView>
</StackLayout>