<ActionBar class="actionBar__root"  flat="true">
    <GridLayout rows="*" columns="35,*,35" class="actionBar__flexbox">
        <Button row="0" col="0" class="fal ab-icon" text="&#xf2bd;" width="33" [nsRouterLink]="['/settings']" pageTransition="slideRight"></Button>
        <Label  row="0" col="1" text="Idea Explorer"></Label>
        <!--<Button row="0" col="2" class="fal ab-icon" text="&#xf0f3;" width="33"></Button>-->
    </GridLayout>
</ActionBar>


<StackLayout height="100%" class="explore__container">
    <ScrollView orientation="vertical">

        <StackLayout class="explore__page">

            <!-- SCREENER -->
            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
                <StackLayout class="card-view__stack explore--screener">

                    <GridLayout rows="75,auto" columns="*,50" class="explore__card-header">
                        <Label row="0" col="0" class="explore-title" text="Screen"></Label>
                        <Button row="0" col="1" class="fal card-action" text="&#xf065;"></Button>
                        <Button row="0" col="1" class="fal card-action minus" [text]="show.exploreScreener ? '&#xf068;' : '&#xf067;'" (tap)="toggleExploreScreener()"></Button>
                        <StackLayout row="1" col="0" colSpan="2" class="button__container" orientation="horizontal" *ngIf="show.exploreScreener">
                            <Button class="name" text="Choose a starting universe"  horizontalAlignment="left" verticalAlignment="center" width="80%" (tap)="goTo('../screener-menu')"></Button>
                            <Button horizontalAlignment="right" verticalAlignment="center" class="fal action-icon" text="&#xf054;" width="20%" (tap)="onopen()"></Button>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout rows="auto" columns="50,*" class="explore__card-body" style="padding-bottom:15; padding-left:15; padding-right:15;" *ngIf="show.exploreScreener">
                        <Label row="0" col="0" class="fal explore-icon" text="&#xf1de;" horizontalAlignment="left"></Label>
                        <Label row="0" col="1" class="body-copy" text="Donec luctus lacinia nulla, eu tincidunt enim facilisis imperdiet. Aliquam nibh odio, porta sed." textWrap="true"></Label>
                    </GridLayout>
                </StackLayout>
            </CardView>

            <!-- DISCOVER -->
            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
                <StackLayout class="card-view__stack explore--discover">

                    <GridLayout rows="75,auto" columns="*,50" class="explore__card-header">
                        <Label row="0" col="0" class="explore-title" text="Discover"></Label>
                        <Button row="0" col="1" class="fal card-action" text="&#xf065;"></Button>
                        <Button row="0" col="1" class="fal card-action minus" [text]="show.exploreDiscover ? '&#xf068;' : '&#xf067;'" (tap)="toggleExploreDiscover()"></Button>
                        <StackLayout row="1" col="0" colSpan="2" class="button__container" orientation="horizontal" *ngIf="show.exploreDiscover">
                            <Button class="name" text="Find similar stocks" horizontalAlignment="left" verticalAlignment="center" width="80%" (tap)="goTo('../discover-menu')"></Button>
                            <Button horizontalAlignment="right" verticalAlignment="center" class="fal action-icon" text="&#xf054;" width="20%" (tap)="onopen()"></Button>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout rows="auto" columns="50,*" class="explore__card-body" *ngIf="show.exploreDiscover">
                        <Label row="0" col="0" class="fal explore-icon" text="&#xf5d2;" horizontalAlignment="left"></Label>
                        <Label row="0" col="1" class="body-copy" text="Donec luctus lacinia nulla, eu tincidunt enim facilisis imperdiet. Aliquam nibh odio, porta sed." textWrap="true"></Label>
                    </GridLayout>
                </StackLayout>
            </CardView>

            <!-- IDEAS -->
            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
                <StackLayout class="card-view__stack explore--ideas">

                    <GridLayout rows="75,auto" columns="*,50" class="explore__card-header">
                        <Label row="0" col="0" class="explore-title" text="Idea Lists"></Label>
                        <Button row="0" col="1" class="fal card-action" text="&#xf065;"></Button>
                        <Button row="0" col="1" class="fal card-action minus" [text]="show.exploreIdeas ? '&#xf068;' : '&#xf067;'" (tap)="toggleExploreIdeas()"></Button>
                        <StackLayout row="1" col="0" colSpan="2" class="button__container" orientation="horizontal" *ngIf="show.exploreIdeas">
                            <Button class="name" text="Show me a random list"  horizontalAlignment="left" verticalAlignment="center" width="80%"></Button>
                            <Button horizontalAlignment="right" verticalAlignment="center" class="fal action-icon" text="&#xf054;" width="20%"></Button>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout rows="auto" columns="50,*" class="explore__card-body" *ngIf="show.exploreIdeas">
                        <Label row="0" col="0" class="fal explore-icon" text="&#xf670;" horizontalAlignment="left"></Label>
                        <Label row="0" col="1" class="body-copy" text="Classic bulls & bears, buy & sell signals, Industry groups and sectos." textWrap="true"></Label>
                    </GridLayout>

                    <StackLayout orientation="vertical" class="explore__card-lst" *ngIf="show.exploreIdeas">
                        <GridLayout rows="60" columns="*,40" class="lst__item">
                            <Label row="0" col="0" class="lst-name" text="Chaikin Hot Lists" horizontalAlignment="left"></Label>
                            <Button row="0" col="1" class="fal action-icon" text="&#xf054;"></Button>
                        </GridLayout>

                        <GridLayout rows="60" columns="*,40" class="lst__item">
                            <Label row="0" col="0" class="lst-name" text="Idea Lists" horizontalAlignment="left"></Label>
                            <Button row="0" col="1" class="fal action-icon" text="&#xf054;"></Button>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>

            <!-- EARNINGS -->
            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
                <StackLayout class="card-view__stack explore--earnings">

                    <GridLayout rows="75,auto" columns="*,50" class="explore__card-header">
                        <Label row="0" col="0" class="explore-title" text="Earnings"></Label>
                        <Button row="0" col="1" class="fal card-action" text="&#xf065;"></Button>
                        <Button row="0" col="1" class="fal card-action minus" [text]="show.exploreEarnings ? '&#xf068;' : '&#xf067;'" (tap)="toggleExploreEarnings()"></Button>
                        <CardView row="1" col="0" colSpan="2" class="earnings-week__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" *ngIf="show.exploreEarnings">
                            <GridLayout rows="auto" columns="*,*,*,*,*" class="week">

                                <StackLayout row="0" col="0" class="day selected-day" orientation="vertical">
                                    <Label class="date" text="5/15" horizontalAlignment="center"></Label>
                                    <Button class="reporting" text="23" horizontalAlignment="center"></Button>
                                    <Label class="weekday" text="MON" horizontalAlignment="center"></Label>
                                </StackLayout>
                                <StackLayout row="0" col="1" class="day" orientation="vertical">
                                    <Label class="date" text="5/16" horizontalAlignment="center"></Label>
                                    <Button class="reporting" text="8" horizontalAlignment="center"></Button>
                                    <Label class="weekday" text="TUE" horizontalAlignment="center"></Label>
                                </StackLayout>
                                <StackLayout row="0" col="2" class="day" orientation="vertical">
                                    <Label class="date" text="5/17" horizontalAlignment="center"></Label>
                                    <Button class="reporting" text="19" horizontalAlignment="center"></Button>
                                    <Label class="weekday" text="WED" horizontalAlignment="center"></Label>
                                </StackLayout>
                                <StackLayout row="0" col="3" class="day" orientation="vertical">
                                    <Label class="date" text="5/18" horizontalAlignment="center"></Label>
                                    <Button class="reporting" text="40" horizontalAlignment="center"></Button>
                                    <Label class="weekday" text="THU" horizontalAlignment="center"></Label>
                                </StackLayout>
                                <StackLayout row="0" col="4" class="day" orientation="vertical">
                                    <Label class="date" text="5/19" horizontalAlignment="center"></Label>
                                    <Button class="reporting" text="14" horizontalAlignment="center"></Button>
                                    <Label class="weekday" text="FRI" horizontalAlignment="center"></Label>
                                </StackLayout>
                            </GridLayout>
                        </CardView>
                    </GridLayout>

                    <GridLayout rows="auto" columns="50,*" class="explore__card-body" *ngIf="show.exploreEarnings">
                        <Label row="0" col="0" class="fal explore-icon" text="&#xf51e;" horizontalAlignment="left"></Label>
                        <Label row="0" col="1" class="body-copy" text="Aliquam nibh odio, porta sed convallis eu, feugiat vel nulla." textWrap="true"></Label>
                    </GridLayout>

                    <StackLayout orientation="vertical" class="explore__card-lst" *ngIf="show.exploreEarnings">
                        <GridLayout rows="60" columns="*,40" class="lst__item">
                            <Label row="0" col="0" class="lst-name" text="Earnings Calendar" horizontalAlignment="left"></Label>
                            <Button row="0" col="1" class="fal action-icon" text="&#xf054;"></Button>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ScrollView>
</StackLayout>
