<ActionBar class="actionBar__root" flat="true">
    <Label [text]="list.name"></Label>
</ActionBar>
<StackLayout class="lst-lst__container" *ngIf="list.ready">
    <StackLayout class="lst-lst__body" *ngIf="list.name == 'Major Indices'">
        <GridLayout *ngFor="let item of list.index" rows="auto" columns="50,*,50" class="lst-item">
            <Button col="0" text="&#xf19c;" class="fal lst-icon lst-icon--submenu" (tap)="nav(item)"></Button>
            <Button col="1" [text]="item.name" (tap)="nav(item)" horizontalAlignment="left" class="lst-txt-md"></Button>
            <Button col="2" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="nav(item)"></Button>
        </GridLayout>
    </StackLayout>

    <StackLayout class="lst-lst__body" *ngIf="list.name == 'My Lists'">
        <ListView [items]="lists">
            <ng-template let-item="item">
                <GridLayout rows="auto" columns="50,*,50" class="lst-item">
                    <Button col="0" text="&#xf46d;" class="fal lst-icon lst-icon--submenu" (tap)="nav(item)"></Button>
                    <Button col="1" [text]="item.name" class="lst-txt-md" (tap)="nav(item)"></Button>
                    <Button col="2" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="nav(item)"></Button>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>

    <StackLayout class="list-group__container">
        <StackLayout class="list-group" swipeActions="true" pullToRefresh="false" height="100%" *ngIf="list.name == 'Industries'">
            <RadListView [items]="list.industry" class="list-group" pullToRefresh="false" height="100%">
                <ng-template let-item="item" let-i="index" tkListItemTemplate>
                    <GridLayout rows="*" columns="5*,4*" class="list-item">
                        <GridLayout col="0" rows="*" columns="*">
                            <Label row="1" col="1" colSpan-="2" [text]="item.name" style="padding: 5; margin: 5; vertical-align: center" class="company" (tap)="goToListDetail(item)"></Label>
                        </GridLayout>

                        <GridLayout rows="*" columns="auto, 30, auto" row="0" col="1" class="powerbar--list-item" verticalAlignment="center">
                            <Label col="0" (tap)="goToListDetail(item)" [width]="setBullWidth(item)" class="powerbar powerbar--green"></Label>
                            <Label col="1" (tap)="goToListDetail(item)" class="powerbar powerbar--yellow"></Label>
                            <Label col="2" (tap)="goToListDetail(item)" [width]="setBearWidth(item)" class="powerbar powerbar--red"></Label>
                            <Label col="0" [text]="item.bull" (tap)="goToListDetail(item)" class="powerbar-txt"></Label>
                            <Label col="1" [text]="item.neut" (tap)="goToListDetail(item)" class="powerbar-txt"></Label>
                            <Label col="2" [text]="item.bear" (tap)="goToListDetail(item)" class="powerbar-txt"></Label>
                        </GridLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
        </StackLayout>
    </StackLayout>

    <StackLayout class="lst-lst__body" *ngIf="list.name == 'US Equity ETFs'">
        <ListView [items]="list.etf" class="lst-item">
            <ng-template let-item="item">
                <GridLayout rows="auto" columns="50,*,50">
                    <Button col="0" text="&#xf19c;" class="fal lst-icon lst-icon--submenu" (tap)="navETF(item)"></Button>
                    <Button col="1" [text]="item.name" (tap)="navETF(item)" class="lst-txt-md"></Button>
                    <Button col="2" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="navETF(item)"></Button>
                </GridLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</StackLayout>
