<ActionBar class="actionBar__root" flat="true">
    <NavigationButton text=""></NavigationButton>
    <Label text="Idea Screener" horizontalAlignment="center"></Label>
</ActionBar>

<StackLayout height="100%" class="explore__container">
  <ScrollView orientation="vertical">
    <StackLayout  class="explore__page">

      <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
        <StackLayout class="card-view__stack explore--screener">

          <!-- SCREENING CARD HEADER BLOCK -->
          <GridLayout rows="60,auto,auto,auto,auto, auto" columns="*,50" class="explore__card-header">
            <Label row="0" col="0" class="explore-title" text="Screen"></Label>
            <Button row="0" col="1" class="fal card-action" text="&#xf01e;"></Button>

            <!-- STARTING UNIVERSE SELECTION -->
            <Label row="1" col="0" colSpan="2" class="label" text="Choose a starting stock universe:"></Label>
            <StackLayout row="2" col="0" colSpan="2" class="criteria__container" orientation="horizontal">
              <DropDown #ddStartingUniv [items]="startingUniverses"
                        [(ngModel)]="selectedIndex"
                        (selectedIndexChanged)="universeChange($event)"
                        (opened)="universeOpen()"
                        class="criteria"
                        horizontalAlignment="center"
                        ></DropDown>
            </StackLayout>

            <StackLayout  row="3" col="0" colSpan="2" class="rule">
            </StackLayout>

            <Label row="4" col="0" colSpan="2" class="label" text="Select criteria to add to your screen:"></Label> 
            <!-- SCREENING CRITERIA SELECTION -->
            <StackLayout row="5" col="0" colSpan="2" class="criteria__container" orientation="horizontal">
                <DropDown #ddScreeningCriteria [items]="screeningCriteria"
                    [(ngModel)]="selectedScreeningIndex"
                    (selectedIndexChanged)="onScreeningCriteriaChange($event)"
                    (opened)="screenCritOpen()"
                    (closed)="screenCritClose()"
                    hint="Select Screening Criteria" 
                    class="criteria"
                    horizontalAlignment="center"
                    ></DropDown>
            </StackLayout>
          </GridLayout>


          <!-- SCREENING CARD BODY BLOCK -->
          <StackLayout class="explore__card-body">
            <Label class="main-label" text="Selected Criteria:"></Label> 

            <!-- PGR MULTI SELECT -->
            <StackLayout  class="screener-choice" width="100%" *ngIf="pgrSelectedValues.length >= 1">
              <GridLayout rows="auto" columns="*,40">
                <Label row="0" col="0" class="label" text="PGR Value Selection:"></Label>
                <Button row="0" col="1" class="fal action" text="&#xf00d;"></Button>
              </GridLayout>
              <RadListView class="criteria__container" [items]="showSelectedPGRCriteria" height="80" style="padding: 5;">
                  <ng-template let-item="item" tkListItemTemplate>
                      <GridLayout rows="*" columns="*" class="">
                          <Label row="0" col="0" [text]="item.name" style="color: black; text-align: left; padding: 5 5 5 20"></Label>
                      </GridLayout>
                  </ng-template>
              </RadListView>
            </StackLayout>


            <!-- PRICE TREND SINGLE SELECT -->
            <StackLayout class="screener-choice" *ngIf="show.priceTrend" orientation="vertical">
              <GridLayout rows="auto" columns="*,40">
                <Label row="0" col="0" class="label" text="Price Trend Selection:"></Label>
                <Button row="0" col="1" class="fal action" text="&#xf00d;"></Button>
              </GridLayout>

              <StackLayout class="criteria__container">
                <DropDown #ddPriceTrend [items]="priceTrendCriteria"
                          [(ngModel)]="selectedPriceTrendIndex"
                          (selectedIndexChanged)="priceTrendChange($event)"
                          (opened)="priceTrendOpen()"
                          (closed)="priceTrendClose()"
                          hint="Select Price Trend Criteria" 
                          class="criteria-dropdown"
                          horizontalAlignment="center"
                          verticalAlignment="center">
                </DropDown>
              </StackLayout>
            </StackLayout>


            <!-- PRICE RANGE DOUBLE SINGLE SELECT FOR MIN & MAX -->
            <StackLayout class="screener-choice" *ngIf="show.priceRange" orientation="vertical">
              <GridLayout rows="auto" columns="*,40">
                <Label row="0" col="0" class="label" text="Price Range Selection:"></Label>
                <Button row="0" col="1" class="fal action" text="&#xf00d;"></Button>
              </GridLayout>

              <GridLayout rows="auto" columns="*,*" class="">
                <StackLayout row="0" col="0" class="criteria__container" style="margin-right: 3;">
                  <GridLayout rows="auto" columns="*,*">
                    <Label row="0" col="0" class="sub-label" text="MIN"></Label>
                    <DropDown row="0" col="1" #ddPriceMin [items]="priceRangeMinCriteria"
                              [(ngModel)]="selectedPriceMinIndex"
                              (opened)="priceMinOpen()"
                              (closed)="priceMinClose()"
                              (selectedIndexChanged)="priceMinChange($event)"
                              hint="Select Minimum Price Range" 
                              class="criteria-dropdown"
                              horizontalAlignment="center"
                              verticalAlignment="center">
                    </DropDown>
                  </GridLayout>
                </StackLayout>

                <StackLayout row="0" col="1"  class="criteria__container" style="margin-left: 3;">
                  <GridLayout rows="auto" columns="*,*">
                    <Label row="0" col="0" class="sub-label" text="MAX"></Label>
                    <DropDown row="0" col="1" #ddPriceMax [items]="priceRangeMaxCriteria"
                              [(ngModel)]="selectedPriceMaxIndex"
                              (opened)="priceMaxOpen()"
                              (closed)="priceMaxClose()"
                              (selectedIndexChanged)="priceMaxChange($event)"
                              hint="Select Minimum Price Range" 
                              class="criteria-dropdown"
                              horizontalAlignment="center"
                              verticalAlignment="center">
                    </DropDown>
                  </GridLayout>
                </StackLayout>

              </GridLayout>

            </StackLayout>


            <!-- CMF SINGLE SELECT -->
            <StackLayout class="screener-choice" *ngIf="show.cmf" orientation="vertical">
              <GridLayout rows="auto" columns="*,40">
                <Label row="0" col="0" class="label" text="Chaikin Money Flow Selection:"></Label>
                <Button row="0" col="1" class="fal action" text="&#xf00d;"></Button>
              </GridLayout>

              <StackLayout class="criteria__container">
               <DropDown  #ddCMF [items]="cmfCriteria"
                          [(ngModel)]="selectedCMFIndex"
                          (selectedIndexChanged)="cmfChange($event)"
                          (opened)="cmfOpen()"
                          (closed)="cmfClose()"
                          hint="Select Money Flow Criteria"
                          class="criteria-dropdown"
                          horizontalAlignment="center"
                          verticalAlignment="center"></DropDown>
              </StackLayout>
            </StackLayout>


            <!-- MKT CAP SINGLE SELECT -->
            <StackLayout class="screener-choice" *ngIf="show.marketCap" orientation="vertical">
              <GridLayout rows="auto" columns="*,40">
                <Label row="0" col="0" class="label" text="Market Cap Selection:"></Label>
                <Button row="0" col="1" class="fal action" text="&#xf00d;" ></Button>
              </GridLayout>

              <StackLayout class="criteria__container">
                <DropDown #ddMktCap [items]="mktCriteria"
                            [(ngModel)]="selectedMktCapIndex"
                            (selectedIndexChanged)="mktCapChange($event)"
                            (opened)="mktCapOpen()"
                            (closed)="mktCapClose()"
                            hint="Select Market Cap Criteria"
                            class="criteria-dropdown"
                            horizontalAlignment="center"
                            verticalAlignment="center"></DropDown>
              </StackLayout>
            </StackLayout>


            <!-- DIV YIELD SINGLE SELECT -->
            <StackLayout class="screener-choice" *ngIf="show.divYield" orientation="vertical">
              <GridLayout rows="auto" columns="*,40">
                <Label row="0" col="0" class="label" text="Dividend Yield Selection:"></Label>
                <Button row="0" col="1" class="fal action" text="&#xf00d;" ></Button>
              </GridLayout>

              <StackLayout class="criteria__container">
                <DropDown #ddDivYield [items]="divCriteria"
                          [(ngModel)]="selectedDivIndex"
                          (selectedIndexChanged)="divYieldChange($event)"
                          (opened)="divYieldOpen()"
                          (closed)="divYieldClose()"
                          hint="Select Price Trend Criteria"
                          class="criteria-dropdown"
                          horizontalAlignment="center"
                          verticalAlignment="center"></DropDown>
              </StackLayout>
            </StackLayout>


            <!-- EARNINGS SINGLE SELECT -->
            <StackLayout class="screener-choice" *ngIf="show.earnings" orientation="vertical">
              <GridLayout rows="auto" columns="*,40">
                <Label row="0" col="0" class="label" text="Earnings Selection:"></Label>
                <Button row="0" col="1" class="fal action" text="&#xf00d;" ></Button>
              </GridLayout>

              <StackLayout class="criteria__container">
                <DropDown #ddEarnings [items]="earningsCriteria"
                          [(ngModel)]="selectedEarningsIndex"
                          (selectedIndexChanged)="earningsChange($event)"
                          (opened)="earningsOpen()"
                          (closed)="earningsClose()"
                          hint="Select Price Trend Criteria"
                          class="criteria-dropdown"
                          horizontalAlignment="center"
                          verticalAlignment="center"></DropDown>
              </StackLayout>
            </StackLayout>


            <!-- BETA SINGLE SELECT -->
            <StackLayout class="screener-choice" *ngIf="show.beta" orientation="vertical">
              <GridLayout rows="auto" columns="*,40">
                <Label row="0" col="0" class="label" text="Beta Selection:"></Label>
                <Button row="0" col="1" class="fal action" text="&#xf00d;" ></Button>
              </GridLayout>

              <StackLayout class="criteria__container">
                 <DropDown #ddBeta [items]="betaCriteria"
                          [(ngModel)]="selectedBetaIndex"
                          (selectedIndexChanged)="betaChange($event)"
                          (opened)="betaOpen()"
                          (closed)="betaClose()"
                          hint="Select Price Trend Criteria"
                          class="criteria-dropdown"
                          horizontalAlignment="center"
                          verticalAlignment="center"></DropDown>
              </StackLayout>
            </StackLayout>


            <GridLayout rows="auto,auto" columns="*" class="explore__card-body">
                <Button row="0" col="0"text="Add more criteria (+)"  (tap)="openAnotherScreenCrit()" ></Button>
            </GridLayout>


            <StackLayout class="">
                <Button class="btn--screen" text="Screen for Results"></Button>
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </CardView>
    </StackLayout>
  </ScrollView>
</StackLayout>
