// Insight Route Sass Sheet

.insights__container {
  background: $background-app;

  .insights__body {

    .morning-insights {
      .insight__header {
        background-image: linear-gradient(-53deg, #FEFA31 0%, #E81737 100%);
        .insight-author {
          background-color: rgba(240,101,76,0.5);
        }
      }
    }
    .market-insights {
      .insight__header {
        background-image: linear-gradient(148deg, #000000 0%, #262B36 46%, #373E4E 80%);
        .insight-author {
          background-color: rgba(0,18,36,0.9);
        }
      }
    }
    .market-survival-guide {
      .insight__header {
        background: {
          image: url('res://header-bg__MarketSurvivalGuide');
          size: cover;
          repeat: no-repeat;
        }

        .insight-logo {
          margin-bottom:5;
          margin-left:15;
        }

        .insight-author {
          background-color: rgba(36,54,0,0.75);
          color:$link-vary1;
        }
      }
    }
    .insight__header {
      background-color: #666666;
      border-radius: 10;
      border-width:1.5;
      border-color:white;

      .insight-logo {
        margin-bottom:10;
        margin-left:15;
      }
      .insight-graphic {

      }
      .insight-author {
        background-color: #444444;
        border-top-width:1.5;
        border-top-color:white;
        color:white;
        font: {
          weight:400;
          size:13;
        }
        padding:0 15;
      }
      .lock-icon {
        text-align: center;
        color: white; 
        font-size: 60;
        opacity:0.9;
        z-index:100;
      }
    }
    .scroll-menu {
      .inner-card {
        margin:10 10 15 15;
        background-color:$white;
        width:300;

        .insight__post {
          .post-date {
            background-color: rgba(0,0,0,0.5);
            color:white;
            font: {
              weight:700;
              size: 11;
            }
            padding-left:10;
          }
          .post-title {
            font: {
              weight:400;
              size: 18;
            }
            color:$slate;
            padding:0 10;
            line-height:2.5;
          }
          .post-image {
            border-radius:6 6 0 0;
          }
          .post-link {
            color: $link-vary2;
            letter-spacing: .05;
            font: {
              size: 12;
              weight:800;
            }
            padding:0 10 5;
          }
        }
      }
    }
    .insights-locked-state {
      margin:10 0;

      .lock-button {
        color: white; 
        background-color: $link-vary2; 
        border-radius: 25%; 
        border-style: solid; 
        border-color: white; 
        border-width: 1.5; 
        font-size: 17; 
        font-weight: 500; 
        padding: 10 0; 
        margin: 5 2% 7;

        &.lock-button--morning {
          background-color: #E82537;
        }
        &.lock-button--market {
          background-color: #011E52;
        }
        &.lock-button--survival {
          background-color: #669503;
        }
      }
      .lock-text {
        color: $slate; 
        text-align: left; 
        font-size: 14; 
        font-weight: 400; 
        margin: 13 0 10;
        padding:0 15;
        line-height:1.75

      }
      .lock-headline {
        color: white;
        background-color: rgba(0,0,0,0.35);
        font-weight: 400; 
        font-size: 21; 
        padding: 10 17 12; 
        border-radius:10 10 0 0;
      }
      .lock-price {
        color: $link-vary2; 
        text-align: center; 
        font-size: 17; 
        font-weight: 600; 
        margin: 5 0 10;
      }
      .lock-graphic {
         background: {
          image: url('res://lock-image--marketInsights');
          size: cover;
          repeat: no-repeat;
          position: bottom center;
        }
        border-radius:10 10 0 0;

        &.lock-graphic--morning {
          background: {
            image: url('res://lock-image--morningInsight');
            size: cover;
            repeat: no-repeat;
            position: bottom center;
          }
        }
        &.lock-graphic--survival {
          background: {
            image: url('res://lock-image--susrival');
            size: cover;
            repeat: no-repeat;
            position: bottom center;
          }
        }
      }
    }
  }
}
