<ActionBar class="actionBar__root"  flat="true">
    <GridLayout rows="*" columns="35,*,auto,auto" class="actionBar__flexbox">
        <Button row="0" col="0" class="fal ab-icon" text="&#xf2bd;" width="33"  pageTransition="slideRight" [nsRouterLink]="['/settings']"></Button>
        <Label  row="0" col="1" text="Chaikin Insights"></Label>
        <Button row="0" col="2" text="BUY NEW" style="padding: 10" [ngClass]="menu == 'buy' ? 'selected-btn' : null" (tap)="routeToBuy()"></Button>
        <Button row="0" col="4" text="READ"  style="padding: 10" [ngClass]="menu == 'read' ? 'selected-btn' : null" (tap)="routeToRead()"></Button>
    </GridLayout>
</ActionBar>

<StackLayout height="100%" class="insights__container black">
    <ScrollView orientation="vertical">
        <StackLayout class="insights__body" *ngIf="ready.perm && menu == 'buy'">

            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
                <StackLayout class="card-view__stack market-insights">
                    <Label textWrap="true" style="padding: 10; margin: 10" text="Here you can access and subscribe to Chaikin Insights: weekly or daily newsletters that are in-app purchases. Please log in with your Apple ID to view and save these. You may view your subscriptions by clicking READ above."></Label>
                    <Button text="Connect Apple ID" (tap)="doSomething()" style="background-color: #373E4E; color: white; border-radius: 20%; padding: 5; margin: 5; width: 50%;"></Button>
                </StackLayout>
            </CardView>

            <!-- MARKET INSIGHTS -->
            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
                <StackLayout class="card-view__stack market-insights" *ngIf="ready.insight">
                    <GridLayout rows="89,36" columns="auto,*" class="insight__header">
                        <Image row="0" col="0" class="insight-logo" height="59" width="172" src="res://logo__market-insights" verticalAlignment="bottom" horizontalAlignment="left"></Image>
                        <Image row="0" col="1" class="insight-graphic" height="80" width="135" src="res://MarkIn__header-graphic" horizontalAlignment="right" verticalAlignment="bottom"></Image>
                        <!--<Label row="0" col="1" *ngIf="marketInsightLocked" (tap)="addToSubscription(products[0])" class="far lock-icon" text="&#xf30d;" horizontalAlignment="center" verticalAlignment="center"></Label>-->
                        <Label row="1" col="0" colSpan="3" class="insight-author" text="Weekly commentary by Marc Chaikin"></Label>
                    </GridLayout>
                    <!-- Market Insight Locked Message -->
                    <StackLayout class="insights-locked-state" height="100%" width="94%" *ngIf="!showMarket()">
                        <GridLayout rows="auto,auto,auto,auto" columns="*">
                            <Label row="0" col="0" class="lock-graphic"  text=""></Label>
                            <Label row="0" col="0" class="lock-headline" text="Everything you need to know about the market for the upcoming week and more!" textWrap="true"></Label>
                            <Label row="1" col="0" class="lock-text" text="Each week, stock market expert, Marc Chaikin analyzes everything you need to know about the market, what happened last week, what he anticipates is coming and what you should do next." textWrap="true"></Label>
                            <Button row="2" col="0" class="lock-price" text="Get Market Insights for $14.99/mo!" (tap)="addToSubscription(products[0])"></Button>
                            <Button row="3" col="0" class="lock-button lock-button--market" text="Purchase Monthly Subscription" (tap)="addToSubscription(products[0])" textWrap="true"></Button>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>
            <!-- MORNING INSIGHTS -->
            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
                <StackLayout class="card-view__stack  morning-insights" *ngIf="ready.morning">

                    <GridLayout rows="89,36" columns="auto,*" class="insight__header">
                        <Image row="0" col="0" class="insight-logo" height="59" width="172" src="res://logo__morning-insights" verticalAlignment="bottom" horizontalAlignment="left"></Image>
                        <Image row="0" col="1" class="insight-graphic" height="89" width="146" src="res://MornIn__header-graphic" horizontalAlignment="right" verticalAlignment="bottom"></Image>
                        <!--<Label row="0" col="1" *ngIf="morningInsightLocked" (tap)="addToSubscription(products[2])" class="far lock-icon" text="&#xf30d;" horizontalAlignment="center" verticalAlignment="center"></Label>-->
                        <Label row="1" col="0" colSpan="3" class="insight-author" text="Daily commentary by Dan Russo"></Label>
                    </GridLayout>
                    <!-- Morning Insight Locked Message -->
                    <StackLayout class="insights-locked-state" height="100%" width="94%" *ngIf="!showMorning()">
                        <GridLayout rows="auto,auto,auto,auto" columns="*">
                            <Label row="0" col="0" class="lock-graphic lock-graphic--morning"  text=""></Label>
                            <Label row="0" col="0" class="lock-headline" text="Everything you need to know about the market for the upcoming trading day. Delivered M-F." textWrap="true"></Label>
                            <Label row="1" col="0" class="lock-text" text="Written by Chief Market Strategist Dan Russo, Morning Insights recaps market activty from the previous day and gives you all the pre-market information you need to know before starting the new trading day." textWrap="true"></Label>
                            <Label row="2" col="0" class="lock-price" text="Get Morning Insights for $14.99/mo!" (tap)="addToSubscription(products[2])"></Label>
                            <Button row="3" col="0" class="lock-button lock-button--morning" text="Purchase Monthly Subscription" (tap)="addToSubscription(products[2])" textWrap="true"></Button>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>
            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15" *ngIf="shouldIShowAds()"><Image [src]="getAdSrc()" (tap)="goToAds()" width="300" height="250"></Image></CardView>
            <!-- SURVIVAL GUIDE -->
            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
                <StackLayout class="card-view__stack  market-survival-guide" *ngIf="ready.survival">
                    <GridLayout rows="89,36" columns="auto,*" class="insight__header">
                        <Image row="0" col="0" class="insight-logo" height="76" width="243" src="res://logo__MarketSurvivalGuide" verticalAlignment="bottom" horizontalAlignment="left"></Image>
                        <!--<Label row="0" col="1" *ngIf="marketSurvivalLocked" (tap)="addToSubscription(products[1])" class="fal lock-icon" text="&#xf30d;"></Label>-->
                        <Label row="1" col="0" colSpan="3" class="insight-author" text="Survive & Thrive in Today’s Market"></Label>
                    </GridLayout>
                    <!-- Market Survival Guide Locked Message -->
                    <StackLayout class="insights-locked-state" height="100%" width="94%" *ngIf="!showSurvival()">
                        <GridLayout rows="auto,auto,auto,auto" columns="*">
                            <Label row="0" col="0" class="lock-graphic lock-graphic--survival"  text=""></Label>
                            <Label row="0" col="0" class="lock-headline" text="Everything you need to know to survive and thrive in the current market. Delivered once a week." textWrap="true"></Label>
                            <Label row="1" col="0" class="lock-text" text="Each week, you will be given a detailed action plan for how to SURVIVE and THRIVE in the current market conditions. When the market is going up, you will know where to look for profitable trade ideas. When the market is tanking, you will know how to preserve wealth, avoid landmines, and also profit from shorting overvalued stocks." textWrap="true"></Label>
                            <Label row="2" col="0" class="lock-price" text="Get the Survival Guide for $29.99/mo!" textWrap="true" (tap)="addToSubscription(products[1])"></Label>
                            <Button row="3" col="0" class="lock-button lock-button--survival" text="Purchase Monthly Subscription" (tap)="addToSubscription(products[1])" textWrap="true"></Button>
                        </GridLayout>
                    </StackLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ScrollView>

    <Scrollview orientation="vertical">
        <StackLayout *ngIf="menu == 'read'" class="insights__body">

            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
                <StackLayout class="card-view__stack market-insights" *ngIf="ready.insight">
                    <GridLayout rows="89,36" columns="auto,*" class="insight__header">
                        <Image row="0" col="0" class="insight-logo" height="59" width="172" src="res://logo__market-insights" verticalAlignment="bottom" horizontalAlignment="left"></Image>
                        <Image row="0" col="1" class="insight-graphic" height="80" width="135" src="res://MarkIn__header-graphic" horizontalAlignment="right" verticalAlignment="bottom"></Image>
                        <Label row="1" col="0" colSpan="2" class="insight-author" text="Weekly commentary by Marc Chaikin"></Label>
                    </GridLayout>

                    <GridLayout orientation="horizontal" class="scroll-menu" *ngIf="!marketInsightLocked">
                        <ScrollView orientation="horizontal">
                            <RadListView [items]="getMarketInsight" width="500" height="270" orientation="horizontal">
                                <ListViewLinearLayout scrollDirection="Horizontal" tkListViewLayout></ListViewLinearLayout>
                                <!-- inner scrolling insights object -->
                                <StackLayout orientation="horizontal" id="hideMktIns">
                                    <ng-template let-item="item" tkListItemTemplate>
                                        <CardView class="inner-card" elevation="5" radius="6" shadowOpacity="0.2" shadowRadius="1">
                                            <GridLayout rows="100,30,85,*" columns="300" class="insight__post" *ngIf="ready.insight">
                                                <Image row="0" col="0" rowSpan="2" class="post-image" stretch="aspectFill" [src]="getMarketInsightPic(item)" (tap)="openBrowser(item.link)"></Image>
                                                <Label row="1" col="0" [text]="dateParse(item.date)" class="post-date"></Label>
                                                <Label class="post-title" row="2" [text]="titleFormatter(item.title.rendered)" textWrap="true" (tap)="openBrowser(item.link)"></Label>
                                                <Label row="3" col="0" text="Read Now →" class="post-link" verticalAlignment="middle" (tap)="openBrowser(item.link)"></Label>
                                            </GridLayout>
                                        </CardView>
                                    </ng-template>
                                </StackLayout>
                            </RadListView>
                        </ScrollView>
                    </GridLayout>
                </StackLayout>
            </CardView>

            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
                <StackLayout class="card-view__stack  morning-insights" *ngIf="ready.morning">
                    <GridLayout rows="89,36" columns="auto,*" class="insight__header">
                        <Image row="0" col="0" class="insight-logo" height="59" width="172" src="res://logo__morning-insights" verticalAlignment="bottom" horizontalAlignment="left"></Image>
                        <Image row="0" col="1" class="insight-graphic" height="89" width="146" src="res://MornIn__header-graphic" horizontalAlignment="right" verticalAlignment="bottom"></Image>
                        <Label row="1" col="0" colSpan="2" class="insight-author" text="Daily commentary by Dan Russo"></Label>
                    </GridLayout>

                    <GridLayout orientation="horizontal" class="scroll-menu" *ngIf="!morningInsightLocked">
                        <ScrollView orientation="horizontal">
                            <RadListView [items]="getMorningInsight" width="500" height="270" orientatiom="horizontal">
                                <ListViewLinearLayout scrollDirection="Horizontal" tkListViewLayout></ListViewLinearLayout>
                                <StackLayout orientation="horizontal">
                                    <ng-template let-item="item" tkListItemTemplate>
                                        <CardView class="inner-card" elevation="5" radius="6" shadowOpacity="0.2" shadowRadius="1">
                                            <GridLayout rows="100,30,85,*" columns="300" class="insight__post">
                                                <Image row="0" col="0" rowSpan="2" stretch="aspectFill" class="post-image" [src]="getMarketInsightPic(item)" (tap)="openBrowser(item.link)"></Image>
                                                <Label row="1" col="0" [text]="dateParse(item.date)" class="post-date"></Label>
                                                <Label row="2" col="0" [text]="titleFormatter(item.title.rendered)" class="post-title" textWrap="true" (tap)="openBrowser(item.link)"></Label>
                                                <Label row="3" col="0" text="Read Now →" class="post-link" verticalAlignment="middle" (tap)="openBrowser(item.link)"></Label>
                                            </GridLayout>
                                        </CardView>
                                    </ng-template>
                                </StackLayout>
                            </RadListView>
                        </ScrollView>
                    </GridLayout>
                </StackLayout>
            </CardView>

            <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
                <StackLayout class="card-view__stack  market-survival-guide" *ngIf="ready.survival">
                    <GridLayout rows="89,36" columns="auto,*" class="insight__header">
                        <Image row="0" col="0" class="insight-logo" height="76" width="243" src="res://logo__MarketSurvivalGuide" verticalAlignment="bottom" horizontalAlignment="left"></Image>
                        <Label row="1" col="0" colSpan="3" class="insight-author" text="Survive & Thrive in Today’s Market"></Label>
                    </GridLayout>

                    <GridLayout orientation="horizontal" class="scroll-menu" *ngIf="!marketSurvivalLocked">
                        <ScrollView orientation="horizontal">
                            <RadListView [items]="getMarketSurvival" width="500" height="270" orientatiom="horizontal">
                                <ListViewLinearLayout scrollDirection="Horizontal" tkListViewLayout></ListViewLinearLayout>
                                <StackLayout orientation="horizontal">
                                    <ng-template let-item="item" tkListItemTemplate>
                                        <CardView class="inner-card" elevation="5" radius="6" shadowOpacity="0.2" shadowRadius="1">
                                            <GridLayout rows="100,30,85,*" columns="300" class="insight__post">
                                                <Image row="0" col="0" rowSpan="2" stretch="aspectFill" class="post-image" [src]="getMarketInsightPic(item)" (tap)="openBrowser(item.link)"></Image>
                                                <Label row="1" col="0" [text]="dateParse(item.date)" class="post-date"></Label>
                                                <Label row="2" col="0" [text]="titleFormatter(item.title.rendered)" class="post-title" textWrap="true" (tap)="openBrowser(item.link)"></Label>
                                                <Label row="3" col="0" text="Read Now →" class="post-link" verticalAlignment="middle" (tap)="openBrowser(item.link)"></Label>
                                            </GridLayout>
                                        </CardView>
                                    </ng-template>
                                </StackLayout>
                            </RadListView>
                        </ScrollView>
                    </GridLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </Scrollview>
</StackLayout>
