/* Add mobile styles for the component here.  */

.selected-btn {
    border-width: 1;
    border-color: white;
    border-style: solid;
    padding: 15;
    font-weight: 600;
    border-radius: 15%;
}
