<ActionBar class="actionBar__root" flat="true">
    <NavigationButton text=""></NavigationButton>
    <Label text="Idea Discovery" horizontalAlignment="center"></Label>
</ActionBar>

<StackLayout height="100%" class="explore__container">
	<ScrollView orientation="vertical">
		<StackLayout  class="explore__page">

	        <StackLayout class="explore__card explore--discover">

			    <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
			        <StackLayout class="card-view__stack">

			        	<!-- HEADER BLOCK -->
			            <GridLayout rows="60,auto" columns="*,50" class="explore__card-header">
			                <Label row="0" col="0" class="explore-title" text="Discover"></Label>
			                <StackLayout row="1" col="0" colSpan="2" class="input__container">
			                	<TextField hint="Enter a stock to discover"
                                        autocorrect="false"
                                        (textChange)="onTextChange($event)"
                                        (returnPress)="onReturn($event)"
                                        class="input input-border"
                                        horizontalAlignment="center"
                                        verticalAlignment="center"></TextField>
			                </StackLayout>
			                <Label row="1" col="1" class="fal icon--search" text="&#xf002;" horizontalAlignment="left" verticalAlignment="center"></Label>
			            </GridLayout>

			            <!-- RESULTS HEADER -->
			            <GridLayout columns="*" rows="*" class="list-header-tertiary" verticalAlignment="center" visibility="collapse">
					     	<Label row="0" col="0" class="tertiary-head" text="RESULTS" horizontalAlignment="left"></Label>
					    </GridLayout>

					    <!-- SEARCH RESULTS BODY -->
					    <StackLayout class="results__container" visibility="collapse">
					    	<!-- This appears only when there are no results -->
					    	<Label class="no-results-txt" text="No Results" visibility="collapse"></Label>
				    		<!-- Below StackLayout should be the RadList when hooked up -->
					    	<StackLayout class="list-group list-group--thin">
						    	<GridLayout rows="30" columns="50,80,*,50" class="list-item">
		                            <SVGImage row="0" col="0" class="pgr-arc-small" src="res://ico--PGR-S__NoTxt-very-bullish"></SVGImage>
		                            <Label row="0" col="1" horizontalAlignment="left" class="ticker" text="BULL"></Label>
		                            <Label row="0" col="2" horizontalAlignment="left" class="company" text="Good Burger"></Label>
		                            <Label row="0" col="3" class="fal explore-icon" text="&#xf5d2;" horizontalAlignment="center"></Label>
		                        </GridLayout>
		                        <GridLayout rows="30" columns="50,80,*,50" class="list-item">
		                            <SVGImage row="0" col="0" class="pgr-arc-small" src="res://ico--PGR-S__NoTxt-bullish"></SVGImage>
		                            <Label row="0" col="1" horizontalAlignment="left" class="ticker" text="BEAR"></Label>
		                            <Label row="0" col="2" horizontalAlignment="left" class="company" text="Bluth Company"></Label>
		                            <Label row="0" col="3" class="fal explore-icon" text="&#xf5d2;" horizontalAlignment="center"></Label>
		                        </GridLayout>
		                        <GridLayout rows="30" columns="50,80,*,50" class="list-item">
		                            <SVGImage row="0" col="0" class="pgr-arc-small" src="res://ico--PGR-S__NoTxt-neutral"></SVGImage>
		                            <Label row="0" col="1" horizontalAlignment="left" class="ticker" text="BULL"></Label>
		                            <Label row="0" col="2" horizontalAlignment="left" class="company" text="Good Burger"></Label>
		                            <Label row="0" col="3" class="fal explore-icon" text="&#xf5d2;" horizontalAlignment="center"></Label>
		                        </GridLayout>
		                        <GridLayout rows="30" columns="50,80,*,50" class="list-item">
		                            <SVGImage row="0" col="0" class="pgr-arc-small" src="res://ico--PGR-S__NoTxt-very-bearish"></SVGImage>
		                            <Label row="0" col="1" horizontalAlignment="left" class="ticker" text="BEAR"></Label>
		                            <Label row="0" col="2" horizontalAlignment="left" class="company" text="Bluth Company"></Label>
		                            <Label row="0" col="3" class="fal explore-icon" text="&#xf5d2;" horizontalAlignment="center"></Label>
		                        </GridLayout>
		                        <GridLayout rows="30" columns="50,80,*,50" class="list-item">
		                            <SVGImage row="0" col="0" class="pgr-arc-small" src="res://ico--PGR-S__NoTxt-very-bullish"></SVGImage>
		                            <Label row="0" col="1" horizontalAlignment="left" class="ticker" text="NEU"></Label>
		                            <Label row="0" col="2" horizontalAlignment="left" class="company" text="Kramerica Enterp."></Label>
		                            <Label row="0" col="3" class="fal explore-icon" text="&#xf5d2;" horizontalAlignment="center"></Label>
		                        </GridLayout>
		                    </StackLayout>
		                </StackLayout>

		                <!-- SELECTED RESULT -->
		                <StackLayout class="chosen-result__container" visibility="collapse">
		                	<StackLayout class="list-group" swipeActions="true" height="100%">
				                <GridLayout rows="30,21," columns="80,80,43,60,*,50" class="list-item">
				                    <!-- <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgrRating(item['PGR'], item['raw_PGR'])"></SVGImage>
				                    <Label row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol"></Label>
				                    <Label row="1" col="1" colSpan="2" horizontalAlignment="left" class="company" [text]="item.name"></Label>
				                    <Label row="0" col="2" horizontalAlignment="left" text="ETF" class="badge--ETF no-ETF"></Label>
				                    <Label row="0" col="2" horizontalAlignment="left" text="&#xf071;" class="fal icon--warning no-warning"></Label>
				                    <Label row="0" col="3" colSpan="2" horizontalAlignment="left" class="main-data" [text]="'$' + (item['Last']).toFixed(2)" [ngClass]="item.Change == 0 ? 'black' : (item.Change > 0 ? 'green' : 'red')"></Label>
				                    <Label row="1" col="3" horizontalAlignment="left" class="sub-data" [text]="item.Change > 0 ? ('+' + item.Change.toFixed(2)) : (item.Change.toFixed(2))"
				                           [ngClass]="item.Change == 0 ? 'black' : (item.Change > 0 ? 'green' : 'red')"></Label>
				                    <Label row="1" col="4" horizontalAlignment="left" class="sub-data" [text]="item.Change > 0 ? ('(' + item['Percentage '].toFixed(2) + '%)') : ( '(' + item['Percentage '].toFixed(2) + '%)')"
				                           [ngClass]="item.Change == 0 ? 'black' : (item.Change > 0 ? 'green' : 'red')"></Label>
				                    <Label row="0" col="5" rowSpan="2" horizontalAlignment="center" class="fal icon--alert no-alert" text="&#xf0f3;"></Label> -->
				                </GridLayout>
					        </StackLayout>
					        <StackLayout>
					        	<GridLayout rows="24,24" columns="*,*" class="result-factors">
					        		<Label row="0" col="0" class="factor" text="&bull; Transportation-Air" verticalAlignment="center" ></Label>
					        		<Label row="0" col="1" class="factor" text="&bull; At or Near a New Low" verticalAlignment="center" ></Label>
					        		<Label row="1" col="0" class="factor" text="&bull; Large Cap" verticalAlignment="center" ></Label>
					        		<Label row="1" col="1" class="factor" text="&bull; Bullish Estimate Trend" verticalAlignment="center" ></Label>
					        	</GridLayout>
					        </StackLayout>
		                </StackLayout>

					    <!-- PRE SEARCH BODY -->
			            <GridLayout rows="auto" columns="50,*" class="explore__card-body" visibility="visible">
			                <Label row="0" col="0" class="fal explore-icon" text="&#xf5d2;" horizontalAlignment="left"></Label>
			                <Label row="0" col="1" class="body-copy" text="Donec luctus lacinia nulla, eu tincidunt enim facilisis imperdiet. Aliquam nibh odio, porta sed." textWrap="true"></Label>
			            </GridLayout>
			        </StackLayout>
			    </CardView>
			</StackLayout>

			
			<StackLayout class="list__container list__container--discovery">
				<!-- DISCOVERY LIST 1 -->
			    <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
			    	<StackLayout class="card-view__stack">
			    		<GridLayout rows="auto" columns="40,*,40" class="card-view__header">
		                    <Button col="0" row="0" class="fal card-icon" text="&#xf5d2;"></Button>
		                    <Label col="1" row="0" class="card-title" text="Stocks Like This"></Label>
		                    <Button col="2" row="0" class="fal card-action" text="&#xf065;"></Button>
		                    <Button col="2" row="0" class="fal card-action minus" [text]="show.alikeStocks ? '&#xf068;' : '&#xf067;'" horizontalAlignment="center" verticalAlignment="middle" (tap)="toggleAlikeStocks()"></Button>
		                </GridLayout>

		                <GridLayout *ngIf="show.alikeStocks" columns="80,auto,95,*" rows="*" class="col-header" verticalAlignment="center">
	                        <GridLayout col="0"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="center">
	                            <Button row="0" col="0" class="select" text="RATING "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="1"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text="TICKER "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="2"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text=" |  INDICE "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="3"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text="FACTORS "></Button>
	                        </GridLayout>
	                    </GridLayout>

					<RadListView *ngIf="show.alikeStocks" [items]="alikeStocks" class="list-group" isUserInteractionEnabled="true" height="285">
	                        <ng-template let-item="item">
	                            <GridLayout rows="30,auto" columns="80,125,*" class="list-item">
	                                <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgr(item.PGR)"></SVGImage>
	                                <Label row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol"></Label>
	                                <Label row="1" col="1" horizontalAlignment="left" class="company" [text]="item.name"></Label>
	                                <Label row="0" col="2" horizontalAlignment="left" class="factor" [text]="'&bull; ' + item.most_significant_shared_factor"></Label>
	                                <Label row="1" col="2" horizontalAlignment="left" class="factor" [text]="'&bull; ' + item.most_significant_shared_factor"></Label>	                  
	                            </GridLayout>
	                        </ng-template>
	                    </RadListView>
			    	</StackLayout>
			    </CardView>

			    <!-- DISCOVERY LIST 2 -->
			    <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
			    	<StackLayout class="card-view__stack">
			    		<GridLayout rows="auto" columns="40,*,40" class="card-view__header">
		                    <Button col="0" row="0" class="fal card-icon" text="&#xf5d2;"></Button>
		                    <Label col="1" row="0" class="card-title" text="Swap Candidates"></Label>
		                    <Button col="2" row="0" class="fal card-action" text="&#xf065;"></Button>
		                    <Button col="2" row="0" class="fal card-action minus" [text]="show.swapCandidates ? '&#xf068;' : '&#xf067;'" horizontalAlignment="center" verticalAlignment="middle" (tap)="toggleSwapCandidates()"></Button>
		                </GridLayout>

		                <GridLayout columns="80,auto,95,*" rows="*" class="col-header" verticalAlignment="center"  *ngIf="show.swapCandidates">
	                        <GridLayout col="0"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="center">
	                            <Button row="0" col="0" class="select" text="RATING "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="1"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text="TICKER "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="2"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text=" |  INDICE "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="3"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text="FACTORS "></Button>
	                        </GridLayout>
	                    </GridLayout>

					    <RadListView [items]="swapCandidates" class="list-group" isUserInteractionEnabled="true" height="285" *ngIf="show.swapCandidates">
	                        <ng-template let-item="item">
	                            <GridLayout rows="30,auto" columns="80,125,*" class="list-item">
	                                <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgr(item.PGR)"></SVGImage>
	                                <Label row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol"></Label>
	                                <Label row="1" col="1" horizontalAlignment="left" class="company" [text]="item.name"></Label>
                                    <Label row="0" col="2" horizontalAlignment="left" class="factor" [text]="'&bull; ' + item.most_significant_shared_factor"></Label>
                                    <Label row="1" col="2" horizontalAlignment="left" class="factor" [text]="'&bull; ' + item.most_significant_shared_factor"></Label>
                                </GridLayout>
	                        </ng-template>
	                    </RadListView>
			    	</StackLayout>
			    </CardView>

			    <!-- DISCOVERY LIST 3 -->
			    <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
			    	<StackLayout class="card-view__stack">
			    		<GridLayout rows="auto" columns="40,*,40" class="card-view__header">
		                    <Button col="0" row="0" class="fal card-icon" text="&#xf5d2;"></Button>
		                    <Label col="1" row="0" class="card-title" text="Similar Bulls"></Label>
		                    <Button col="2" row="0" class="fal card-action" text="&#xf065;"></Button>
		                    <Button col="2" row="0" class="fal card-action minus" [text]="show.similarBulls ? '&#xf068;' : '&#xf067;'" horizontalAlignment="center" verticalAlignment="middle" (tap)="toggleSimilarBulls()"></Button>
		                </GridLayout>


		                <GridLayout columns="80,auto,95,*" rows="*" class="col-header" verticalAlignment="center"  *ngIf="show.similarBulls">
	                        <GridLayout col="0"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="center">
	                            <Button row="0" col="0" class="select" text="RATING "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="1"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text="TICKER "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="2"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text=" |  INDICE "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="3"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text="FACTORS "></Button>
	                        </GridLayout>
	                    </GridLayout>

                        <RadListView [items]="similarBulls" class="list-group" isUserInteractionEnabled="true" height="285" *ngIf="show.similarBulls">
                            <ng-template let-item="item">
                                <GridLayout rows="30,auto" columns="80,125,*" class="list-item">
                                    <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgr(item.PGR)"></SVGImage>
                                    <Label row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol"></Label>
                                    <Label row="1" col="1" horizontalAlignment="left" class="company" [text]="item.name"></Label>
                                    <Label row="0" col="2" horizontalAlignment="left" class="factor" [text]="'&bull; ' + item.most_significant_shared_factor"></Label>
                                    <Label row="1" col="2" horizontalAlignment="left" class="factor" [text]="'&bull; ' + item.most_significant_shared_factor"></Label>
                                </GridLayout>
                            </ng-template>
                        </RadListView>
			    	</StackLayout>
			    </CardView>

			    <!-- DISCOVERY LIST 4 -->
			    <CardView class="card-view__container" elevation="5" radius="10" shadowOpacity="0.15" shadowRadius="1" margin="5 0 15">
			    	<StackLayout class="card-view__stack">
			    		<GridLayout rows="auto" columns="40,*,40" class="card-view__header">
		                    <Button col="0" row="0" class="fal card-icon" text="&#xf5d2;"></Button>
		                    <Label col="1" row="0" class="card-title" text="ETFs holding this stock"></Label>
		                    <Button col="2" row="0" class="fal card-action" text="&#xf065;"></Button>
		                    <Button col="2" row="0" class="fal card-action minus" [text]="show.etfsHolding ? '&#xf068;' : '&#xf067;'" horizontalAlignment="center" verticalAlignment="middle" (tap)="toggleEtfsHolding()"></Button>
		                </GridLayout>


		                <GridLayout columns="80,auto,95,*" rows="*" class="col-header" verticalAlignment="center"  *ngIf="show.etfsHolding">
	                        <GridLayout col="0"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="center">
	                            <Button row="0" col="0" class="select" text="RATING "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="1"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text="TICKER "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="2"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text=" |  INDICE "></Button>
	                            <Label row="0" col="1" class="fas icon--caret up" text="&#xf0d8;" horizontalAlignment="left"></Label>
	                            <Label row="0" col="1" class="fas icon--caret down" text="&#xf0d7;" horizontalAlignment="left"></Label>
	                        </GridLayout>
	                        <GridLayout col="3"  rows="*" class="col-sort" columns="auto,auto" horizontalAlignment="left">
	                            <Button row="0" col="0" class="select" text="FACTORS "></Button>
	                        </GridLayout>
	                    </GridLayout>

                        <RadListView [items]="etfsHolding" class="list-group" isUserInteractionEnabled="true" height="285" *ngIf="show.etfsHolding">
                            <ng-template let-item="item">
                                <GridLayout rows="30,auto" columns="80,125,*" class="list-item">
                                    <SVGImage col="0" row="0" rowSpan="2" class="pgr-rating" [src]="pgr(item.PGR)"></SVGImage>
                                    <Label row="0" col="1" horizontalAlignment="left" class="ticker" [text]="item.symbol"></Label>
                                    <Label row="1" col="1" horizontalAlignment="left" class="company" [text]="item.name"></Label>
                                    <Label row="0" col="2" horizontalAlignment="left" class="factor" [text]="'&bull; ' + item.most_significant_shared_factor"></Label>
                                    <Label row="1" col="2" horizontalAlignment="left" class="factor" [text]="'&bull; ' + item.most_significant_shared_factor"></Label>
                                </GridLayout>
                            </ng-template>
                        </RadListView>
			    	</StackLayout>
			    </CardView>
			</StackLayout>
		</StackLayout>
	</ScrollView>
</StackLayout>
