<ActionBar class="actionBar__root"  flat="true">
    <GridLayout rows="*" columns="35,*,35" class="actionBar__flexbox">
        <Button row="0" col="0" class="fal ab-icon" text="&#xf2bd;" width="33"  pageTransition="slideRight" [nsRouterLink]="['/settings']"></Button>
        <Label  row="0" col="1" text="Global Search"></Label>
        <!--<Button row="0" col="2" class="fal ab-icon" text="&#xf0f3;" width="33"></Button>-->
    </GridLayout>
</ActionBar>

<StackLayout class="search__container">

    <GridLayout rows="auto, auto, auto" columns="*" *ngIf="loaded.perm">

        <StackLayout row="0" col="0" class="search__bar">
            <GridLayout columns="5*,*,*" rows="60">
                <TextField #searchField col="0" colSpan="2" hint="Search" class="search-box" autocorrect="false" (textChange)="onTextChange($event)" (returnPress)="onReturn($event)" [(ngModel)]="query" )]></TextField>
                <Button col="1" class="fal close-icon" text="&#xf00d;" verticalAlignment="center" horizontalAlignment="center" (tap)="clearSearch()" *ngIf="resultList.length > 0"></Button>
                <Button col="2" class="fal search-icon" text="&#xf002;" verticalAlignment="center" horizontalAlignment="center" (tap)="searchClick()"></Button>
            </GridLayout>
        </StackLayout>

        <!-- RESULTS HEADER -->
        <ScrollView row="1" col="0" orientation="vertical">
            <StackLayout>
                <StackLayout class="results__container" *ngIf="resultList.length > 0">
                    <GridLayout columns="*" rows="20" class="list-header-tertiary" verticalAlignment="center" >
                        <Label row="0" col="0" class="tertiary-head" text="RESULTS" horizontalAlignment="left"></Label>
                    </GridLayout>

                    <StackLayout class="list-group list-group--thin" *ngFor="let item of resultList">
                        <ScrollView orientation="vertical">
                            <GridLayout class="list-item list-item--results" columns="80, *, 50" rows="36" width="100%" (tap)="click(item)">
                                <Label col="0" class="ticker" [text]="item.Symbol"></Label>
                                <Label col="1" class="company" [text]="item.CompanyName"></Label>
                                <Label col="2" class="type" [text]="item.is_etf ? 'ETF' : 'STOCK'"></Label>
                            </GridLayout>
                        </ScrollView>
                    </StackLayout>
                </StackLayout>

                <StackLayout class="results__container" *ngIf="previousQueries.length > 0">
                    <GridLayout columns="*" rows="20" class="list-header-tertiary" verticalAlignment="center" >
                        <Label row="0" col="0" class="tertiary-head" text="PREVIOUS QUERIES:" horizontalAlignment="left"></Label>
                    </GridLayout>

                    <StackLayout class="list-group list-group--thin" *ngIf="loaded.previous" style="background-color:white;">
                        <StackLayout *ngFor="let item of previousQueries">
                            <GridLayout class="list-item list-item--results" columns="80, *, 50" rows="36" width="100%" (tap)="click(item)">
                                <Label col="0" class="ticker" [text]="item.Symbol"></Label>
                                <Label col="1" class="company" [text]="item.CompanyName"></Label>
                                <Label col="2" class="type" [text]="item.is_etf ? 'ETF' : 'STOCK'"></Label>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <!--ADS-->
    <CardView *ngIf="shouldIShowAds()" style="padding: 5; margin-top: 30;" verticalAlignment="bottom">
        <Image [src]="getAdSrc()" (tap)="goToAds()" width="300" height="50"></Image>
    </CardView>
</StackLayout>
