/********** SEARCH **********/
@import '../_variables.scss';


.search__container {
  background: $background-app;

  .list-header-tertiary {
    background-color:$deep-slate;

    .tertiary-head {
      color:$link-vary1;
      font: {
        weight:800;
        size:$font-size--h5;
      }
      letter-spacing:.05;
    }
  }
  .search__bar {
    background: $background-app;
    border-top-width:1;
    border-top-color:$border-invert;
    padding:0 1 0 10;
    margin-top:1;

    .search-box {
      background-color:#ffffff;
      font: {
        weight:400;
        size:22;
      }
      color:$main-font;
      margin:10 0;
      border-radius:8;
      padding:0 10 0 15;
    }
    .search-icon {
      font-size:24;
      color:$link-vary1;
    }
    .close-icon {
      font-size:24;
      color:$link-vary3;
    }
  }
  .results__container {
    border: {
      radius: 10; 
      width: 1.5; 
      color: #ffffff;
    }
    margin-bottom:10;
  }
}
