<TabView androidTabsPosition="bottom" [(ngModel)]="tabSelectedIndex" (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <page-router-outlet *tabItem="{title: 'market'}" name="market" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'headlines'}" name="headlines" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Search'}" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Explore'}" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'search'}" actionBarVisibility="never">
    </page-router-outlet>
</TabView>