<StackLayout class="item-detail__container" orientation="vertical">
    <GridLayout columns="50,50,*,50,50" rows="38" width="96%" class="actionBar__item-detail" *ngIf="loaded.perms">
        <Button row="0" col="0" class="fal card-action" text="&#xf05a;" horizontalAlignment="center" verticalAlignment="center" (tap)="showMoreInformation()"></Button>
        <Button row="0" col="2" class="fal item-detail__close-txt" text="CLOSE" horizontalAlignment="center" verticalAlignment="top" (tap)="close()"></Button>
        <Button row="0" col="2" class="fal item-detail__close" text="&#xf078;" horizontalAlignment="center" verticalAlignment="bottom" (tap)="close()"></Button>
        <Button row="0" col="3" class="fal card-action" text="&#xf005;" [ngClass]="starred()" (tap)="Star()" horizontalAlignment="center" verticalAlignment="center"></Button>
        <Button row="0" col="4" class="fal card-action" text="&#xf46c;" [ngClass]="onMyList()" (tap)="addToUser()" horizontalAlignment="center" verticalAlignment="center" *ngIf="user.perms && user.perms.prem"></Button>
    </GridLayout>

    <StackLayout class="item-detail__card" *ngIf="loaded.data">
        <GridLayout columns="*" rows="auto, auto" class="item-detail__card item-detail__card--ETF">
            <GridLayout columns="80, 100, 60, *, *" rows="36,auto" class="detail__header" col="0" row="0" >
                <SVGImage row="0" col="0" rowSpan="2" class="pgr-rating--large" stretch="none" [src]="pgrRatingEtf(etf.details.PGR, etf.details['raw_PGR'])" verticalAlignment="center" horizontalAlignment="left"></SVGImage>
                <Label row="0" col="1" class="ticker" [text]="etf.symbol"></Label>
                <Label row="0" col="2" horizontalAlignment="left" text="ETF" class="badge--ETF"></Label>
                <Label row="1" col="1" colSpan="2" class="company" style="font-size: 12;" verticalAlignment="center" [text]="etf.details.name" textWrap="true"></Label>
                <Label row="0" col="3" colSpan="2" class="main-data" [text]="'$' + etf.details.Last.toFixed(2)" horizontalAlignment="left" verticalAlignment="center" [ngClass]="etf.details.Change == 0 ? 'black' : (etf.details.Change > 0 ? 'green' : 'red')"></Label>
                <Label row="1" col="3" class="sub-data" [text]="lastChange" horizontalAlignment="left" [ngClass]="etf.details.Change == 0 ? 'black' : (etf.details.Change > 0 ? 'green' : 'red')"></Label>
                <Label row="1" col="4" class="sub-data" colSpan="2" [text]="lastPercentage" horizontalAlignment="left"  [ngClass]="etf.details.Change == 0 ? 'black' : (etf.details.Change > 0 ? 'green' : 'red')"></Label>
            </GridLayout>
            <!-- CARD TOGGLE -->
            <GridLayout columns="*,*" rows="36" class="detail__toggle" col="0" row="1">
                <Button row="0" col="0" class="toggle-btn" [ngClass]="menu == 'chart' ? 'active' : null" text="CHART" (tap)="this.menu = 'chart'"></Button>
                <Button row="0" col="1" class="toggle-btn" [ngClass]="menu == 'rating' ? 'active' : null" text="DETAILS" (tap)="this.menu = 'rating'"></Button>
            </GridLayout>
        </GridLayout>

        <!-- ROUTER START -->
        <!-- TOGGLE 1 -->
        <GridLayout columns="*" rows="auto, auto, auto, *, auto" id="toggle--chart" *ngIf="menu == 'chart'">
            <!-- PGR RATING -->
            <GridLayout columns="*,*" rows="54" class="detail__PGR-bar" col="0" row="0">
                <StackLayout row="0" col="0" style="padding-left:10;">
                    <GridLayout columns="auto,*" rows="18,36">
                        <Label row="0" col="0" colSpan="2" class="pgr-label" text="POWER GAUGE RATING:" verticalAlignment="bottom"></Label>
                        <SVGImage row="1" col="0" class="pgr-arc-small" [src]="pgrNoTxtSmall(etf.details.PGR, etf.details['raw_PGR'])"></SVGImage>
                        <Label row="1" col="1" [text]="pgrRatingWord(etf.details['PGR'], etf.details['raw_PGR'])" class="pgr-rating-txt"></Label>
                    </GridLayout>
                </StackLayout>
                <StackLayout row="0" col="1" >
                    <GridLayout columns="*,38,*" rows="18, 26" verticalAlignment="bottom" class="detail__PGR-powerbar">
                        <Label row="0" col="0" colSpan="3" class="pgr-label" text="POWER BAR:" verticalAlignment="bottom"></Label>
                        <Button row="1" col="0" class="powerbar powerbar--green" style="width:auto;" (tap)="viewAllHoldings()"></Button>
                        <Button row="1" col="1" class="powerbar powerbar--yellow" style="width:26;" (tap)="viewAllHoldings()"></Button>
                        <Button row="1" col="2" class="powerbar powerbar--red" style="width:auto; " (tap)="viewAllHoldings()"></Button>
                        <Button row="1" col="0" class="powerbar-txt" [text]="etf.details.powerbar.bulls" (tap)="viewAllHoldings()"></Button>
                        <Button row="1" col="1" class="powerbar-txt powerbar-txt--yellow" [text]="etf.details.powerbar.neutrals" (tap)="viewAllHoldings()"></Button>
                        <Button row="1" col="2" class="powerbar-txt" [text]="etf.details.powerbar.bears" (tap)="viewAllHoldings()"></Button>
                    </GridLayout>
                </StackLayout>
            </GridLayout>

            <!--MKT CAP & INDUSTRY-->
            <GridLayout columns="auto,150,auto,auto,auto" rows="36" class="detail-data" col="0" row="1">
                <Label row="0" col="0" class="fal detail-icon" text="&#xf200;" verticalAlignment="center"></Label>
                <Label row="0" col="1" class="data" [text]="etf.details.industry_name" verticalAlignment="center" style="border-right-width: 1; border-right-color: #f2f2f2; margin-right:10;"></Label>
                <Label row="0" col="2" class="fal detail-icon" text="&#xf81d;" verticalAlignment="center"></Label>
                <Label row="0" col="3" class="label" text="Assets &mdash; " verticalAlignment="center"></Label>
                <Label row="0" col="4" class="data" [text]="etf.details.assets" fontWeight="bold" verticalAlignment="center"></Label>
            </GridLayout>


            <!-- DURATION CONTAINER -->
            <StackLayout class="time-duration__container" col="0" row="2">

                <!-- DURATION STATEMENT -->
                <Label class="duration-statement" textWrap="true" *ngIf="loaded.chart">
                    <FormattedString>
                        <Span class="bolder" [text]="etf.symbol"></Span>
                        <Span text=" is"></Span>
                        <Span class="bold" [ngClass]="statusColors()" [text]="timespanPerChange ? (timespanPerChange > 0 ? ' up ' : ' down ') : (etf.details.Change > 0 ? ' up ' : ' down ')"></Span>
                        <Span class="bold" [text]="getGraphTimeChangeText" [ngClass]="statusColors()"></Span>
                        <Span text=" over the last:"></Span>
                    </FormattedString>
                </Label>

                <!-- TIME RANGE SELECT -->
                <GridLayout columns="*,*,*,*" rows="30" class="selection-bar--chart" *ngIf="loaded.chart">
                    <Button col="0" row="0" class="option" [ngClass]="chart.current == '1M' ? 'active' : null" text="1M" (tap)="toggleChartTime('1M')" ></Button>
                    <Button col="1" row="0" class="option" [ngClass]="chart.current == '3M' ? 'active' : null" text="3M" (tap)="toggleChartTime('3M')"></Button>
                    <Button col="2" row="0" class="option" [ngClass]="chart.current == '6M' ? 'active' : null" text="6M" (tap)="toggleChartTime('6M')"></Button>
                    <Button col="3" row="0" class="option" [ngClass]="chart.current == '1Y' ? 'active' : null" text="1Y" (tap)="toggleChartTime('1Y')"></Button>
                </GridLayout>

            </StackLayout>

            <StackLayout class="detail__chart" col="0" row="3">
                <ActivityIndicator [busy]="!loaded.chart" *ngIf="!loaded.chart" width="100" height="100" class="activity-indicator" backgroundColor="rgba(0,0,0,0.8)" borderRadius="10" color="white" style="margin-top: 60"></ActivityIndicator>

                <RadCartesianChart height="100%" class="chart__container" *ngIf="loaded.chart">
                    <DateTimeContinuousAxis tkCartesianHorizontalAxis style="font-family: Arial"
                                            labelMargin="5"
                                            labelLayoutMode="inside"
                                            verticalLocation="Bottom"
                                            labelFitmode="Rotate"
                                            labelRotationAngle="0"
                                            labelSize="10"
                                            plotMode="OnTicks"
                                            [dateFormat]="getDateFormat()"
                                            [majorStepUnit]="getMajorStep()"
                                            [minimum]="minDate()"
                                            [maxiumum]="maxDate()"
                                            [majorStep]="getMajorStepCount()">
                    </DateTimeContinuousAxis>
                    <LinearAxis tkCartesianVerticalAxis  style="font-family: Arial"
                                lineHidden="false"
                                id="vAxis"
                                lineColor="#f8f8f8"
                                [labelFormat]="getLabelFormatLinear()"
                                strokeWidth="1"
                                labelMargin="5"
                                labelLayoutMode="inside"
                                horizontalLocation="Right"
                                labelSize="10"
                                showLabels="true"
                                [majorStep]="getMajorStepLinear()"
                                [minimum]="getPriceMin()"
                                [maximum]="getPriceMax()"></LinearAxis>

                    <LineSeries tkCartesianSeries
                                seriesName="dema"
                                [items]="getMainChart()"
                                categoryProperty="date"
                                valueProperty="dema"></LineSeries>

                    <AreaSeries tkCartesianSeries
                                seriesName="Line"
                                [items]="getMainChart()"
                                categoryProperty="date"
                                valueProperty="price"></AreaSeries>

                    <Palette tkCartesianPalette seriesName="Line">
                        <PaletteEntry tkCartesianPaletteEntry
                                      fillColor="rgba(0,135,218,0.2)"
                                      strokeColor="#0087DA"
                                      strokeWidth="1">
                        </PaletteEntry>
                    </Palette>
                    <Palette tkCartesianPalette seriesName="dema">
                        <PaletteEntry tkCartesianPaletteEntry
                                      strokeColor="orange"
                                      strokeWidth="1">
                        </PaletteEntry>
                    </Palette>
                </RadCartesianChart>
            </StackLayout>




            <!-- GRAPH -->
            <!--<StackLayout class="detail__chart" col="0" row="3">-->
                <!--<Label text="Loading" *ngIf="!loaded.chart"></Label>-->
                <!--<Label text="another yes done" *ngIf="loaded.chart"></Label>-->
                <!--<Label text="Chart is ready" *ngIf="loaded.chart"></Label>-->
                <!--<ActivityIndicator [busy]="!loaded.chart" *ngIf="!loaded.chart" width="100" height="100" class="activity-indicator" backgroundColor="rgba(100,200,0,0.8)" borderRadius="10" color="white" style="margin-top: 60"></ActivityIndicator>-->
                <!--<RadCartesianChart height="100%" class="chart__container" *ngIf="loaded.chart">-->
                    <!--<DateTimeContinuousAxis tkCartesianHorizontalAxis-->
                        <!--labelMargin="5"-->
                        <!--labelLayoutMode="inside"-->
                        <!--verticalLocation="Bottom"-->
                        <!--labelFitmode="Rotate"-->
                        <!--labelSize="10"-->
                        <!--plotMode="OnTicks"-->
                        <!--dateFormat="MM/dd">-->
                    <!--</DateTimeContinuousAxis>-->

                    <!--&lt;!&ndash;[dateFormat]="getDateFormat"&ndash;&gt;-->
                    <!--&lt;!&ndash;[majorStepUnit]="getMajorStep"&ndash;&gt;-->
                    <!--&lt;!&ndash;[minimum]="minDate"&ndash;&gt;-->
                    <!--&lt;!&ndash;[maxiumum]="maxDate"&ndash;&gt;-->
                    <!--&lt;!&ndash;[majorStep]="getMajorStepCount">&ndash;&gt;-->

                    <!--<LinearAxis tkCartesianVerticalAxis-->
                        <!--lineHidden="false"-->
                        <!--lineColor="#f8f8f8"-->
                        <!--strokeWidth="1"-->
                        <!--labelMargin="5"-->
                        <!--labelLayoutMode="inside"-->
                        <!--horizontalLocation="Right"-->
                        <!--labelSize="10"-->
                        <!--showLabels="true"-->
                        <!--labelFormat="%.0f">-->
                    <!--</LinearAxis>-->

                    <!--&lt;!&ndash;[minimum]="getPriceMin"&ndash;&gt;-->
                    <!--&lt;!&ndash;[maximum]="getPriceMax"&ndash;&gt;-->
                    <!--&lt;!&ndash;[majorStep]="getMajorStepLinear">&ndash;&gt;-->
                    <!--&lt;!&ndash;[labelFormat]="getLabelFormatLinear"&ndash;&gt;-->

                    <!--&lt;!&ndash;<LineSeries tkCartesianSeries&ndash;&gt;-->
                        <!--&lt;!&ndash;[items]="getMainChart"&ndash;&gt;-->
                        <!--&lt;!&ndash;seriesName="dema"&ndash;&gt;-->
                        <!--&lt;!&ndash;categoryProperty="date"&ndash;&gt;-->
                        <!--&lt;!&ndash;valueProperty="dema">&ndash;&gt;-->
                    <!--&lt;!&ndash;</LineSeries>&ndash;&gt;-->

                    <!--&lt;!&ndash;<AreaSeries tkCartesianSeries&ndash;&gt;-->
                        <!--&lt;!&ndash;[items]="getMainChart"&ndash;&gt;-->
                        <!--&lt;!&ndash;categoryProperty="date"&ndash;&gt;-->
                        <!--&lt;!&ndash;valueProperty="price">&ndash;&gt;-->
                    <!--&lt;!&ndash;</AreaSeries>&ndash;&gt;-->
                    <!--&lt;!&ndash;<RadCartesianChartGrid tkCartesianGrid&ndash;&gt;-->
                       <!--&lt;!&ndash;horizontalLinesVisible="false"&ndash;&gt;-->
                       <!--&lt;!&ndash;verticalLinesVisible="false"&ndash;&gt;-->
                       <!--&lt;!&ndash;horizontalStripLinesVisible="true"&ndash;&gt;-->
                       <!--&lt;!&ndash;verticalStripLinesVisible="false"&ndash;&gt;-->
                       <!--&lt;!&ndash;horizontalStrokeColor="#dddddd"&ndash;&gt;-->
                       <!--&lt;!&ndash;verticalStrokeColor="#dddddd"&ndash;&gt;-->
                       <!--&lt;!&ndash;horizontalStrokeWidth="0"&ndash;&gt;-->
                       <!--&lt;!&ndash;verticalStrokeWidth="0"&ndash;&gt;-->
                       <!--&lt;!&ndash;ChartAxisHorizontalLocation="right"&ndash;&gt;-->
                       <!--&lt;!&ndash;ChartAxisLabelVisibility="visible"&ndash;&gt;-->
                       <!--&lt;!&ndash;horizontalStripLineColor="#ffffff, #f8f8f8">&ndash;&gt;-->
                    <!--&lt;!&ndash;</RadCartesianChartGrid>&ndash;&gt;-->
                    <!--&lt;!&ndash;<Palette tkCartesianPalette seriesName="Line">&ndash;&gt;-->
                        <!--&lt;!&ndash;<PaletteEntry tkCartesianPaletteEntry&ndash;&gt;-->
                          <!--&lt;!&ndash;fillColor="rgba(0,135,218,0.2)"&ndash;&gt;-->
                          <!--&lt;!&ndash;strokeColor="#0087DA"&ndash;&gt;-->
                          <!--&lt;!&ndash;strokeWidth="1">&ndash;&gt;-->
                        <!--&lt;!&ndash;</PaletteEntry>&ndash;&gt;-->
                    <!--&lt;!&ndash;</Palette>&ndash;&gt;-->
                    <!--&lt;!&ndash;<Palette tkCartesianPalette seriesName="dema">&ndash;&gt;-->
                        <!--&lt;!&ndash;<PaletteEntry tkCartesianPaletteEntry&ndash;&gt;-->
                          <!--&lt;!&ndash;strokeColor="orange"&ndash;&gt;-->
                          <!--&lt;!&ndash;strokeWidth="1">&ndash;&gt;-->
                        <!--&lt;!&ndash;</PaletteEntry>&ndash;&gt;-->
                    <!--&lt;!&ndash;</Palette>&ndash;&gt;-->
                <!--</RadCartesianChart>-->
            <!--</StackLayout>-->

            <StackLayout class="detail__holdings" col="0" row="4">
                <GridLayout rows="auto" columns="*,auto" class="list-header">
                    <Label row="0" col="0" text="TOP HOLDINGS " class="sub-head"></Label>
                    <Label row="0" col="1" text="No holdings available" class="sub-head" *ngIf="loaded.holdings && holdings.length < 1"></Label>
                    <Label row="0" col="1" text="VIEW ALL" class="sub-head" *ngIf="loaded.holdings && holdings.length > 1" (tap)="viewAllHoldings()"></Label>
                </GridLayout>

                <GridLayout rows="30,30,30" columns="*,*" class="top-holdings__container" *ngIf="loaded.holdings && holdings.length > 1">

                    <StackLayout row="0" col="0" class="top-holding" orientation="vertical" style="border-right-width:1; border-right-color:#eeeeee">
                        <GridLayout rows="*" columns="40, auto, *" class="" (tap)="navigate(holdings[0])">
                            <SVGImage row="0" col="0" class="pgr-arc-small" [src]="pgrNoTxt(holdings[0])"></SVGImage>
                            <Label row="0" col="1" class="ticker" [text]="holdings[0].symbol"></Label>
                            <Label row="0" col="2" class="percent-holding" [text]="holdings[0].weight.toFixed(2) + '%'" horizontalAlignment="right" ></Label>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout row="0" col="1" class="top-holding"  orientation="vertical">
                        <GridLayout rows="*" columns="40, auto, *" class="" (tap)="navigate(holdings[1])">
                            <SVGImage row="0" col="0" class="pgr-arc-small" [src]="pgrNoTxt(holdings[1])"></SVGImage>
                            <Label row="0" col="1" class="ticker" [text]="holdings[1].symbol"></Label>
                            <Label row="0" col="2" class="percent-holding" [text]="holdings[1].weight.toFixed(2) + '%'" horizontalAlignment="right" ></Label>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout row="1" col="0" class="top-holding"  orientation="vertical" style="border-right-width:1; border-right-color:#eeeeee">
                        <GridLayout rows="*" columns="40, auto, *" class="" (tap)="navigate(holdings[2])">
                            <SVGImage row="0" col="0" class="pgr-arc-small" [src]="pgrNoTxt(holdings[2])"></SVGImage>
                            <Label row="0" col="1" class="ticker" [text]="holdings[2].symbol"></Label>
                            <Label row="0" col="2" class="percent-holding" [text]="holdings[2].weight.toFixed(2) + '%'"  horizontalAlignment="right" ></Label>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout row="1" col="1" class="top-holding" orientation="vertical" >
                        <GridLayout rows="*" columns="40, auto, *" class="" (tap)="navigate(holdings[3])">
                            <SVGImage row="0" col="0" class="pgr-arc-small" [src]="pgrNoTxt(holdings[3])"></SVGImage>
                            <Label row="0" col="1" class="ticker" [text]="holdings[3].symbol"></Label>
                            <Label row="0" col="2" class="percent-holding" [text]="holdings[3].weight.toFixed(2) + '%'" horizontalAlignment="right" ></Label>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout row="2" col="0" class="top-holding" orientation="vertical" style="border-right-width:1; border-right-color:#eeeeee">
                        <GridLayout rows="*" columns="40, auto, *" class="" (tap)="navigate(holdings[4])">
                            <SVGImage row="0" col="0" class="pgr-arc-small" [src]="pgrNoTxt(holdings[4])"></SVGImage>
                            <Label row="0" col="1" class="ticker" [text]="holdings[4].symbol"></Label>
                            <Label row="0" col="2" class="percent-holding" [text]="holdings[4].weight.toFixed(2) + '%'" horizontalAlignment="right" ></Label>
                        </GridLayout>
                    </StackLayout>

                    <StackLayout row="2" col="1" class="top-holding" orientation="vertical" *ngIf="holdings[5]">
                        <GridLayout rows="*" columns="40, auto, *" class="" (tap)="navigate(holdings[5])">
                            <SVGImage row="0" col="0" class="pgr-arc-small" [src]="pgrNoTxt(holdings[5])"></SVGImage>
                            <Label row="0" col="1" class="ticker" [text]="holdings[5].symbol"></Label>
                            <Label row="0" col="2" class="percent-holding" [text]="holdings[5].weight.toFixed(2) + '%'" horizontalAlignment="right" ></Label>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </GridLayout>  

        <!-- TOGGLE 2 -->
        <GridLayout columns="*" rows="auto, auto, auto, auto" class="" id="toggle--rating" *ngIf="menu == 'rating'" height="100%">

            <!-- NO RATING -->
            <GridLayout columns="*", rows="auto, auto, auto, auto" row="0" col="0" *ngIf="noRating">
                <Label text=""></Label>
            </GridLayout>

            <!-- PGR RATING -->
            <GridLayout columns="*,*" rows="68" class="detail__PGR-bar detail__PGR-bar--LARGE" col="0" row="0">
                <StackLayout row="0" col="0" colspan="2">
                    <GridLayout [columns]="getCols()" rows="20, 38" verticalAlignment="bottom" class="detail__PGR-powerbar">
                        <Label row="0" col="0" colSpan="3" class="pgr-label" text="OVERALL POWER BAR RATING:" verticalAlignment="bottom"></Label>
                        <Button row="1" col="0" class="powerbar powerbar--green" style="width:auto;"></Button>
                        <Button row="1" col="1" class="powerbar powerbar--yellow" style="width:auto;"></Button>
                        <Button row="1" col="2" class="powerbar powerbar--red" style="width:auto;"></Button>
                        <Button row="1" col="0" class="powerbar-txt" [text]="etf.details.powerbar.bulls"></Button>
                        <Button row="1" col="1" class="powerbar-txt powerbar-txt--yellow" [text]="etf.details.powerbar.neutrals"></Button>
                        <Button row="1" col="2" class="powerbar-txt" [text]="etf.details.powerbar.bears"></Button>
                    </GridLayout>
                </StackLayout>
            </GridLayout>

            <!-- PGR SUMMARY -->
            <GridLayout columns="*" rows="auto" class="pgr-statement" col="0" row="1" *ngIf="rating">
                <StackLayout row="1" col="0" class="pgr-statement--body" textWrap="true" style="margin-bottom: 0; margin-top: 10; padding-bottom:0;" *ngIf="rating">
                    <Label class="body-copy" textWrap="true">
                        <FormattedString *ngIf="etf.pgr.val > 0">
                            <Span [text]="rating.sentance1A"></Span>
                            <Span class="bolder" [text]="rating.sentance1B"></Span>
                            <Span [text]="rating.sentance2A"></Span>
                            <Span class="bolder" [text]="rating.sentance2B"></Span>
                            <Span class="bolder" [text]="rating.sentance2C"></Span>
                            <Span [text]="rating.sentance3"></Span>
                        </FormattedString>

                        <FormattedString *ngIf="rating.header">
                            <Span class="bolder" [text]="rating.header"></Span>
                            <Span [text]="rating.one"></Span>
                            <Span [text]="rating.two"></Span>
                            <Span [text]="rating.three"></Span>
                        </FormattedString>
                    </Label>
                </StackLayout>
            </GridLayout>

            <!-- TECHNICALS STATS -->
            <GridLayout columns="*,*" rows="auto, auto, auto, auto, auto, auto, auto, auto" class="technicals__container" col="0" row="3" *ngIf="loaded.rating && rating.Assets">
                <Label col="0" row="0" class="detail-data label striped" text="AUM"></Label>
                <Label col="1" row="0" class="detail-data data striped" [text]="rating.Assets"></Label>
                <Label col="0" row="1" class="detail-data label" text="Avg Vol"></Label>
                <Label col="1" row="1" class="detail-data data" [text]="rating.avg_daily_volume"></Label>
                <Label col="0" row="2" class="detail-data label striped" text="Exp Ratio"></Label>
                <Label col="1" row="2" class="detail-data data striped" [text]="rating.expense_ratio"></Label>
                <Label col="0" row="3" class="detail-data label" text="Div Yield"></Label>
                <Label col="1" row="3" class="detail-data data" [text]="rating.divident_yield"></Label>
                <Label col="0" row="4" class="detail-data label striped" text="Mgmt Style"></Label>
                <Label col="1" row="4" class="detail-data data striped" [text]="rating.management"></Label>
                <Label col="0" row="5" class="detail-data label" text="Beta"></Label>
                <Label col="1" row="5" class="detail-data data" [text]="rating.beta"></Label>
                <Label col="0" row="6" class="detail-data label striped" text="Holds"></Label>
                <Label col="1" row="6" class="detail-data data striped" [text]="rating.holdings"></Label>
                <Label col="0" row="7" class="detail-data label" text="Strategy"></Label>
                <Label col="1" row="7" class="detail-data data" [text]="rating.strategy"></Label>
            </GridLayout>
        </GridLayout>
    </StackLayout>
</StackLayout>
