<ActionBar>
    <StackLayout>
        <Label style="font-weight: 500; font-size: 14" text="CHAIKIN NEWS"></Label>
        <Label style="font-weight: 400; font-size: 14;" [text]="stock.date"></Label>
    </StackLayout>
</ActionBar>

<StackLayout style="background-color: blue">
    <RadListView [items]="getNews" height="100%">
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout style="border-width: 1; border-color: black; margin: 4 4 0 4; border-radius: 7%;" columns="*,*" rows="auto, auto, auto, auto, auto" (tap)="onTap(item.url)">
                <Label style="padding: 4; margin: 0 4 0 4; font-weight: 400; font-size: 12; horizontal-align: right" [text]="item.date" col="1" row="0"></Label>
                <Label style="padding: 4; margin: 0 4 0 4; font-weight: 400; font-size: 12;" [text]="item.source" col="0" row="0"></Label>
                <Label textWrap="true" style="padding: 4; font-weight: 300; font-size: 11; margin: 0 4 0 4" row="2" colSpan="2" [text]="item.title"></Label>
                <Label textWrap="true" style="padding: 4; font-weight: 300; font-size: 11; margin: 0 4 0 4" row="4" colSpan="2" [text]="item.summary"></Label>
                <!--<Label *ngIf="item['image_urls']" row="0" col="0" [text]="item['image_urls']"></Label>-->
                <!--<Image *ngIf="item['image_urls']" [src]="item['image_urls']"></Image>-->
            </GridLayout>
        </ng-template>

    </RadListView>
</StackLayout>