<ActionBar flat="true" style="visibility: collapse"></ActionBar>

<StackLayout height="100%" class="settings__container">
	<StackLayout class="settings__page">
		<GridLayout rows="52,52" columns="auto,*,44" class="header">
			<Button row="0" col="0" class="fas icon--logout" text="&#xf235; SIGN OUT" verticalAlignment="center" horizontalAlignment="left" (tap)="signOut()"></Button>
			<Button row="0" col="2" class="fal icon--close" text="&#xf00d;" verticalAlignment="center" horizontalAlignment="right" (tap)="goBack()"></Button>
			<Label row="1" col="0" colSpan="3" class="title" text="Settings"></Label>
		</GridLayout>

		<ScrollView orientation="vertical" *ngIf="ready">
			<StackLayout>
				<!--<StackLayout class="options__container options__container&#45;&#45;dropdown">-->
					<!--<GridLayout columns="*,50" rows="60, auto" class="options__item">-->
		                <!--<Button col="0" row="0" text="Manage Subscription" class="option-txt-lg" (tap)="manageSubs = !manageSubs" verticalAlignment="center"></Button>-->
                        <!--<Button col="1" row="0" text="&#xf054;" class="fal lst-icon lst-icon&#45;&#45;chevron" (tap)="manageSubs = !manageSubs"></Button>-->
                        <!--<StackLayout row="1" col="0" colSpan="2" *ngIf="manageSubs" class="drawer-drop">-->
                            <!--<GridLayout rows="40" columns="*, 40, auto" *ngFor="let item of products">-->
                                <!--<Label [text]="item.name" col="0" class="drop-item"></Label>-->
                                <!--<Button class="fas" text="&#xf410;" *ngIf="item.show" (tap)="remove(item)" col="1"></Button>-->
                                <!--<Label col="2" text="REMOVE" *ngIf="item.show" horizontalAlignment="left" class="button-label"></Label>-->
                            <!--</GridLayout>-->
                        <!--</StackLayout>-->
		            <!--</GridLayout>-->
				<!--</StackLayout>-->

				<StackLayout class="options__container">
					<GridLayout columns="*,50" rows="60" class="options__item" *ngIf="user.perms.premium == false">
		                <Button col="0" row="0" text="Upcoming Webinars" class="option-txt-lg" verticalAlignment="center" (tap)="linkOutWebinars()"></Button>
		                <Button col="1" row="0" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="linkOutWebinars()"></Button>
		            </GridLayout>
		            <GridLayout columns="*,50" rows="60" class="options__item">
		                <Button col="0" row="0" text="Chaikin Investment Blog" class="option-txt-lg" verticalAlignment="center" (tap)="linkOutBlog()"></Button>
		                <Button col="1" row="0" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="linkOutBlog()"></Button>
		            </GridLayout>
					<GridLayout columns="*,50" rows="60" class="options__item">
		                <Button col="0" row="0" text="About Chaikin Analytics" class="option-txt-lg" verticalAlignment="center" (tap)="linkOutAboutCA()"></Button>
		                <Button col="1" row="0" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="linkOutAboutCA()"></Button>
		            </GridLayout>
		            <GridLayout columns="*,50" rows="60" class="options__item">
		                <Button col="0" row="0" text="About the Power Gauge" class="option-txt-lg" verticalAlignment="center" (tap)="linkOutAboutPG()"></Button>
		                <Button col="1" row="0" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="linkOutAboutPG()"></Button>
		            </GridLayout>
				</StackLayout>

				<StackLayout class="options__container">
					<GridLayout columns="*,50" rows="60" class="options__item">
		                <Button col="0" row="0" text="Mobile User Guide" class="option-txt-lg" verticalAlignment="center" (tap)="linkOutFAQ()"></Button>
		                <Button col="1" row="0" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="linkOutFAQ()"></Button>
		            </GridLayout>
		        </StackLayout>

				<StackLayout class="options__container">
                    <GridLayout columns="*,50" rows="60" class="options__item">
                        <Button col="0" row="0" text="Privacy" class="option-txt-lg" verticalAlignment="center" (tap)="linkOutPrivacy()"></Button>
                        <Button col="1" row="0" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="linkOutPrivacy()"></Button>
                    </GridLayout>
                    <GridLayout columns="*,50" rows="60" class="options__item">
                        <Button col="0" row="0" text="Disclaimers" class="option-txt-lg" verticalAlignment="center" (tap)="linkOutDisclaimer()"></Button>
                        <Button col="1" row="0" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="linkOutDisclaimer()"></Button>
                    </GridLayout>
                    <GridLayout columns="*,50" rows="60" class="options__item">
                        <Button col="0" row="0" text="Terms of Service" class="option-txt-lg" verticalAlignment="center" (tap)="linkOutTOS()"></Button>
                        <Button col="1" row="0" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="linkOutTOS()"></Button>
                    </GridLayout>
                    <GridLayout columns="*,50" rows="60" class="options__item">
                        <Button col="0" row="0" text="Attributions" class="option-txt-lg" verticalAlignment="center" (tap)="linkOutAttributions()"></Button>
                        <Button col="1" row="0" text="&#xf054;" class="fal lst-icon lst-icon--chevron" (tap)="linkOutAttributions()"></Button>
                    </GridLayout>
				</StackLayout>
			</StackLayout>
		</ScrollView>
	</StackLayout>
</StackLayout>


